## Setup

In [ ]:
get_ipython().system(u' pip install beautifulsoup4')
!pip install lxml
!pip install beautifulsoup4 as bs4
!pip install pandasql
!pip install sportsipy

from statistics import mean
from lxml import html
from bs4 import BeautifulSoup
import urllib.request
import numpy as np
import re
import types
import pandas as pd
import pandasql
import time
from IPython.display import clear_output

Data = False

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.4.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (4.9.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as
Requirement already satisfied: pandasql in /usr/local/lib/python3.10/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.19)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Requirement already satisfied: sportsipy in /usr/local/lib/python3.10/dist-packages (0.6.0)
Requirement already satisfied: pandas>=0.24.1 in /usr/local/lib/python3.10/dist-packages (from sportsipy) (1.5.3)
Requirement already satisfied: pyquery>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from sportsipy) (2.0.0)
Requirement already satisfied: requests>=2.18.4 in /usr/local/lib/python3.10/dist-packages (from sportsipy) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.1->sportsipy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.1->sportsipy) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.1->sportsipy) (1.23.5)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.10/dist-packages (from pyquery>=1.4.0->sportsipy) (4.9.3)
Requirement already satisfied: cssselect>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pyquery>=1.4.0->sportsipy) (1.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.18.4->sportsipy) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.18.4->sportsipy) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.18.4->sportsipy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.18.4->sportsipy) (2023.7.22)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.24.1->sportsipy) (1.16.0)

In [ ]:
def get_Data(Team):

    team = Team.replace(' ','-')
    team = team.replace('(','').lower()
    team = team.replace(')','')
    team = team.replace('&','')
    team = team.replace('uconn','connecticut')
    team = team.replace('smu','southern-methodist')
    team = team.replace('ucf','central-florida')
    team = team.replace('usf','south-florida')
    team = team.replace('tcu','texas-christian')
    team = team.replace('fiu','florida-international')
    team = team.replace('fau','florida_atlantic')
    team = team.replace('middle-tennessee','middle-tennessee-state')
    team = team.replace('uab','alabama-birmingham')
    team = team.replace('southern-miss','southern-mississippi')
    team = team.replace('utep','texas-el-paso')
    team = team.replace('utsa','texas-san-antonio')
    team = team.replace('byu','brigham-young')
    team = team.replace('umass','massachusetts')
    team = team.replace('bowling-green','bowling-green-state')
    team = team.replace('unlv','nevada-las-vegas')
    team = team.replace('usc','southern-california')
    team = team.replace('lsu','louisiana-state')
    team = team.replace('ole-miss','mississippi')

    url="https://www.sports-reference.com/cfb/schools/{}/index.html".format(team)
    # use urllib and BeautifulSoup in order to open and copy the html code of the webpage to another variable
    page = urllib.request.urlopen(url)
    soup = BeautifulSoup(page, 'lxml')
    # use soup.find in order to pull out only the html code related to the data wanted
    record_list = soup.findAll('tr')
    #strip = record_list.text.strip()

    A = []
    B = []
    C = []
    D = []
    E = []
    F = []
    G = []
    H = []
    I = []
    J = []
    K = []
    L = []
    M = []
    N = []
    O = []
    P = []
    Q = []
    R = []

    Name = []

    for row in record_list:
        cells = row.findAll('td')
        if len(cells) == 18:
            A.append(cells[0].find(text=True))
            B.append(cells[1].find(text=True))
            C.append(cells[2].find(text=True))
            D.append(cells[3].find(text=True))
            E.append(cells[4].find(text=True))
            F.append(cells[5].find(text=True))
            G.append(cells[6].find(text=True))
            H.append(cells[7].find(text=True))
            I.append(cells[8].find(text=True))
            J.append(cells[9].find(text=True))
            K.append(cells[10].find(text=True))
            L.append(cells[11].find(text=True))
            M.append(cells[12].find(text=True))
            N.append(cells[13].find(text=True))
            O.append(cells[14].find(text=True))
            P.append(cells[15].find(text=True))
            Q.append(cells[16].find(text=True))
            R.append(cells[17].find(text=True))
    l = len(A)
    Name = [Team] * l
    df_Record = pd.DataFrame(Name,columns = ['Team'])
    df_Record['Year'] = A
    df_Record['Conference'] = B
    df_Record['Wins'] = C
    df_Record['Losses'] = D
    df_Record['Ties'] = E
    df_Record['Win %'] = F
    df_Record['C Wins'] = G
    df_Record['C Losses'] = H
    df_Record['C Ties'] = I
    df_Record['C %'] = J
    df_Record['SRS'] = K
    df_Record['SOS'] = L
    df_Record['AP Pre'] = M
    df_Record['AP High'] = N
    df_Record['AP Post'] = O
    df_Record['Year'] = df_Record['Year'].astype(int)


    Diff = []
    for Pre, Post, Year in zip(df_Record['AP Pre'],df_Record['AP Post'], df_Record['Year']):
        if Year > 1988:
            if Pre == None:
                Pre = 26
            if Post == None:
                Post = 26

        if Year > 1967 & Year <= 1988:
            if Pre == None:
                Pre = 21
            if Post == None:
                Post = 21

        if Year > 1961 & Year <= 1967:
            if Pre == None:
                Pre = 11
            if Post == None:
                Post = 11

        if Year > 1949 & Year <= 1961:
            if Pre == None:
                Pre = 21
            if Post == None:
                Post = 21
        if Year < 1950:
            Diff.append('None')
        else:
            Diff.append(int(int(Pre) - int(Post)))

        Name.append(Team)

    df_Record['AP Diff'] = Diff
    df_Record['Coach(es)'] = P
    df_Record['Bowl'] = Q
    df_Record['Notes'] = R

    #df_Record['AP Diff'] = df_Record['AP Diff'].astype(int)



    return(df_Record)

In [ ]:
def get_List(Team, df_Record):

    List = [Team]
    O_5 = 0
    U_5 = 0
    E_5 = 0
    O_20 = 0
    U_20 = 0
    E_20 = 0
    O = 0
    U = 0
    E = 0

    Last_5 = df_Record[(df_Record['Year'] > 2015) & (df_Record['Year'] < 2021)]
    Mean_5 = mean(Last_5['AP Diff'].tolist())
    List.append(Mean_5)

    for diff in Last_5['AP Diff']:
        if diff == None:
            E_5 = E_5 + 1
        elif int(diff) < 0:
            O_5 = O_5 + 1
        elif int(diff) > 0:
            U_5 = U_5 + 1
        elif int(diff) == 0:
            E_5 = E_5 + 1
    Stat_5 = str(O_5)+"/"+str(U_5)+"/"+str(E_5)
    List.append(Stat_5)

    Last_20 = df_Record[(df_Record['Year'] > 2000) & (df_Record['Year'] < 2021)]
    Mean_20 = mean(Last_20['AP Diff'].tolist())
    List.append(Mean_20)

    for diff in Last_20['AP Diff']:
        if diff == None:
            E_20 = E_20 + 1
        elif int(diff) < 0:
            O_20 = O_20 + 1
        elif int(diff) > 0:
            U_20 = U_20 + 1
        elif int(diff) == 0:
            E_20 = E_20 + 1
    Stat_20 = str(O_20)+"/"+str(U_20)+"/"+str(E_20)
    List.append(Stat_20)

    All_Time = df_Record[(df_Record['Year'] > 1949) & (df_Record['Year'] < 2021)]
    Mean = mean(All_Time['AP Diff'].tolist())
    List.append(Mean)

    for diff in All_Time['AP Diff']:
        if diff == None:
            E = E + 1
        elif int(diff) < 0:
            O = O + 1
        elif int(diff) > 0:
            U = U + 1
        elif int(diff) == 0:
            E = E + 1
    Stat = str(O)+"/"+str(U)+"/"+str(E)
    List.append(Stat)

    return(List)

In [ ]:
ACC = ['Boston College','Clemson','Duke','Florida State','Georgia Tech','Louisville','Miami (FL)','North Carolina','North Carolina State','Notre Dame','Pittsburgh','Syracuse','Virginia','Virginia Tech','Wake Forest' ]
AAC = ['Cincinnati','East Carolina','Houston','Memphis','Navy','SMU','South Florida','Temple','Tulane','Tulsa','UCF']
Big_Ten = ['Illinois','Indiana','Iowa','Maryland','Michigan','Michigan State','Minnesota','Nebraska','Northwestern','Ohio State','Penn State','Purdue','Rutgers','Wisconsin']
Big_12 = ['Baylor','Iowa State','Kansas','Kansas State','Oklahoma','Oklahoma State','TCU','Texas','Texas Tech','West Virginia']
Conference_USA = ['Charlotte','FIU','Florida Atlantic','Louisiana Tech','Marshall','Middle Tennessee','North Texas','Old Dominion','Rice','Southern Miss','UAB','UTEP','UTSA','Western Kentucky']
Independents = ['Army','BYU','Liberty','New Mexico State','UConn','UMass']
MAC = ['Akron','Ball State','Bowling Green','Buffalo','Central Michigan','Eastern Michigan','Kent State','Miami (OH)','Northern Illinois','Ohio','Toledo','Western Michigan']
Mountain_West = ['Air Force','Boise State','Colorado State','Fresno State','Hawaii','Nevada','New Mexico','San Diego State','San Jose State','UNLV','Utah State','Wyoming']
Pac_12 = ['Arizona','Arizona State','California','Colorado','Oregon','Oregon State','Stanford','UCLA','USC','Utah','Washington','Washington State']
SEC = ['Alabama','Arkansas','Auburn','Florida','Georgia','Kentucky','LSU','Mississippi State','Missouri','Ole Miss','South Carolina','Tennessee','Texas A&M','Vanderbilt']
Sun_Belt = ['Appalachian State','Arkansas State','Coastal Carolina','Georgia Southern','Georgia State','Louisiana-Lafayette','Louisiana-Monroe','South Alabama','Texas State','Troy']
FBS_Teams = ACC + AAC + Big_Ten + Big_12 + Conference_USA + Independents + MAC + Mountain_West + Pac_12 + SEC + Sun_Belt

## Rankings

In [ ]:
column_names = ["Team","5 Years","O/U/E 5 Years","20 Years","O/U/E 20 Years","All Time","O/U/E"]
df_All_Teams = pd.DataFrame(columns = column_names)

if Data == False:
    for Team in FBS_Teams:
        clear_output(wait=True)
        print(Team)
        Team_Data = get_Data(Team)
        Team_List = get_List(Team, Team_Data)
        to_append = Team_List
        df_length = len(df_All_Teams)
        df_All_Teams.loc[df_length] = to_append

SyntaxError: ignored

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

df_All_Teams.sort_values(by= ['All Time'], axis = 0, ascending = False, inplace = True)
df_All_Teams

,Team,5 Years,O/U/E 5 Years,20 Years,O/U/E 20 Years,All Time,O/U/E
122,Coastal Carolina,3,0/1/3,3.000000,0/1/3,3.000000,0/1/3
66,Liberty,3,0/1/2,3.000000,0/1/2,3.000000,0/1/2
83,Boise State,1.2,1/2/2,3.700000,7/10/3,2.960000,7/10/8
25,UCF,3.6,2/2/1,1.950000,2/4/14,1.560000,2/4/19
65,BYU,3,0/1/4,1.850000,1/5/14,1.169014,9/13/49
105,Washington State,2.2,2/1/2,2.250000,2/4/14,1.154930,3/10/58
103,Utah,-0.6,2/1/2,2.850000,2/7/11,1.028169,2/8/61
0,Boston College,0,0/0/5,1.800000,0/5/15,0.929577,1/11/59
28,Iowa,1,1/3/1,2.400000,4/9/7,0.901408,12/22/37
15,Cincinnati,3.8,0/3/2,2.800000,0/7/13,0.835821,0/7/60
82,Air Force,0.8,0/1/4,0.200000,0/1/19,0.828125,0/8/56
40,Baylor,2,1/1/3,1.500000,2/4/14,0.788732,5/10/56
43,Kansas State,-1.2,1/0/4,0.150000,4/4/12,0.788732,7/10/54
114,Missouri,0,0/0/5,1.650000,4/4/12,0.788732,9/13/49
98,Oregon,-3,3/1/1,-0.150000,9/9/2,0.746479,9/14/48
77,Miami (OH),0,0/0/5,0.800000,0/1/19,0.694915,1/4/54
48,Texas Tech,0,0/0/5,0.850000,1/4/15,0.676056,2/10/59
17,Houston,-2.2,1/0/4,0.750000,1/2/17,0.577465,7/11/53
111,Kentucky,2.8,0/1/4,0.700000,0/1/19,0.563380,2/8/61
32,Minnesota,1.8,1/1/3,0.700000,2/2/16,0.549296,7/6/58
46,TCU,-1.2,2/1/2,2.400000,6/7/7,0.521127,11/10/50
87,Nevada,0,0/0/5,0.750000,0/1/19,0.500000,0/1/29
45,Oklahoma State,0.2,2/1/2,0.300000,6/5/9,0.492958,9/10/52
34,Northwestern,6,0/3/2,1.400000,2/5/13,0.492958,6/7/58
42,Kansas,0,0/0/5,0.300000,2/1/17,0.464789,6/6/59
95,Arizona State,0,0/0/5,-0.250000,5/4/11,0.464789,16/13/42
4,Georgia Tech,0,0/0/5,-0.500000,3/3/14,0.450704,9/14/48
115,Ole Miss,-3,1/0/4,0.300000,2/4/14,0.422535,8/18/45
120,Appalachian State,1.4,0/1/4,1.000000,0/1/6,0.411765,0/1/16
107,Arkansas,0,0/0/5,-0.150000,3/3/14,0.394366,16/20/35
8,North Carolina State,0.6,0/1/4,0.400000,1/3/16,0.394366,5/10/56
99,Oregon State,0,0/0/5,0.100000,3/4/13,0.366197,4/10/57
80,Toledo,0,0/0/5,0.150000,0/1/19,0.355932,0/4/55
19,Navy,1.2,0/1/4,0.800000,0/3/17,0.352113,5/7/59
23,Tulane,0,0/0/5,0.000000,0/0/20,0.352113,0/4/67
92,Utah State,0.8,0/1/4,0.700000,0/2/18,0.352113,0/3/68
113,Mississippi State,-0.2,1/1/3,0.650000,3/3/14,0.323944,8/10/53
16,East Carolina,0,0/0/5,0.000000,0/0/20,0.321429,0/2/54
54,Marshall,0,0/0/5,-0.100000,1/1/18,0.318182,1/2/41
59,Southern Miss,0,0/0/5,0.300000,0/1/19,0.293103,2/3/53
5,Louisville,-2.4,2/0/3,0.000000,6/5/9,0.288136,6/8/45
24,Tulsa,0,0/0/5,0.100000,0/1/19,0.267606,0/4/67
85,Fresno State,1.6,0/1/4,0.500000,1/2/17,0.230769,1/3/48
125,Louisiana-Lafayette,2.2,0/1/4,0.550000,0/1/19,0.229167,0/1/47
84,Colorado State,0,0/0/5,-0.250000,2/0/18,0.211268,3/3/65
86,Hawaii,0,0/0/5,0.200000,0/1/19,0.208333,0/2/46
81,Western Michigan,2.2,0/1/4,0.550000,0/1/19,0.186441,0/1/58
93,Wyoming,0,0/0/5,0.000000,0/0/20,0.183099,1/3/67
31,Michigan State,-5.2,3/1/1,-0.100000,6/6/8,0.183099,23/17/31
18,Memphis,2,0/2/3,0.550000,0/3/17,0.180328,0/3/58
63,Western Kentucky,0,0/0/5,0.166667,0/1/11,0.166667,0/1/11
20,SMU,0,0/0/5,0.000000,0/0/20,0.159420,4/8/57
29,Maryland,0,0/0/5,1.000000,2/3/15,0.154930,9/13/49
41,Iowa State,1.8,1/1/3,0.450000,1/1/18,0.154930,2/3/66
116,South Carolina,0,0/0/5,-0.150000,2/5/13,0.126761,6/9/56
27,Indiana,2.8,0/1/4,0.700000,0/1/19,0.126761,2/4/65
89,San Diego State,0.2,0/1/4,0.050000,0/1/19,0.115385,0/2/50
2,Duke,0,0/0/5,0.150000,0/1/19,0.112676,4/6/61
90,San Jose State,0.4,0/1/4,0.350000,0/2/18,0.098592,0/2/69
58,Rice,0,0/0/5,0.000000,0/0/20,0.084507,1/2/68
14,Wake Forest,0,0/0/5,0.250000,1/1/18,0.084507,1/2/68
78,Northern Illinois,0,0/0/5,0.200000,0/1/19,0.075472,0/1/52
22,Temple,0,0/0/5,0.000000,0/0/20,0.075472,0/1/52
119,Vanderbilt,0,0/0/5,0.250000,0/2/18,0.070423,0/2/69
74,Central Michigan,0,0/0/5,0.150000,0/1/19,0.065217,0/1/45
71,Ball State,0.6,0/1/4,0.150000,0/1/19,0.065217,0/1/45
67,New Mexico State,0,0/0/5,0.000000,0/0/20,0.056338,0/1/70
72,Bowling Green,0,0/0/5,0.150000,0/1/19,0.050847,0/1/58
73,Buffalo,0.2,0/1/4,0.050000,0/1/19,0.032258,0/1/30
39,Wisconsin,-1.8,2/3/0,-0.600000,9/11/0,0.028169,16/19/36
12,Virginia,0,0/0/5,-0.600000,3/1/16,0.028169,7/6/58
100,Stanford,-4.8,4/0/1,0.900000,6/4/10,0.028169,17/13/41
79,Ohio,0,0/0/5,0.000000,0/0/20,0.016949,0/1/58
110,Georgia,-0.6,4/1/0,-2.500000,11/8/1,0.014085,22/24/25
6,Miami (FL),-0.6,1/3/1,-1.900000,7/5/8,0.014085,19/21/31
64,Army,1.4,0/1/4,0.350000,0/1/19,0.014085,3/5/63
49,West Virginia,0.2,2/1/2,-1.200000,8/5/7,0.014085,15/13/43
126,Louisiana-Monroe,0,0/0/5,0.000000,0/0/20,0.000000,0/0/34
91,UNLV,0,0/0/5,0.000000,0/0/20,0.000000,0/0/43
127,South Alabama,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
124,Georgia State,0,0/0/5,0.000000,0/0/8,0.000000,0/0/8
123,Georgia Southern,0,0/0/5,0.000000,0/0/7,0.000000,0/0/7
88,New Mexico,0,0/0/5,0.000000,0/0/20,0.000000,0/0/71
128,Texas State,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
121,Arkansas State,0,0/0/5,0.000000,0/0/20,0.000000,0/0/39
69,UMass,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
76,Kent State,0,0/0/5,0.000000,0/0/20,0.000000,0/0/59
57,Old Dominion,0,0/0/5,0.000000,0/0/7,0.000000,0/0/7
50,Charlotte,0,0/0/5,0.000000,0/0/6,0.000000,0/0/6
51,FIU,0,0/0/5,0.000000,0/0/17,0.000000,0/0/17
75,Eastern Michigan,0,0/0/5,0.000000,0/0/20,0.000000,0/0/46
52,Florida Atlantic,0,0/0/5,0.000000,0/0/17,0.000000,0/0/17
53,Louisiana Tech,0,0/0/5,0.000000,0/0/20,0.000000,0/0/40
55,Middle Tennessee,0,0/0/5,0.000000,0/0/20,0.000000,0/0/22
56,North Texas,0,0/0/5,0.000000,0/0/20,0.000000,0/0/56
129,Troy,0,0/0/5,0.000000,0/0/20,0.000000,0/0/20
60,UAB,0,0/0/4,0.000000,0/0/18,0.000000,0/0/23
61,UTEP,0,0/0/5,0.000000,0/0/20,0.000000,0/0/71
70,Akron,0,0/0/5,0.000000,0/0/20,0.000000,0/0/35
62,UTSA,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
68,UConn,0,0/0/5,0.000000,0/0/20,0.000000,0/0/22
11,Syracuse,1.4,1/1/3,0.950000,1/2/17,-0.014085,12/11/48
38,Rutgers,0,0/0/5,0.200000,1/1/18,-0.014085,2/2/67
97,Colorado,1.8,0/1/4,0.650000,1/2/17,-0.042254,13/11/47
1,Clemson,0,2/3/0,-0.450000,6/11/3,-0.070423,16/23/32
13,Virginia Tech,0.2,2/1/2,-1.850000,10/4/6,-0.070423,12/11/48
21,South Florida,1,1/1/3,-0.100000,2/1/17,-0.095238,2/1/18
37,Purdue,0,0/0/5,-0.600000,2/1/17,-0.098592,10/10/51
26,Illinois,0,0/0/5,0.700000,1/2/17,-0.154930,11/9/51
7,North Carolina,-0.8,1/0/4,-0.450000,4/1/15,-0.183099,13/11/47
108,Auburn,-5.2,2/3/0,-1.450000,8/9/3,-0.239437,25/27/19
106,Alabama,-1.2,3/1/1,1.750000,7/8/5,-0.253521,31/27/13
94,Arizona,0,0/0/5,0.150000,1/1/18,-0.352113,8/4/59
101,UCLA,-2,1/0/4,-1.600000,5/2/13,-0.591549,28/18/25
36,Penn State,-0.6,3/2/0,1.050000,6/5/9,-0.591549,26/24/21
96,California,0,0/0/5,-1.800000,4/1/15,-0.619718,10/6/55
10,Pittsburgh,0,0/0/5,-0.600000,4/3/13,-0.647887,15/12/44
117,Tennessee,-3,3/0/2,-3.050000,8/4/8,-0.718310,27/15/29
112,LSU,-1.8,3/2/0,-2.350000,12/8/0,-0.887324,24/20/27
118,Texas A&M,1,1/2/2,-0.700000,7/4/9,-0.915493,22/15/34
104,Washington,-3.6,3/1/1,-2.400000,7/2/11,-1.042254,25/15/31
109,Florida,3.6,2/3/0,-2.250000,11/8/1,-1.084507,32/18/21
35,Ohio State,0.2,1/2/2,-0.350000,10/8/2,-1.605634,40/22/9
3,Florida State,-6.8,3/0/2,-5.900000,14/4/2,-1.611940,25/13/29
33,Nebraska,-0.4,1/0/4,-3.050000,10/3/7,-1.718310,32/18/21
30,Michigan,-7.8,4/0/1,-3.900000,11/4/5,-2.140845,38/19/14
47,Texas,-1.8,3/1/1,-3.000000,10/4/6,-2.267606,34/18/19
9,Notre Dame,1.6,2/3/0,-0.050000,9/6/5,-2.366197,41/19/11
44,Oklahoma,0.2,3/2/0,-3.550000,14/5/1,-2.521127,36/19/16
102,USC,-1.2,3/1/1,-1.900000,10/6/4,-2.887324,40/19/12

In [ ]:
df_All_Teams.sort_values(by= ['20 Years'], axis = 0, ascending = False, inplace = True)
df_All_Teams

,Team,5 Years,O/U/E 5 Years,20 Years,O/U/E 20 Years,All Time,O/U/E
83,Boise State,1.2,1/2/2,3.700000,7/10/3,2.960000,7/10/8
122,Coastal Carolina,3,0/1/3,3.000000,0/1/3,3.000000,0/1/3
66,Liberty,3,0/1/2,3.000000,0/1/2,3.000000,0/1/2
103,Utah,-0.6,2/1/2,2.850000,2/7/11,1.028169,2/8/61
15,Cincinnati,3.8,0/3/2,2.800000,0/7/13,0.835821,0/7/60
28,Iowa,1,1/3/1,2.400000,4/9/7,0.901408,12/22/37
46,TCU,-1.2,2/1/2,2.400000,6/7/7,0.521127,11/10/50
105,Washington State,2.2,2/1/2,2.250000,2/4/14,1.154930,3/10/58
25,UCF,3.6,2/2/1,1.950000,2/4/14,1.560000,2/4/19
65,BYU,3,0/1/4,1.850000,1/5/14,1.169014,9/13/49
0,Boston College,0,0/0/5,1.800000,0/5/15,0.929577,1/11/59
106,Alabama,-1.2,3/1/1,1.750000,7/8/5,-0.253521,31/27/13
114,Missouri,0,0/0/5,1.650000,4/4/12,0.788732,9/13/49
40,Baylor,2,1/1/3,1.500000,2/4/14,0.788732,5/10/56
34,Northwestern,6,0/3/2,1.400000,2/5/13,0.492958,6/7/58
36,Penn State,-0.6,3/2/0,1.050000,6/5/9,-0.591549,26/24/21
29,Maryland,0,0/0/5,1.000000,2/3/15,0.154930,9/13/49
120,Appalachian State,1.4,0/1/4,1.000000,0/1/6,0.411765,0/1/16
11,Syracuse,1.4,1/1/3,0.950000,1/2/17,-0.014085,12/11/48
100,Stanford,-4.8,4/0/1,0.900000,6/4/10,0.028169,17/13/41
48,Texas Tech,0,0/0/5,0.850000,1/4/15,0.676056,2/10/59
77,Miami (OH),0,0/0/5,0.800000,0/1/19,0.694915,1/4/54
19,Navy,1.2,0/1/4,0.800000,0/3/17,0.352113,5/7/59
17,Houston,-2.2,1/0/4,0.750000,1/2/17,0.577465,7/11/53
87,Nevada,0,0/0/5,0.750000,0/1/19,0.500000,0/1/29
92,Utah State,0.8,0/1/4,0.700000,0/2/18,0.352113,0/3/68
27,Indiana,2.8,0/1/4,0.700000,0/1/19,0.126761,2/4/65
26,Illinois,0,0/0/5,0.700000,1/2/17,-0.154930,11/9/51
32,Minnesota,1.8,1/1/3,0.700000,2/2/16,0.549296,7/6/58
111,Kentucky,2.8,0/1/4,0.700000,0/1/19,0.563380,2/8/61
97,Colorado,1.8,0/1/4,0.650000,1/2/17,-0.042254,13/11/47
113,Mississippi State,-0.2,1/1/3,0.650000,3/3/14,0.323944,8/10/53
81,Western Michigan,2.2,0/1/4,0.550000,0/1/19,0.186441,0/1/58
18,Memphis,2,0/2/3,0.550000,0/3/17,0.180328,0/3/58
125,Louisiana-Lafayette,2.2,0/1/4,0.550000,0/1/19,0.229167,0/1/47
85,Fresno State,1.6,0/1/4,0.500000,1/2/17,0.230769,1/3/48
41,Iowa State,1.8,1/1/3,0.450000,1/1/18,0.154930,2/3/66
8,North Carolina State,0.6,0/1/4,0.400000,1/3/16,0.394366,5/10/56
90,San Jose State,0.4,0/1/4,0.350000,0/2/18,0.098592,0/2/69
64,Army,1.4,0/1/4,0.350000,0/1/19,0.014085,3/5/63
115,Ole Miss,-3,1/0/4,0.300000,2/4/14,0.422535,8/18/45
59,Southern Miss,0,0/0/5,0.300000,0/1/19,0.293103,2/3/53
42,Kansas,0,0/0/5,0.300000,2/1/17,0.464789,6/6/59
45,Oklahoma State,0.2,2/1/2,0.300000,6/5/9,0.492958,9/10/52
119,Vanderbilt,0,0/0/5,0.250000,0/2/18,0.070423,0/2/69
14,Wake Forest,0,0/0/5,0.250000,1/1/18,0.084507,1/2/68
86,Hawaii,0,0/0/5,0.200000,0/1/19,0.208333,0/2/46
38,Rutgers,0,0/0/5,0.200000,1/1/18,-0.014085,2/2/67
78,Northern Illinois,0,0/0/5,0.200000,0/1/19,0.075472,0/1/52
82,Air Force,0.8,0/1/4,0.200000,0/1/19,0.828125,0/8/56
63,Western Kentucky,0,0/0/5,0.166667,0/1/11,0.166667,0/1/11
74,Central Michigan,0,0/0/5,0.150000,0/1/19,0.065217,0/1/45
72,Bowling Green,0,0/0/5,0.150000,0/1/19,0.050847,0/1/58
94,Arizona,0,0/0/5,0.150000,1/1/18,-0.352113,8/4/59
2,Duke,0,0/0/5,0.150000,0/1/19,0.112676,4/6/61
71,Ball State,0.6,0/1/4,0.150000,0/1/19,0.065217,0/1/45
43,Kansas State,-1.2,1/0/4,0.150000,4/4/12,0.788732,7/10/54
80,Toledo,0,0/0/5,0.150000,0/1/19,0.355932,0/4/55
24,Tulsa,0,0/0/5,0.100000,0/1/19,0.267606,0/4/67
99,Oregon State,0,0/0/5,0.100000,3/4/13,0.366197,4/10/57
89,San Diego State,0.2,0/1/4,0.050000,0/1/19,0.115385,0/2/50
73,Buffalo,0.2,0/1/4,0.050000,0/1/19,0.032258,0/1/30
62,UTSA,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
75,Eastern Michigan,0,0/0/5,0.000000,0/0/20,0.000000,0/0/46
128,Texas State,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
121,Arkansas State,0,0/0/5,0.000000,0/0/20,0.000000,0/0/39
69,UMass,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
76,Kent State,0,0/0/5,0.000000,0/0/20,0.000000,0/0/59
57,Old Dominion,0,0/0/5,0.000000,0/0/7,0.000000,0/0/7
50,Charlotte,0,0/0/5,0.000000,0/0/6,0.000000,0/0/6
51,FIU,0,0/0/5,0.000000,0/0/17,0.000000,0/0/17
52,Florida Atlantic,0,0/0/5,0.000000,0/0/17,0.000000,0/0/17
70,Akron,0,0/0/5,0.000000,0/0/20,0.000000,0/0/35
53,Louisiana Tech,0,0/0/5,0.000000,0/0/20,0.000000,0/0/40
56,North Texas,0,0/0/5,0.000000,0/0/20,0.000000,0/0/56
123,Georgia Southern,0,0/0/5,0.000000,0/0/7,0.000000,0/0/7
129,Troy,0,0/0/5,0.000000,0/0/20,0.000000,0/0/20
60,UAB,0,0/0/4,0.000000,0/0/18,0.000000,0/0/23
61,UTEP,0,0/0/5,0.000000,0/0/20,0.000000,0/0/71
68,UConn,0,0/0/5,0.000000,0/0/20,0.000000,0/0/22
88,New Mexico,0,0/0/5,0.000000,0/0/20,0.000000,0/0/71
55,Middle Tennessee,0,0/0/5,0.000000,0/0/20,0.000000,0/0/22
124,Georgia State,0,0/0/5,0.000000,0/0/8,0.000000,0/0/8
5,Louisville,-2.4,2/0/3,0.000000,6/5/9,0.288136,6/8/45
91,UNLV,0,0/0/5,0.000000,0/0/20,0.000000,0/0/43
126,Louisiana-Monroe,0,0/0/5,0.000000,0/0/20,0.000000,0/0/34
23,Tulane,0,0/0/5,0.000000,0/0/20,0.352113,0/4/67
20,SMU,0,0/0/5,0.000000,0/0/20,0.159420,4/8/57
127,South Alabama,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
79,Ohio,0,0/0/5,0.000000,0/0/20,0.016949,0/1/58
16,East Carolina,0,0/0/5,0.000000,0/0/20,0.321429,0/2/54
58,Rice,0,0/0/5,0.000000,0/0/20,0.084507,1/2/68
93,Wyoming,0,0/0/5,0.000000,0/0/20,0.183099,1/3/67
22,Temple,0,0/0/5,0.000000,0/0/20,0.075472,0/1/52
67,New Mexico State,0,0/0/5,0.000000,0/0/20,0.056338,0/1/70
9,Notre Dame,1.6,2/3/0,-0.050000,9/6/5,-2.366197,41/19/11
31,Michigan State,-5.2,3/1/1,-0.100000,6/6/8,0.183099,23/17/31
21,South Florida,1,1/1/3,-0.100000,2/1/17,-0.095238,2/1/18
54,Marshall,0,0/0/5,-0.100000,1/1/18,0.318182,1/2/41
116,South Carolina,0,0/0/5,-0.150000,2/5/13,0.126761,6/9/56
98,Oregon,-3,3/1/1,-0.150000,9/9/2,0.746479,9/14/48
107,Arkansas,0,0/0/5,-0.150000,3/3/14,0.394366,16/20/35
84,Colorado State,0,0/0/5,-0.250000,2/0/18,0.211268,3/3/65
95,Arizona State,0,0/0/5,-0.250000,5/4/11,0.464789,16/13/42
35,Ohio State,0.2,1/2/2,-0.350000,10/8/2,-1.605634,40/22/9
7,North Carolina,-0.8,1/0/4,-0.450000,4/1/15,-0.183099,13/11/47
1,Clemson,0,2/3/0,-0.450000,6/11/3,-0.070423,16/23/32
4,Georgia Tech,0,0/0/5,-0.500000,3/3/14,0.450704,9/14/48
37,Purdue,0,0/0/5,-0.600000,2/1/17,-0.098592,10/10/51
12,Virginia,0,0/0/5,-0.600000,3/1/16,0.028169,7/6/58
39,Wisconsin,-1.8,2/3/0,-0.600000,9/11/0,0.028169,16/19/36
10,Pittsburgh,0,0/0/5,-0.600000,4/3/13,-0.647887,15/12/44
118,Texas A&M,1,1/2/2,-0.700000,7/4/9,-0.915493,22/15/34
49,West Virginia,0.2,2/1/2,-1.200000,8/5/7,0.014085,15/13/43
108,Auburn,-5.2,2/3/0,-1.450000,8/9/3,-0.239437,25/27/19
101,UCLA,-2,1/0/4,-1.600000,5/2/13,-0.591549,28/18/25
96,California,0,0/0/5,-1.800000,4/1/15,-0.619718,10/6/55
13,Virginia Tech,0.2,2/1/2,-1.850000,10/4/6,-0.070423,12/11/48
6,Miami (FL),-0.6,1/3/1,-1.900000,7/5/8,0.014085,19/21/31
102,USC,-1.2,3/1/1,-1.900000,10/6/4,-2.887324,40/19/12
109,Florida,3.6,2/3/0,-2.250000,11/8/1,-1.084507,32/18/21
112,LSU,-1.8,3/2/0,-2.350000,12/8/0,-0.887324,24/20/27
104,Washington,-3.6,3/1/1,-2.400000,7/2/11,-1.042254,25/15/31
110,Georgia,-0.6,4/1/0,-2.500000,11/8/1,0.014085,22/24/25
47,Texas,-1.8,3/1/1,-3.000000,10/4/6,-2.267606,34/18/19
117,Tennessee,-3,3/0/2,-3.050000,8/4/8,-0.718310,27/15/29
33,Nebraska,-0.4,1/0/4,-3.050000,10/3/7,-1.718310,32/18/21
44,Oklahoma,0.2,3/2/0,-3.550000,14/5/1,-2.521127,36/19/16
30,Michigan,-7.8,4/0/1,-3.900000,11/4/5,-2.140845,38/19/14
3,Florida State,-6.8,3/0/2,-5.900000,14/4/2,-1.611940,25/13/29

In [ ]:
df_All_Teams.sort_values(by= ['5 Years'], axis = 0, ascending = False, inplace = True)
df_All_Teams

,Team,5 Years,O/U/E 5 Years,20 Years,O/U/E 20 Years,All Time,O/U/E
34,Northwestern,6,0/3/2,1.400000,2/5/13,0.492958,6/7/58
15,Cincinnati,3.8,0/3/2,2.800000,0/7/13,0.835821,0/7/60
109,Florida,3.6,2/3/0,-2.250000,11/8/1,-1.084507,32/18/21
25,UCF,3.6,2/2/1,1.950000,2/4/14,1.560000,2/4/19
66,Liberty,3,0/1/2,3.000000,0/1/2,3.000000,0/1/2
122,Coastal Carolina,3,0/1/3,3.000000,0/1/3,3.000000,0/1/3
65,BYU,3,0/1/4,1.850000,1/5/14,1.169014,9/13/49
111,Kentucky,2.8,0/1/4,0.700000,0/1/19,0.563380,2/8/61
27,Indiana,2.8,0/1/4,0.700000,0/1/19,0.126761,2/4/65
81,Western Michigan,2.2,0/1/4,0.550000,0/1/19,0.186441,0/1/58
105,Washington State,2.2,2/1/2,2.250000,2/4/14,1.154930,3/10/58
125,Louisiana-Lafayette,2.2,0/1/4,0.550000,0/1/19,0.229167,0/1/47
40,Baylor,2,1/1/3,1.500000,2/4/14,0.788732,5/10/56
18,Memphis,2,0/2/3,0.550000,0/3/17,0.180328,0/3/58
41,Iowa State,1.8,1/1/3,0.450000,1/1/18,0.154930,2/3/66
97,Colorado,1.8,0/1/4,0.650000,1/2/17,-0.042254,13/11/47
32,Minnesota,1.8,1/1/3,0.700000,2/2/16,0.549296,7/6/58
9,Notre Dame,1.6,2/3/0,-0.050000,9/6/5,-2.366197,41/19/11
85,Fresno State,1.6,0/1/4,0.500000,1/2/17,0.230769,1/3/48
120,Appalachian State,1.4,0/1/4,1.000000,0/1/6,0.411765,0/1/16
11,Syracuse,1.4,1/1/3,0.950000,1/2/17,-0.014085,12/11/48
64,Army,1.4,0/1/4,0.350000,0/1/19,0.014085,3/5/63
83,Boise State,1.2,1/2/2,3.700000,7/10/3,2.960000,7/10/8
19,Navy,1.2,0/1/4,0.800000,0/3/17,0.352113,5/7/59
118,Texas A&M,1,1/2/2,-0.700000,7/4/9,-0.915493,22/15/34
28,Iowa,1,1/3/1,2.400000,4/9/7,0.901408,12/22/37
21,South Florida,1,1/1/3,-0.100000,2/1/17,-0.095238,2/1/18
92,Utah State,0.8,0/1/4,0.700000,0/2/18,0.352113,0/3/68
82,Air Force,0.8,0/1/4,0.200000,0/1/19,0.828125,0/8/56
71,Ball State,0.6,0/1/4,0.150000,0/1/19,0.065217,0/1/45
8,North Carolina State,0.6,0/1/4,0.400000,1/3/16,0.394366,5/10/56
90,San Jose State,0.4,0/1/4,0.350000,0/2/18,0.098592,0/2/69
44,Oklahoma,0.2,3/2/0,-3.550000,14/5/1,-2.521127,36/19/16
13,Virginia Tech,0.2,2/1/2,-1.850000,10/4/6,-0.070423,12/11/48
35,Ohio State,0.2,1/2/2,-0.350000,10/8/2,-1.605634,40/22/9
45,Oklahoma State,0.2,2/1/2,0.300000,6/5/9,0.492958,9/10/52
73,Buffalo,0.2,0/1/4,0.050000,0/1/19,0.032258,0/1/30
89,San Diego State,0.2,0/1/4,0.050000,0/1/19,0.115385,0/2/50
49,West Virginia,0.2,2/1/2,-1.200000,8/5/7,0.014085,15/13/43
20,SMU,0,0/0/5,0.000000,0/0/20,0.159420,4/8/57
60,UAB,0,0/0/4,0.000000,0/0/18,0.000000,0/0/23
55,Middle Tennessee,0,0/0/5,0.000000,0/0/20,0.000000,0/0/22
88,New Mexico,0,0/0/5,0.000000,0/0/20,0.000000,0/0/71
61,UTEP,0,0/0/5,0.000000,0/0/20,0.000000,0/0/71
68,UConn,0,0/0/5,0.000000,0/0/20,0.000000,0/0/22
129,Troy,0,0/0/5,0.000000,0/0/20,0.000000,0/0/20
123,Georgia Southern,0,0/0/5,0.000000,0/0/7,0.000000,0/0/7
124,Georgia State,0,0/0/5,0.000000,0/0/8,0.000000,0/0/8
91,UNLV,0,0/0/5,0.000000,0/0/20,0.000000,0/0/43
56,North Texas,0,0/0/5,0.000000,0/0/20,0.000000,0/0/56
126,Louisiana-Monroe,0,0/0/5,0.000000,0/0/20,0.000000,0/0/34
23,Tulane,0,0/0/5,0.000000,0/0/20,0.352113,0/4/67
1,Clemson,0,2/3/0,-0.450000,6/11/3,-0.070423,16/23/32
22,Temple,0,0/0/5,0.000000,0/0/20,0.075472,0/1/52
127,South Alabama,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
79,Ohio,0,0/0/5,0.000000,0/0/20,0.016949,0/1/58
95,Arizona State,0,0/0/5,-0.250000,5/4/11,0.464789,16/13/42
4,Georgia Tech,0,0/0/5,-0.500000,3/3/14,0.450704,9/14/48
37,Purdue,0,0/0/5,-0.600000,2/1/17,-0.098592,10/10/51
12,Virginia,0,0/0/5,-0.600000,3/1/16,0.028169,7/6/58
84,Colorado State,0,0/0/5,-0.250000,2/0/18,0.211268,3/3/65
10,Pittsburgh,0,0/0/5,-0.600000,4/3/13,-0.647887,15/12/44
96,California,0,0/0/5,-1.800000,4/1/15,-0.619718,10/6/55
70,Akron,0,0/0/5,0.000000,0/0/20,0.000000,0/0/35
107,Arkansas,0,0/0/5,-0.150000,3/3/14,0.394366,16/20/35
116,South Carolina,0,0/0/5,-0.150000,2/5/13,0.126761,6/9/56
54,Marshall,0,0/0/5,-0.100000,1/1/18,0.318182,1/2/41
67,New Mexico State,0,0/0/5,0.000000,0/0/20,0.056338,0/1/70
93,Wyoming,0,0/0/5,0.000000,0/0/20,0.183099,1/3/67
58,Rice,0,0/0/5,0.000000,0/0/20,0.084507,1/2/68
16,East Carolina,0,0/0/5,0.000000,0/0/20,0.321429,0/2/54
53,Louisiana Tech,0,0/0/5,0.000000,0/0/20,0.000000,0/0/40
121,Arkansas State,0,0/0/5,0.000000,0/0/20,0.000000,0/0/39
52,Florida Atlantic,0,0/0/5,0.000000,0/0/17,0.000000,0/0/17
51,FIU,0,0/0/5,0.000000,0/0/17,0.000000,0/0/17
78,Northern Illinois,0,0/0/5,0.200000,0/1/19,0.075472,0/1/52
38,Rutgers,0,0/0/5,0.200000,1/1/18,-0.014085,2/2/67
86,Hawaii,0,0/0/5,0.200000,0/1/19,0.208333,0/2/46
14,Wake Forest,0,0/0/5,0.250000,1/1/18,0.084507,1/2/68
42,Kansas,0,0/0/5,0.300000,2/1/17,0.464789,6/6/59
59,Southern Miss,0,0/0/5,0.300000,0/1/19,0.293103,2/3/53
26,Illinois,0,0/0/5,0.700000,1/2/17,-0.154930,11/9/51
74,Central Michigan,0,0/0/5,0.150000,0/1/19,0.065217,0/1/45
87,Nevada,0,0/0/5,0.750000,0/1/19,0.500000,0/1/29
77,Miami (OH),0,0/0/5,0.800000,0/1/19,0.694915,1/4/54
48,Texas Tech,0,0/0/5,0.850000,1/4/15,0.676056,2/10/59
29,Maryland,0,0/0/5,1.000000,2/3/15,0.154930,9/13/49
114,Missouri,0,0/0/5,1.650000,4/4/12,0.788732,9/13/49
0,Boston College,0,0/0/5,1.800000,0/5/15,0.929577,1/11/59
63,Western Kentucky,0,0/0/5,0.166667,0/1/11,0.166667,0/1/11
119,Vanderbilt,0,0/0/5,0.250000,0/2/18,0.070423,0/2/69
72,Bowling Green,0,0/0/5,0.150000,0/1/19,0.050847,0/1/58
99,Oregon State,0,0/0/5,0.100000,3/4/13,0.366197,4/10/57
57,Old Dominion,0,0/0/5,0.000000,0/0/7,0.000000,0/0/7
76,Kent State,0,0/0/5,0.000000,0/0/20,0.000000,0/0/59
69,UMass,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
128,Texas State,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
94,Arizona,0,0/0/5,0.150000,1/1/18,-0.352113,8/4/59
75,Eastern Michigan,0,0/0/5,0.000000,0/0/20,0.000000,0/0/46
62,UTSA,0,0/0/5,0.000000,0/0/9,0.000000,0/0/9
24,Tulsa,0,0/0/5,0.100000,0/1/19,0.267606,0/4/67
80,Toledo,0,0/0/5,0.150000,0/1/19,0.355932,0/4/55
2,Duke,0,0/0/5,0.150000,0/1/19,0.112676,4/6/61
50,Charlotte,0,0/0/5,0.000000,0/0/6,0.000000,0/0/6
113,Mississippi State,-0.2,1/1/3,0.650000,3/3/14,0.323944,8/10/53
33,Nebraska,-0.4,1/0/4,-3.050000,10/3/7,-1.718310,32/18/21
110,Georgia,-0.6,4/1/0,-2.500000,11/8/1,0.014085,22/24/25
103,Utah,-0.6,2/1/2,2.850000,2/7/11,1.028169,2/8/61
6,Miami (FL),-0.6,1/3/1,-1.900000,7/5/8,0.014085,19/21/31
36,Penn State,-0.6,3/2/0,1.050000,6/5/9,-0.591549,26/24/21
7,North Carolina,-0.8,1/0/4,-0.450000,4/1/15,-0.183099,13/11/47
46,TCU,-1.2,2/1/2,2.400000,6/7/7,0.521127,11/10/50
106,Alabama,-1.2,3/1/1,1.750000,7/8/5,-0.253521,31/27/13
102,USC,-1.2,3/1/1,-1.900000,10/6/4,-2.887324,40/19/12
43,Kansas State,-1.2,1/0/4,0.150000,4/4/12,0.788732,7/10/54
112,LSU,-1.8,3/2/0,-2.350000,12/8/0,-0.887324,24/20/27
47,Texas,-1.8,3/1/1,-3.000000,10/4/6,-2.267606,34/18/19
39,Wisconsin,-1.8,2/3/0,-0.600000,9/11/0,0.028169,16/19/36
101,UCLA,-2,1/0/4,-1.600000,5/2/13,-0.591549,28/18/25
17,Houston,-2.2,1/0/4,0.750000,1/2/17,0.577465,7/11/53
5,Louisville,-2.4,2/0/3,0.000000,6/5/9,0.288136,6/8/45
117,Tennessee,-3,3/0/2,-3.050000,8/4/8,-0.718310,27/15/29
115,Ole Miss,-3,1/0/4,0.300000,2/4/14,0.422535,8/18/45
98,Oregon,-3,3/1/1,-0.150000,9/9/2,0.746479,9/14/48
104,Washington,-3.6,3/1/1,-2.400000,7/2/11,-1.042254,25/15/31
100,Stanford,-4.8,4/0/1,0.900000,6/4/10,0.028169,17/13/41
108,Auburn,-5.2,2/3/0,-1.450000,8/9/3,-0.239437,25/27/19
31,Michigan State,-5.2,3/1/1,-0.100000,6/6/8,0.183099,23/17/31
3,Florida State,-6.8,3/0/2,-5.900000,14/4/2,-1.611940,25/13/29
30,Michigan,-7.8,4/0/1,-3.900000,11/4/5,-2.140845,38/19/14

## Full Data

In [ ]:
column_names = ["Team","Year","Conference", "Wins", "Losses", "Ties", "Win %", "C Wins", "C Losses", "C Ties", "C %", "SRS", "SOS", "AP Pre", "AP High", "AP Post", "AP Diff", "Coach(es)", "Bowl", "Notes"]
df_Full_Data = pd.DataFrame(columns = column_names)
Team_Names = []
for Team in FBS_Teams:
    clear_output(wait=True)
    print(Team)
    time.sleep(4)
    Team_Data= get_Data(Team)
    to_append = Team_Data
#    Team_Names.append(Names)
    df_Full_Data = df_Full_Data.append(to_append, ignore_index = True)
df_Full_Data.shape

Boston College

HTTPError: ignored

In [ ]:
df_Data = df_Full_Data[(df_Full_Data['Year'] < 2021)]
df_Data["SRS"] = df_Data["SRS"].astype('float64')
df_Data.sort_values(by= ['SRS'], axis = 0, ascending = False, inplace = True)

df_Data.head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Team,Year,Conference,Wins,Losses,Ties,Win %,C Wins,C Losses,C Ties,C %,SRS,SOS,AP Pre,AP High,AP Post,AP Diff,Coach(es),Bowl,Notes
952,Notre Dame,1943,Ind,9,1,0,.900,None,None,None,None,34.77,16.17,None,1,1,None,Frank Leahy,None,None
5810,Army,1945,Ind,9,0,0,1.000,None,None,None,None,33.35,10.24,None,1,1,None,Red Blaik,None,None
949,Notre Dame,1946,Ind,8,0,1,.944,None,None,None,None,32.88,12.44,None,1,1,None,Frank Leahy,None,None
4611,Oklahoma,1973,Big 8,10,0,1,.955,7,0,0,1.000,32.87,13.23,11,2,3,8,Barry Switzer,None,None
946,Notre Dame,1949,Ind,10,0,0,1.000,None,None,None,None,32.35,11.95,None,1,1,None,Frank Leahy,None,None
5811,Army,1944,Ind,9,0,0,1.000,None,None,None,None,32.17,9.50,None,1,1,None,Red Blaik,None,None
3287,Nebraska,1971,Big 8,13,0,0,1.000,7,0,0,1.000,31.49,8.79,2,1,1,1,Bob Devaney,Orange Bowl,None
5809,Army,1946,Ind,9,0,1,.950,None,None,None,None,30.48,14.28,None,1,2,None,Red Blaik,None,None
2952,Michigan,1947,Western,10,0,0,1.000,6,0,0,1.000,30.39,10.09,None,1,2,None,Fritz Crisler,Rose Bowl,None
8393,USC,1972,Pac-8,12,0,0,1.000,7,0,0,1.000,30.33,9.08,8,1,1,7,John McKay,Rose Bowl,None
8767,Alabama,2020,SEC,13,0,0,1.000,11,0,0,1.000,30.26,9.72,3,1,1,2,Nick Saban,Rose Bowl,None
3564,Ohio State,1944,Western,9,0,0,1.000,6,0,0,1.000,29.87,12.09,None,2,2,None,Carroll Widdoes,None,None
3535,Ohio State,1973,Big Ten,10,0,1,.955,7,0,1,.938,29.66,8.11,2,1,2,0,Woody Hayes,Rose Bowl,None
4613,Oklahoma,1971,Big 8,11,1,0,.917,6,1,0,.857,29.24,10.07,10,2,2,8,Chuck Fairbanks,Sugar Bowl,None
965,Notre Dame,1930,Ind,10,0,0,1.000,None,None,None,None,29.23,11.63,None,None,None,None,Knute Rockne,None,None
1912,Navy,1945,Ind,7,1,1,.833,None,None,None,None,28.92,15.69,None,2,3,None,Oscar Hagberg,None,None
4974,Texas,1947,SWC,10,1,0,.909,5,1,0,.833,28.75,11.30,None,3,5,None,Blair Cherry,Sugar Bowl,None
479,Georgia Tech,1917,Ind,9,0,0,1.000,None,None,None,None,28.62,4.84,None,None,None,None,John Heisman,None,None
2951,Michigan,1948,Western,9,0,0,1.000,6,0,0,1.000,28.49,12.04,None,1,1,None,Bennie Oosterbaan,None,None
948,Notre Dame,1947,Ind,9,0,0,1.000,None,None,None,None,28.31,7.97,None,1,1,None,Frank Leahy,None,None

In [ ]:
df_Data["SOS"] = df_Data["SOS"].astype('float64')
df_Data.sort_values(by= ['SOS'], axis = 0, ascending = False, inplace = True)

df_Data.head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Team,Year,Conference,Wins,Losses,Ties,Win %,C Wins,C Losses,C Ties,C %,SRS,SOS,AP Pre,AP High,AP Post,AP Diff,Coach(es),Bowl,Notes
1911,Navy,1946,Ind,1,8,0,.111,None,None,None,None,9.51,18.73,None,None,None,None,Thomas Hamilton,None,None
2599,Indiana,1949,Western,1,8,0,.111,0,6,0,.000,5.32,17.66,None,None,None,None,Clyde Smith,None,None
2456,Illinois,1962,Big Ten,2,7,0,.222,2,5,0,.286,4.77,17.55,None,None,None,0,Pete Elliott,None,None
3559,Ohio State,1949,Western,7,1,2,.800,4,1,1,.750,24.25,17.05,None,5,6,None,Wesley Fesler,Rose Bowl,None
2950,Michigan,1949,Western,6,2,1,.722,4,1,1,.750,22.27,17.04,None,1,7,None,Bennie Oosterbaan,None,None
3433,Northwestern,1947,Western,3,6,0,.333,2,4,0,.333,10.65,16.88,None,None,None,None,Robert Voigts,None,None
2722,Iowa,1949,Western,4,5,0,.444,3,3,0,.500,12.47,16.69,None,15,None,None,Edward Anderson,None,None
3565,Ohio State,1943,Western,3,6,0,.333,1,4,0,.200,12.11,16.22,None,18,None,None,Paul Brown,None,None
952,Notre Dame,1943,Ind,9,1,0,.900,None,None,None,None,34.77,16.17,None,1,1,None,Frank Leahy,None,None
3188,Minnesota,1940,Western,8,0,0,1.000,6,0,0,1.000,27.66,16.16,None,1,1,None,Bernie Bierman,None,None
2475,Illinois,1943,Western,3,7,0,.300,2,4,0,.333,6.13,16.13,None,None,None,None,Ray Eliot,None,None
1063,Pittsburgh,1947,Ind,1,8,0,.111,None,None,None,None,-1.86,16.03,None,None,None,None,Walter Milligan,None,None
3568,Ohio State,1940,Western,4,4,0,.500,3,3,0,.500,15.95,15.82,None,15,None,None,Francis Schmidt,None,None
4040,Wisconsin,1943,Western,1,9,0,.100,1,6,0,.143,-1.65,15.75,None,None,None,None,Harry Stuhldreher,None,None
1912,Navy,1945,Ind,7,1,1,.833,None,None,None,None,28.92,15.69,None,2,3,None,Oscar Hagberg,None,None
1909,Navy,1948,Ind,0,8,1,.056,None,None,None,None,1.09,15.64,None,None,None,None,George Sauer,None,None
3793,Purdue,1953,Big Ten,2,7,0,.222,2,4,0,.333,7.19,15.63,None,None,None,0,Stuart Holcomb,None,None
8416,USC,1949,PCC,5,3,1,.611,4,2,0,.667,20.47,15.59,None,8,None,None,Jeff Cravath,None,None
3285,Nebraska,1973,Big 8,9,2,1,.792,4,2,1,.643,25.89,15.56,4,2,7,-3,Tom Osborne,Cotton Bowl,None
282,Duke,1946,Southern,4,5,0,.444,3,2,0,.600,17.12,15.56,None,13,None,None,Wallace Wade,None,None

In [ ]:
df_Data = df_Full_Data[(df_Full_Data['Year'] < 2021) & (df_Full_Data['Year'] > 1999)]
df_Data["SRS"] = df_Data["SRS"].astype('float64')
df_Data.sort_values(by= ['SRS'], axis = 0, ascending = False, inplace = True)

df_Data.head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Team,Year,Conference,Wins,Losses,Ties,Win %,C Wins,C Losses,C Ties,C %,SRS,SOS,AP Pre,AP High,AP Post,AP Diff,Coach(es),Bowl,Notes
8767,Alabama,2020,SEC,13,0,0,1.000,11,0,0,1.000,30.26,9.72,3,1,1,2,Nick Saban,Rose Bowl,None
3489,Ohio State,2019,Big Ten,13,1,0,.929,9,0,0,1.000,27.39,7.32,5,2,3,2,Ryan Day,Fiesta Bowl,None
90,Clemson,2018,ACC,15,0,0,1.000,8,0,0,1.000,26.45,5.19,2,1,1,1,Dabo Swinney,Cotton Bowl,None
575,Miami (FL),2001,Big East,12,0,0,1.000,7,0,0,1.000,26.17,5.09,2,1,1,1,Larry Coker,Rose Bowl,None
8361,USC,2004,Pac-10,13,0,0,1.000,8,0,0,1.000,26.06,8.22,1,1,1,0,Pete Carroll,Orange Bowl,record
9454,LSU,2019,SEC,15,0,0,1.000,8,0,0,1.000,25.80,6.60,6,1,1,5,Ed Orgeron,Peach Bowl,None
8771,Alabama,2016,SEC,14,1,0,.933,8,0,0,1.000,25.62,7.29,1,1,2,-1,Nick Saban,Peach Bowl,None
9132,Florida,2008,SEC,13,1,0,.929,7,1,0,.875,25.37,5.59,5,1,1,4,Urban Meyer,BCS Championship,None
8769,Alabama,2018,SEC,14,1,0,.933,8,0,0,1.000,25.29,6.63,1,1,2,-1,Nick Saban,Orange Bowl,None
4916,Texas,2005,Big 12,13,0,0,1.000,8,0,0,1.000,24.98,4.98,2,1,1,1,Mack Brown,Rose Bowl,None
4576,Oklahoma,2008,Big 12,12,2,0,.857,7,1,0,.875,24.79,6.72,4,1,5,-1,Bob Stoops,BCS Championship,None
8360,USC,2005,Pac-10,12,1,0,.923,8,0,0,1.000,24.57,6.80,1,1,2,-1,Pete Carroll,Rose Bowl,record
8775,Alabama,2012,SEC,13,1,0,.929,7,1,0,.875,24.51,5.51,2,1,1,1,Nick Saban,BCS Championship,None
8776,Alabama,2011,SEC,12,1,0,.923,7,1,0,.875,24.44,4.21,2,1,1,1,Nick Saban,BCS Championship,None
9462,LSU,2011,SEC,13,1,0,.929,8,0,0,1.000,24.27,6.27,4,1,2,2,Les Miles,BCS Championship,None
8363,USC,2002,Pac-10,11,2,0,.846,7,1,0,.875,24.19,9.49,20,4,4,16,Pete Carroll,Orange Bowl,None
4686,Oklahoma State,2011,Big 12,12,1,0,.923,8,1,0,.889,24.14,7.67,9,2,3,6,Mike Gundy,Fiesta Bowl,None
4913,Texas,2008,Big 12,12,1,0,.923,7,1,0,.875,23.98,6.05,11,1,4,7,Mack Brown,Fiesta Bowl,None
8772,Alabama,2015,SEC,14,1,0,.933,7,1,0,.875,23.72,7.46,3,1,1,2,Nick Saban,Cotton Bowl,None
8778,Alabama,2009,SEC,14,0,0,1.000,8,0,0,1.000,23.69,6.62,5,1,1,4,Nick Saban,BCS Championship,None

In [ ]:
df_Data = df_Full_Data[(df_Full_Data['Year'] < 2021) & (df_Full_Data['Year'] > 1999)]
df_Data["SOS"] = df_Data["SOS"].astype('float64')
df_Data.sort_values(by= ['SOS'], axis = 0, ascending = False, inplace = True)

df_Data.head(20)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Team,Year,Conference,Wins,Losses,Ties,Win %,C Wins,C Losses,C Ties,C %,SRS,SOS,AP Pre,AP High,AP Post,AP Diff,Coach(es),Bowl,Notes
6488,Northern Illinois,2020,MAC,0,6,0,.000,0,6,0,.000,-1.53,12.14,None,None,None,0,Thomas Hammock,None,None
8885,Arkansas,2020,SEC,3,7,0,.300,3,7,0,.300,3.99,11.39,None,None,None,0,Sam Pittman,None,None
2777,Maryland,2017,Big Ten,4,8,0,.333,2,7,0,.222,1.03,9.78,None,None,None,0,D.J. Durkin,None,None
8767,Alabama,2020,SEC,13,0,0,1.000,11,0,0,1.000,30.26,9.72,3,1,1,2,Nick Saban,Rose Bowl,None
8056,Oregon State,2010,Pac-10,5,7,0,.417,4,5,0,.444,7.60,9.68,24,24,None,-2,Mike Riley,None,None
7644,Arizona State,2004,Pac-10,9,3,0,.750,5,3,0,.625,15.28,9.61,None,15,19,7,Dirk Koetter,Sun Bowl,None
8452,Utah,2013,Pac-12,5,7,0,.417,2,7,0,.222,6.96,9.55,None,None,None,0,Kyle Whittingham,None,None
9001,Auburn,2020,SEC,6,5,0,.545,6,4,0,.600,9.61,9.52,11,7,None,-15,Gus Malzahn,Citrus Bowl,None
8363,USC,2002,Pac-10,11,2,0,.846,7,1,0,.875,24.19,9.49,20,4,4,16,Pete Carroll,Orange Bowl,None
2894,Michigan,2005,Big Ten,7,5,0,.583,5,3,0,.625,14.86,9.36,4,3,None,-22,Lloyd Carr,Alamo Bowl,None
7723,California,2013,Pac-12,1,11,0,.083,0,9,0,.000,-8.58,9.34,None,None,None,0,Sonny Dykes,None,None
7635,Arizona State,2013,Pac-12,10,4,0,.714,8,1,0,.889,17.50,9.21,None,11,21,5,Todd Graham,Holiday Bowl,None
6321,Eastern Michigan,2020,MAC,2,4,0,.333,2,4,0,.333,5.80,9.13,None,None,None,0,Chris Creighton,None,None
9695,Missouri,2012,SEC,5,7,0,.417,2,6,0,.250,5.54,9.12,None,None,None,0,Gary Pinkel,None,None
8257,UCLA,2014,Pac-12,10,3,0,.769,6,3,0,.667,14.40,9.10,7,7,10,-3,Jim Mora,Alamo Bowl,None
6428,Miami (OH),2020,MAC,2,1,0,.667,2,1,0,.667,11.41,9.08,None,None,None,0,Chuck Martin,None,None
9007,Auburn,2014,SEC,8,5,0,.615,4,4,0,.500,14.99,9.06,6,2,22,-16,Gus Malzahn,Outback Bowl,None
3488,Ohio State,2020,Big Ten,7,1,0,.875,6,0,0,1.000,21.37,8.99,2,2,2,0,Ryan Day,Sugar Bowl,None
878,Notre Dame,2017,Ind,10,3,0,.769,None,None,None,None,19.41,8.94,None,3,11,15,Brian Kelly,Citrus Bowl,None
6135,Ball State,2020,MAC,7,1,0,.875,6,1,0,.857,18.41,8.91,None,23,23,3,Mike Neu,Arizona Bowl,None

In [ ]:
get_Data('coastal-carolina')

,Year,Conference,Wins,Losses,Ties,Win %,C Wins,C Losses,C Ties,C %,SRS,SOS,AP Pre,AP High,AP Post,AP Diff,Coach(es),Bowl,Notes
0,2021,Sun Belt,None,None,None,None,None,None,None,None,None,None,None,None,None,0,Jamey Chadwell,None,None
1,2020,Sun Belt,11,1,0,.917,8,0,0,1.000,10.90,-2.86,None,9,14,12,Jamey Chadwell,Cure Bowl,None
2,2019,Sun Belt,5,7,0,.417,2,6,0,.250,-7.02,-6.02,None,None,None,0,Jamey Chadwell,None,None
3,2018,Sun Belt,5,7,0,.417,2,6,0,.250,-9.17,-3.25,None,None,None,0,Joe Moglia,None,None
4,2017,Sun Belt,3,9,0,.250,2,6,0,.250,-17.20,-8.78,None,None,None,0,Jamey Chadwell,None,None

In [ ]:
get_Data('liberty')

,Year,Conference,Wins,Losses,Ties,Win %,C Wins,C Losses,C Ties,C %,SRS,SOS,AP Pre,AP High,AP Post,AP Diff,Coach(es),Bowl,Notes
0,2021,Ind,None,None,None,None,None,None,None,None,None,None,None,None,None,0,Hugh Freeze,None,None
1,2020,Ind,10,1,0,.909,None,None,None,None,1.60,-12.22,None,17,17,9,Hugh Freeze,Cure Bowl,None
2,2019,Ind,8,5,0,.615,None,None,None,None,-5.70,-8.54,None,None,None,0,Hugh Freeze,Cure Bowl,None
3,2018,Ind,6,6,0,.500,None,None,None,None,-9.12,-6.62,None,None,None,0,Turner Gill,None,None

In [ ]:
df_Full_Data.head()

,Year,Conference,Wins,Losses,Ties,Win %,C Wins,C Losses,C Ties,C %,SRS,SOS,AP Pre,AP High,AP Post,AP Diff,Coach(es),Bowl,Notes
0,2021,ACC,None,None,None,None,None,None,None,None,None,None,None,None,None,0,Jeff Hafley,None,None
1,2020,ACC,6,5,0,.545,5,5,0,.500,-0.04,-0.59,None,None,None,0,Jeff Hafley,None,None
2,2019,ACC,6,7,0,.462,4,4,0,.500,-0.37,1.17,None,None,None,0,Rich Gunnell,Birmingham Bowl,None
3,2018,ACC,7,5,0,.583,4,4,0,.500,4.61,1.78,None,17,None,0,Steve Addazio,None,None
4,2017,ACC,7,6,0,.538,4,4,0,.500,9.39,7.08,None,None,None,0,Steve Addazio,Pinstripe Bowl,None

## To Drive

In [ ]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
df_All_Teams.to_csv("CFB_O_U.csv")
!cp CFB_O_U.csv "drive/My Drive/"

In [ ]:
df_Full_Data.to_csv("CFB_Team_Records.csv")
!cp CFB_Team_Records.csv "drive/My Drive/"

In [ ]:
get_Data("Boston College")

Empty DataFrame
Columns: [Team, Year, Conference, Wins, Losses, Ties, Win %, C Wins, C Losses, C Ties, C %, SRS, SOS, AP Pre, AP High, AP Post, AP Diff, Coach(es), Bowl, Notes]
Index: []