#Transitive Win Program

The purpose of this notebook is to create a method for ranking College Football teams in a given year based on how many total teams each individual team should be able to beat based on the Transitive Property. While not perfect, this method can be helpful in comparing teams this sport as it can be difficult as there are 130 teams playing at the highest level and each team only plays about 12/13 games a year.

## Functions

In [ ]:
# Installing and importing necessary functions and modules
get_ipython().system(u' pip install beautifulsoup4')
!pip install lxml
!pip install beautifulsoup4 as bs4

from lxml import html
from bs4 import BeautifulSoup
import urllib.request
import numpy as np
import re 
import types
import pandas as pd
from IPython.display import clear_output

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

This function pulls data from Wikipedia to determine the teams that are classified into the highest "FBS" level of College Football for a given year.

In [ ]:
def get_Teams(input_year):
    if 1941 <= input_year <= 1945:
        input_year = 1940
    url="https://en.wikipedia.org/wiki/NCAA_Division_I_Football_Bowl_Subdivision_alignment_history"
    # use urllib and BeautifulSoup in order to open and copy the html code of the webpage to another variable
    page = urllib.request.urlopen(url)
    soup = BeautifulSoup(page, 'lxml')
    # use soup.find in order to pull out only the html code related to the data wanted
    team_list = soup.findAll('div')
    A = []
    for row in soup.findAll('li'):
        strip = row.text.strip()
        A.append(strip)
    team_list
    A = A[26:-50]

    B = []
    C = []
    D = []
    stop = "1"
    for s in A:
        index = s.find(" 1")
        index2 = s.find(" 2")
        if index2 == -1 or index < index2 and index != -1:
            B.append(s[:index])
        else:
            B.append(s[:index2])

    df = pd.DataFrame(A,columns = ['Team1'])
    df['Team'] = B

    df.replace("as West Texas State","", inplace=True, regex = True)
    df.replace(" \(\)","", inplace=True, regex = True)
    df.replace("present","2021", inplace=True, regex = True) # update each year
    df.replace("future","2024", inplace=True, regex = True) # update each year
    df.replace("1981","AAAA", inplace = True, regex=True)
    df.replace("81","1981", inplace = True, regex=True)
    df.replace("AAAA","1981", inplace = True, regex=True)
    df.replace("1940","AAAA", inplace = True, regex=True)
    df.replace("40","1940", inplace = True, regex=True)
    df.replace("AAAA","1940", inplace = True, regex=True)
    df.replace("-40","-1981", inplace = True, regex=True)
    df.replace("Southern California","USC", inplace = True, regex=True)


    for s, s2 in zip(df['Team1'], df['Team']):
        s3 = s.replace(s2,"")
        C.append(s3)

    np.linspace(1940,1946,7)
    for s in C:
        a = []
        length = len(s)
        char = 1
        while char < length:
            if length < 6:
                a.append(int(s[char:char+4]))
                break
            if s == " 2022–2021[a]":
                a.append(2022)
                break
            if s[char+4] == ',':
                a.append(int(s[char:char+4]))
                char = char + 6
            else:
                year1 = int(s[char:char+4])
                year2 = int(s[char+5:char+9])
                years = range(year1, year2+1)
                for year in years:
                    a.append(year)
                char = char + 11
        D.append(a)
           
    df['Years'] = D
    df.drop(['Team1'], axis = 1, inplace = True)
    df
    Team_List = []
    if input_year >= 1937:
        for team, years in zip(df['Team'], df['Years']):
            if input_year in years:
                Team_List.append(team)
    if input_year < 1937:
        Team_List = df['Team'].to_list()
    return(Team_List)

This function pulls all the College Football games from sports-reference.com for a given year.

In [ ]:
def get_Games(year):

    url="https://www.sports-reference.com/cfb/years/{}-schedule.html".format(year)
# use urllib and BeautifulSoup in order to open and copy the html code of the webpage to another variable
    page = urllib.request.urlopen(url)
    soup = BeautifulSoup(page, 'lxml')
# use soup.find in order to pull out only the html code related to the data wanted
    game_list = soup.findAll('tr')
#strip = game_list.text.strip()
#print(game_list.findAll('tr'))

    A = []
    B = []
    C = []
    D = []
    E = []
    F = []
    G = []
    H = []
    I = []
    J = []

    for row in game_list:
        cells = row.findAll('td')
        if len(cells) == 10:
            A.append(cells[0].find(text=True))
            B.append(cells[1].find(text=True))
            C.append(cells[2].find(text=True))
            D.append(cells[3].find(text=True))
            E_find=str(cells[4].find('a'))
            start = E_find.find(">")
            end = E_find.find('<',start)
            if E_find == "None":
                E.append(cells[4].find(text=True))
            else:
                E.append(str(E_find[start+1:end])) 
            F.append(cells[5].find(text=True))
            G.append(cells[6].find(text=True))
            H_find=str(cells[7].find('a'))
            start = H_find.find(">")
            end = H_find.find('<',start)
            if H_find == "None":
                H.append(cells[7].find(text=True))
            else:
                H.append(str(H_find[start+1:end]))      
            I.append(cells[8].find(text=True))
            J.append(cells[9].find(text=True))
        if len(cells) == 9:
            A.append(cells[0].find(text=True))
            B.append(cells[1].find(text=True))
            D.append(cells[2].find(text=True))
            E_find=str(cells[3].find('a'))
            start = E_find.find(">")
            end = E_find.find('<',start)
            if E_find == "None":
                E.append(cells[3].find(text=True))
            else:
                E.append(str(E_find[start+1:end]))
            F.append(cells[4].find(text=True))
            G.append(cells[5].find(text=True))
            H_find=str(cells[6].find('a'))
            start = H_find.find(">")
            end = H_find.find('<',start)
            if H_find == "None":
                H.append(cells[6].find(text=True))
            else:
                H.append(str(H_find[start+1:end]))       
            I.append(cells[7].find(text=True))
            J.append(cells[8].find(text=True))
    df_Games = pd.DataFrame(A,columns = ['Wk'])
    df_Games['Date'] = B
   # df_Games['Time'] = C
    df_Games['Day'] = D
    df_Games['Winner'] = E
    df_Games['Pts'] = F
    df_Games['@'] = G
    df_Games['Loser'] = H
    df_Games['Pts.1'] = I
    #df_Games['Notes'] = J

#df_Games.drop(["Notes","Day","Date","Time","Unnamed: 7","Pts","Pts.1"], axis = 1, inplace = True)
#df_Games = pd.read_csv("2020 Games.csv")
# clean data by removing unneccessary extra characters
    df_Games["Winner"] = df_Games.Winner.str.replace('(\(\d\))','')   # ('(\(\d\))
    df_Games["Winner"] = df_Games.Winner.str.replace('(\(\d\d\))','')   # ('(\(\d\))
    df_Games["Winner"] = df_Games.Winner.str.replace('\xa0','')   # ('(\(\d\))
    df_Games["Loser"] = df_Games.Loser.str.replace('(\(\d\))','')   # ('(\(\d\))
    df_Games["Loser"] = df_Games.Loser.str.replace('(\(\d\d\))','')   # ('(\(\d\))
    df_Games["Loser"] = df_Games.Loser.str.replace('\xa0','')   # ('(\(\d\))

    df_Games.replace('Alabama-Birmingham','UAB', inplace = True)
    df_Games.replace('Southern Mississippi','Southern Miss', inplace = True)
    df_Games.replace('Middle Tennessee State','Middle Tennessee', inplace = True)
    df_Games.replace('Southern Methodist','SMU', inplace = True)
    df_Games.replace('Texas-El Paso','UTEP', inplace = True)
    df_Games.replace('Brigham Young','BYU', inplace = True)
    df_Games.replace('Louisiana-Monroe','Louisiana–Monroe', inplace = True)
    df_Games.replace('Texas-San Antonio','UTSA', inplace = True)
    df_Games.replace('Central Florida','UCF', inplace = True)
    df_Games.replace('Mississippi','Ole Miss', inplace = True)
    df_Games.replace('Texas Christian','TCU', inplace = True)
    df_Games.replace('Florida International','FIU', inplace = True)
    df_Games.replace('Louisiana State','LSU', inplace = True)
    df_Games.replace('Bowling Green State','Bowling Green', inplace = True)
    df_Games.replace('Texas A&amp;M','Texas A&M', inplace = True)
    df_Games.replace('Nevada-Las Vegas','UNLV', inplace = True)
    df_Games.replace('Connecticut','UConn', inplace = True)
    df_Games.replace("Saint Mary's (CA)","Saint Mary's", inplace = True)
    df_Games.replace('Virginia Military Institute','VMI', inplace = True)
    df_Games.replace('William &amp; Mary','William & Mary', inplace = True)
    df_Games.replace('Pennsylvania','Penn', inplace = True)
    df_Games.replace('West Texas A&amp;M','West Texas A&M', inplace = True)
    df_Games.replace('Washington &amp; Lee','Washington & Lee', inplace = True)
    df_Games.replace('Detroit Mercy','Detroit', inplace = True)
    df_Games.replace('Hardin-Simmons','Hardin–Simmons', inplace = True)
    df_Games.replace('New York University','NYU', inplace = True)
    df_Games.replace('Carnegie Mellon','Carnegie Tech', inplace = True)
    df_Games.replace('Texas-Arlington','Texas–Arlington', inplace = True)
    df_Games.replace('Southern','Southern U.', inplace = True)
    df_Games.replace('Grambling State','Grambling', inplace = True)
    df_Games.replace('Centenary (LA)','Centenary', inplace = True)
    df_Games.replace('Trinity (Texas)','Trinity (TX)', inplace = True)
    df_Games.replace('Southern California','USC', inplace = True)

    return (df_Games)

This function pulls the data for the final rankings for a given year.

In [ ]:
def get_Final_AP_Poll(year):
    if 1936 <= year <= 1955:
        url = "https://en.wikipedia.org/wiki/{}_NCAA_football_rankings".format(year)
    elif 1956 <= year <= 1972:
        url = "https://en.wikipedia.org/wiki/{}_NCAA_University_Division_football_rankings".format(year)
    elif 1973 <= year <= 1977:
        url = "https://en.wikipedia.org/wiki/{}_NCAA_Division_I_football_rankings".format(year)
    elif 1978 <= year <= 2005:
        url = "https://en.wikipedia.org/wiki/{}_NCAA_Division_I-A_football_rankings".format(year)
    elif 2006 <= year <= 2021:
        url = "https://en.wikipedia.org/wiki/{}_NCAA_Division_I_FBS_football_rankings".format(year)
    else:
        print("No AP Poll for this year")
    if year >= 1936:
        page = urllib.request.urlopen(url)
        soup = BeautifulSoup(page, 'lxml')
        table = soup.find('table', class_='wikitable')
        A=[]
        B=[]
        C=[]
        D=[]
        E=[]
        F=[]
        i=0
        #print(table)
        for row in table.findAll('tr'):
            cells = row.findAll('td')
            if len(cells) != 0:
                #print(cells[-1])
                i=i+1
                #A.append(cells[-1].find(text=True))
                B.append(i)
                n = cells[-1]
                strip = n.text.strip()
                A.append(strip)
                #print(n[-10:])
                l = len(cells)
                A_find=str(cells[l-1].find('a'))
                #A.append(A_find)
        A.pop()
        B.pop()
        if year == 1940:
            A.pop()
            B.pop()
        if 2004 <= year <= 2006:
            A.pop()
            A.pop(0)
            B.pop()
            B.pop(0)
            G = []
            for num in B:
                num = num -1
                G.append(num)
            B = G
        B = []
        i = 0
        tie = 0
        for team in A:
            if team:
                i = i+1
                if tie%2 == 1:
                    B.append(i-1)
                else:
                    B.append(i)
                F.append(year)
                p = team.rfind("(")
                text = team[p-1:]
                if team.find('т') != -1:
                    tie = tie + 1
                team = team.replace(text,'')
                team = team.replace('т','')
                text = text.replace('т','')            
                check = text.find('–')
                if check == -1:
                    E.append(text)
                    p = team.rfind("(")
                    text = team[p-1:]
                    team = team.replace(text,'')
                    C.append(text)
                    D.append(team)
                else:
                    C.append(text)
                    D.append(team)
                    E.append('')
    if year < 1936:
        B = []
        C = []
        D = []
        E = []
        F = []
    df_Poll = pd.DataFrame(F,columns = ['Year'])
    df_Poll['Rank'] = B
    df_Poll['Team'] = D
    df_Poll['Record'] = C
    df_Poll['1st'] = E
    #df_Poll['year'] = F
    return df_Poll

This function looks through the df_Games dataframe to compile a list of all teams that played.

In [ ]:
def get_Teams2(df_Games):
    Teams2 = []
    for winner, loser in zip(df_Games['Winner'], df_Games['Loser']):
        if winner not in Teams2:
            Teams2.append(winner)
        if loser not in Teams2:
            Teams2.append(loser)
    return(Teams2)

This function cleans the df_Games dataframe to only include FBS vs FBS games.

In [ ]:
def clean_df(df_Games, Teams, Teams2, week):
    Diff = []
    for team in Teams2:
        if team not in Teams:
            Diff.append(team)
    for team in Teams:
        if team not in Teams2:
            Teams.remove(team)
    #print(len(Diff))
    df_Games['Wk'] = df_Games['Wk'].astype(int)
    check = []
    for winner, loser, points in zip(df_Games['Winner'], df_Games['Loser'], df_Games['Wk']):
        if winner in Diff or loser in Diff or points > week:
            check.append('Remove')
        else:
            check.append('Keep')
    df_Games['check'] = check
    #print(df_Games.shape)
    df_Games = df_Games[df_Games['check'] == 'Keep']
#df_Games.drop(["Notes","Day","Date","Time","@","Pts","Pts.1","check"], axis = 1, inplace = True)
#df_Games.drop(['check'], axis = 1, inplace = True)
    #print(df_Games.shape)
    return(df_Games)
#df_Games

The next 3 functions find the teams that a given team has beat, lost to, or tied.

In [ ]:
def get_Wins(team, df_Games):
    Wins = []
    for winner, loser, P1, P2 in zip(df_Games['Winner'], df_Games['Loser'], df_Games['Pts'], df_Games['Pts.1']):
        if winner == team and P1 != P2:
            Wins.append(loser)

    return (Wins)
#for winner, loser in zip(df_Games['Winner'], df_Games['Loser']):
 #   if winner in Teams:
  #      win_dict[winner].append(loser)
#win_dict

In [ ]:
def get_Losses(team, df_Games):
    Losses = []
    for winner, loser, P1, P2 in zip(df_Games['Winner'], df_Games['Loser'], df_Games['Pts'], df_Games['Pts.1']):
        if loser == team and P1 != P2:
            Losses.append(winner)

    return (Losses)

In [ ]:
def get_Ties(team, df_Games):
    Ties = []
    for winner, loser, P1, P2 in zip(df_Games['Winner'], df_Games['Loser'], df_Games['Pts'], df_Games['Pts.1']):
        if loser == team and P1 == P2:
            Ties.append(winner)
        if winner == team and P1 == P2:
            Ties.append(loser)
    return (Ties)

This function lists the teams remaining on a given team's schedule.

In [ ]:
def get_Remaining(team, df_Games, week, FBS):
    Remaining = []
    for winner, loser, w in zip(df_Games['Winner'], df_Games['Loser'], df_Games['Wk']):
        if w > week:
            if winner == team:
                if loser in FBS:
                    Remaining.append(loser)
            if loser == team:
                if winner in FBS:
                    Remaining.append(winner)
    return (Remaining)

The next 2 functions use a teams wins/losses and those teams' wins/losses to find all transitive wins/losses within FBS.

In [ ]:
def get_T_wins(Team,df_Games):
    wins = get_Wins(Team,df_Games)
    control = []
    I = []
    for win in wins:
        if win not in control:
            control.append(win)
    win = control    
    T_wins = win
    teams_left = win# this list must not start empty  {}
    i = 1
    l = len(T_wins)
    I = [1]*l
    while teams_left:
        i=i+1
        difference = []
        for team in teams_left:
            #T_wins.append(team)
            #print(team)
            tlist = get_Wins(team,df_Games)
            for win in tlist:
                if win not in T_wins:
                    T_wins.append(win)
                    difference.append(win)
                    I.append(i)
        teams_left = difference 
    if Team in T_wins:
        T_wins.remove(Team)  
    return(T_wins)

In [ ]:
def get_T_losses(Team,df_Games):
    losses = get_Losses(Team,df_Games)
    control = []
    I = []
    for loss in losses:
        if loss not in control:
            control.append(loss)
    loss = control    
    T_losses = loss
    teams_left = loss# this list must not start empty  {}
    i = 1
    l = len(T_losses)
    I = [1]*l
    while teams_left:
        i=i+1
        difference = []
        for team in teams_left:
            #T_wins.append(team)
            #print(team)
            tlist = get_Losses(team,df_Games)
            for loss in tlist:
                if loss not in T_losses:
                    T_losses.append(loss)
                    difference.append(loss)
                    I.append(i)
        teams_left = difference 
    if Team in T_losses:
        T_losses.remove(Team)  
    return(T_losses)

This function determines if a team falls within a "cluster" defined in this program as a team with a transitive win over itself. Since in sports it is possible for an outcome such as: A>B B>C C>A, it is necessary to determine other factors to compare teams A, B, and C.

In [ ]:
def get_Cluster(Team,df_Games):
    wins = get_Wins(Team,df_Games)
    control = []
    I = []
    for win in wins:
        if win not in control:
            control.append(win)
    win = control    
    T_wins = wins
    teams_left = wins# this list must not start empty  {}
    i = 1
    l = len(T_wins)
    I = [1]*l
    while teams_left:
        i=i+1
        difference = []
        for team in teams_left:
            #T_wins.append(team)
            #print(team)
            tlist = get_Wins(team,df_Games)
            for win in tlist:
                if win not in T_wins:
                    T_wins.append(win)
                    difference.append(win)
                    I.append(i)
        teams_left = difference 
    if Team in T_wins:
        Cluster = True 
    else:
        Cluster = False
    return(Cluster)

In [ ]:
def get_df_T_Wins(Teams, df_Games):
    T_wins = []
    l = []
    m = []
    n = []
    p = []
    for team in Teams:
        t = (get_T_wins(team, df_Games))
        T_wins.append(t)
        l.append(len(t))

    df_T_wins = pd.DataFrame(Teams,columns = ['Team'])
    df_T_wins['#'] = l
    df_T_wins['Transitive Wins'] = T_wins 
    for wins, T in zip(T_wins, df_T_wins['Team']):
        n=[]
        for team in Teams:
            if team not in wins and team != T:
                n.append(team)
        m.append(n)
        p.append(len(n))
    df_T_wins['Missing'] = m
    #df_T_wins['#2'] = p
    #df_T_wins['check'] = df_T_wins['#'] +df_T_wins['#2'] 

    df_T_wins.sort_values(by= '#', ascending = False, inplace = True)
    return(df_T_wins)

In [ ]:
def get_Record(Team, df_Games):
    win = 0
    tie = 0
    loss = 0
    Record = []
    for winner, loser, pwin, ploss in zip(df_Games['Winner'],df_Games['Loser'],df_Games['Pts'],df_Games['Pts.1']):
        if Team == winner:
            if pwin != ploss:
                win = win+1
            if pwin == ploss and pwin != "None":
                tie = tie+1
        if Team == loser:
            if pwin != ploss:
                loss = loss+1
            if pwin == ploss and pwin != "None":
                tie = tie+1
    if tie == 0:
        record = "({}–{})".format(win,loss)
    if tie != 0:
        record = "({}–{}–{})".format(win,loss,tie)
     #   Record.append(record)
    #df_record = pd.DataFrame(Teams,columns = ['Team'])
    #df_record['Record'] = Record
    return(record)

In [ ]:
def get_Transitive_Wins(year):
    week = 30
    Teams = get_Teams(year)
    df_Games = get_Games(year)
    df_Games_All = df_Games.copy()
    Teams2 = get_Teams2(df_Games)
    Teams = [x for x in Teams2 if x not in Teams]
    Teams_Remove = Teams.copy()
    for team in Teams:
        if team not in Teams2:
            Teams_Remove.append(team)
    Teams = [x for x in Teams2 if x not in Teams_Remove]
    df_Games = clean_df(df_Games, Teams, Teams2, week)
    #Wins = get_Wins(team, df_Games)
    df_T_Wins = get_df_T_Wins(Teams, df_Games)
    Poll = get_Final_AP_Poll(year)
    A = []
    B = []
    C = []
    D = []
    #print(df_T_Wins['Team'])
    #print(Poll['Team'])
    list1 = df_T_Wins['Team'].tolist()
    list2 = Poll['Team'].tolist() 
    for team in list1:
        if team in list2:
            ind = list2.index(team)
            A.append(Poll['Rank'][ind]) 
            #B.append(Poll['Record'][ind]) 
            C.append(Poll['1st'][ind])
        else:
            A.append('NR') 
            #B.append('')
            C.append('')
        record = get_Record(team,df_Games)
        record_All = get_Record(team,df_Games_All)
        B.append(record)
        D.append(record_All)
    df_T_Wins['Rank'] = A
    df_T_Wins['FBS Record'] = B
    df_T_Wins['Full Record'] = D
    df_T_Wins['1st'] = C

    return(df_T_Wins)

In [ ]:
def get_Team_info(Team, year):
    week = 30
    Teams = get_Teams(year)
    df_Games = get_Games(year)
    Teams2 = get_Teams2(df_Games)
    df_Games = clean_df(df_Games, Teams, Teams2, week)
    Wins = get_Wins(Team, df_Games)
    T_Wins = get_T_wins(Team, df_Games)
    Record = get_Record(Team, df_Games)
    print("Team: ", Team, year)
    print("Record: ", Record)
    print("Wins (",len(Wins),"):", Wins)
    print("Transitive Wins (",len(T_Wins),"/",len(Teams)-1,"):", T_Wins)
    Missing = []
    for team in Teams:
        if team not in T_Wins and team != Team:
            Missing.append(team)
    print("Missing:",Missing)

In [ ]:
def get_Differential_Tier(df_Games, Team, Best_Win):
    score = 0
    for winner, loser, P1, P2 in zip(df_Games['Winner'], df_Games['Loser'], df_Games['Pts'], df_Games['Pts.1']):
        if winner == Team:
            num = Tier_dict.get(loser)
            if num == Best_Win:
                score = score + (int(P1) - int(P2))
        if loser == Team:
            num = Tier_dict.get(winner)
            if num == Best_Win:
                score = score - (int(P1) - int(P2))
    return(score)

In [ ]:
def get_Differential(df_Games, Team):
    Points_Scored = 0
    Points_Allowed = 0
    for winner, loser, P1, P2 in zip(df_Games['Winner'], df_Games['Loser'], df_Games['Pts'], df_Games['Pts.1']):
        if P1:
            if winner == Team:
                #score = score + (int(P1) - int(P2))
                Points_Scored = Points_Scored + int(P1)
                Points_Allowed = Points_Allowed + int(P2)
            if loser == Team:
                #score = score - (int(P1) - int(P2))
                Points_Scored = Points_Scored + int(P2)
                Points_Allowed = Points_Allowed + int(P1)
    Differential = Points_Scored - Points_Allowed
    return(Differential, Points_Scored, Points_Allowed)

In [ ]:
def Rankings_Compare(List1, List2):
    Placement = list(range(1,26))
    dict1 = {List1[i] : Placement[i] for i in range(len(List1))}
    dict2 = {List2[i] : Placement[i] for i in range(len(List2))}
    d = 0
    for team in List1:
        a = dict1.get(team)
        b = dict2.get(team,26)
        nd = b - a
        d = d + abs(nd)
  #      print(team)
  #      print(nd)
    for team in List2:
        if team not in List1:
            a = dict2.get(team)
            b = dict1.get(team,26)
            nd = a - b
            d = d + abs(nd)
  #          print(team)
  #          print(nd)
    ad = d/25
    return(d, ad)

In [ ]:
def get_Team_scores(Team, FBS, df_Games):

    i = 1
    Wins2 = 0
    new_list = []
    I_new = []
    team_list = get_Wins(Team,df_Games)
    Wins_List = team_list
  
    for team in team_list:
        if team in FBS:
            new_list.append(team)
    team_list = new_list

    for team in team_list:
        num = get_Wins(team, df_Games)
        Wins2 = Wins2 + len(num)
    Wins = len(team_list)
    new_list = []
    length = len(team_list)
    I = [1] * length
    diff = team_list
    while length != 0:
        i = i + 1
        for team in diff:
            tlist = get_Wins(team,df_Games)
            for team2 in tlist:
                if team2 not in team_list: 
                    if team2 not in new_list:
                        if team2 in FBS:
                            if team2 != Team:
                                new_list.append(team2)
                                I_new.append(i)
        length = len(new_list)
        diff = new_list
        team_list = team_list + new_list 
        I = I + I_new
        new_list = []
        I_new = []
    T_Wins = len(team_list)
    score = 0
    for point in I:
        score = score + (.5 ** (point - 1))
    
    return(Wins_List, Wins, Wins2, I, T_Wins, score)

In [ ]:
def get_FCS(df_Games, Team, FBS):
    FCS_Wins = []
    FCS_Losses = []
    for winner, loser in zip(df_Games['Winner'], df_Games['Loser']):
        if winner == Team and loser not in FBS:
            FCS_Wins.append(loser)
        if loser == Team and winner not in FBS:
            FCS_Losses.append(winner)
    return(FCS_Wins, FCS_Losses)

In [ ]:
def get_FBS(df_Games, Teams, Teams2):
    Teams_List = []
    for team in Teams:
        if team in Teams2:
            Teams_List.append(team)
    #Diff = []
    #for team in Teams2:
    #    if team not in Teams:
    #        Diff.append(team)
    #for team in Teams:
    #    if team not in Teams2:
    #        Teams.remove(team)
    return(Teams_List)

In [ ]:
def get_Tiers(T_Wins):
    T_Wins_Unique = []
    Tier_List = []
    for t in T_Wins:
        if t not in T_Wins_Unique:
            T_Wins_Unique.append(t)
    T_Wins_Unique.sort(reverse = True)

    l = len(T_Wins_Unique)
    Tiers = list(range(1,l+1))

    for num in T_Wins:
        for num1, num2 in zip(T_Wins_Unique, Tiers):
            if num == num1:
                Tier_List.append(num2)
    return(Tier_List)

In [ ]:
def get_Ranking(Lists):
    List_Sorted = (Lists[:])
    List_Sorted = list(map(float, List_Sorted))
    List_Sorted.sort(reverse = True)
    Ranking = []
    i = 1
    R = 1
    item = List_Sorted[0]    
    Ranks = [R]
    items = [item]
    for L in List_Sorted:
        if L != item:
            R = i
            item = L
            Ranks.append(R)
            items.append(item)
        i = i + 1

    Rank_dict = {items[i] : Ranks[i] for i in range(len(items))}
    for L in Lists:
        A = Rank_dict[float(L)]
        Ranking.append(A)
    return(Ranking)

In [ ]:
def get_Tier_data(df_Games, df_Games_All, Team, Tier_dict):
    Tier_Wins = []
    Tier_Losses = []
    Best_Wins = []
    Worst_Losses = []
    Win_Counts = []
    Loss_Counts = []
    Tier_Values = Tier_dict.values()
    FCS = max(Tier_Values) + 1
    for team in Team:
        Tier_Win = []
        Tier_Loss = []
        FCS_Win, FCS_Loss = get_FCS(df_Games_All, team, Team)
        if FCS_Win:
            Tier_Win.append(FCS)
            Tier_Win * len(FCS_Win)
        if FCS_Loss:
            Tier_Loss.append(FCS)
            Tier_Loss * len(FCS_Loss)
        Best_Win = 99
        Worst_Loss = -1
        Win_Count = 0
        Loss_Count = 0
        win_list = get_Wins(team, df_Games)
        loss_list = get_Losses(team, df_Games)
        if win_list or FCS_Win:
            for team in win_list:
                num = Tier_dict.get(team)
                Tier_Win.append(num)
            Best_Win = min(Tier_Win)
            Win_Count = Tier_Win.count(Best_Win)
        Tier_Wins.append(Tier_Win)
        Best_Wins.append(Best_Win)
        Win_Counts.append(Win_Count)

        if loss_list or FCS_Loss:
            for team in loss_list:
                num = Tier_dict.get(team)
                Tier_Loss.append(num)
            Worst_Loss = max(Tier_Loss)
            Loss_Count = Tier_Loss.count(Worst_Loss)
        Tier_Losses.append(Tier_Loss)
        Worst_Losses.append(Worst_Loss)
        Loss_Counts.append(Loss_Count)    

    return(Best_Wins, Win_Counts, Worst_Losses, Loss_Counts)

## Historical Data

In [ ]:
column_names = ["Year","Team", "#", "Transitive Wins","Missing"]
#df_1937 = get_Transitive_Wins(1937)
df_Champions = pd.DataFrame(columns = column_names)
#df_Champions = df_1937.iloc[0:1,:]
#years = range(1900,2021)
years_remove = [1871,1967,1989,2003,2007,2014,2015,2016]
df_dict = {}

for year in range(1869,2021):
    if year not in years_remove:
        clear_output(wait=True)
        print(year)
        week = 30
        df_T_Wins = get_Transitive_Wins(year)
        df_T_Wins['Year'] = year
        exec('df_T_Wins_{} = df_T_Wins'.format(year))
        max = df_T_Wins.iloc[0,1]
        i = 0
        for num in df_T_Wins['#']:
            if num == max:
                i = i+1
        new_df = df_T_Wins.iloc[0:i,:]
        df_Champions = df_Champions.append(new_df, ignore_index = True)
pd.set_option("display.max_rows", None, "display.max_columns", None)
df_Champions

2020

,Year,Team,#,Transitive Wins,Missing,Rank,FBS Record,Full Record,1st
0,1869,Rutgers,1,[Princeton],[],NR,(1–1),(1–1),
1,1869,Princeton,1,[Rutgers],[],NR,(1–1),(1–1),
2,1870,Princeton,2,"[Rutgers, Columbia]",[],NR,(1–0),(1–0),
3,1872,Princeton,2,"[Rutgers, Columbia]",[Yale],NR,(1–0),(1–0),
4,1873,Princeton,3,"[Yale, Rutgers, Columbia]",[NYU],NR,(1–0),(1–0),
5,1874,Princeton,2,"[Columbia, Rutgers]","[NYU, Yale]",NR,(2–0),(2–0),
6,1874,Yale,2,"[Columbia, Rutgers]","[Princeton, NYU]",NR,(2–0),(3–0),
7,1875,Princeton,3,"[Columbia, Yale, Rutgers]","[NYU, Harvard]",NR,(1–0),(2–0),
8,1876,Yale,4,"[Harvard, Princeton, Columbia, Penn]","[Rutgers, NYU]",NR,(3–0),(3–0),
9,1877,Princeton,3,"[Harvard, Columbia, Rutgers]",[Yale],NR,(2–0–1),(2–0–1),
10,1878,Princeton,4,"[Penn, Rutgers, Harvard, Yale]","[Brown, Columbia]",NR,(5–0),(6–0),
11,1879,Princeton,3,"[Penn, Columbia, Harvard]","[Yale, Rutgers]",NR,(3–0–1),(4–0–1),
12,1879,Yale,3,"[Penn, Rutgers, Columbia]","[Harvard, Princeton]",NR,(3–0–2),(3–0–2),
13,1880,Yale,5,"[Columbia, Brown, Penn, Harvard, Rutgers]",[Princeton],NR,(4–0–1),(4–0–1),
14,1881,Yale,5,"[Michigan, Harvard, Columbia, Penn, Rutgers]","[Princeton, Dartmouth]",NR,(3–0–1),(5–0–1),
15,1882,Yale,7,"[Rutgers, Columbia, Harvard, Princeton, Penn, ...",[Massachusetts],NR,(5–0),(8–0),
16,1883,Yale,7,"[Rutgers, Columbia, Michigan, Princeton, Harva...",[],NR,(5–0),(9–0),
17,1884,Princeton,7,"[Rutgers, Penn, Lafayette, Harvard, Columbia, ...",[Yale],NR,(5–0–1),(9–0–1),
18,1885,Princeton,5,"[Penn, Yale, Lehigh, Lafayette, Rutgers]",[Massachusetts],NR,(4–0),(9–0),
19,1886,Yale,6,"[Penn, Harvard, Lehigh, Lafayette, Rutgers, Da...","[Princeton, Massachusetts]",NR,(2–0–1),(9–0–1),
20,1886,Princeton,6,"[Penn, Harvard, Lehigh, Lafayette, Rutgers, Da...","[Yale, Massachusetts]",NR,(4–0–1),(7–0–1),
21,1887,Yale,7,"[Penn, Rutgers, Princeton, Harvard, Lehigh, La...","[Boston University, Massachusetts, Dartmouth]",NR,(4–0),(9–0),
22,1888,Yale,11,"[Rutgers, Penn, Princeton, Lehigh, Lafayette, ...","[Massachusetts, Fordham]",NR,(4–0),(13–0),
23,1889,Princeton,14,"[Lehigh, Penn, Columbia, Harvard, Yale, Lafaye...","[Brown, Fordham]",NR,(6–0),(10–0),
24,1890,Harvard,18,"[Dartmouth, Cornell, Yale, Bucknell, Michigan,...","[Massachusetts, Brown]",NR,(4–0),(11–0),
25,1891,Yale,18,"[Lehigh, Penn, Harvard, Princeton, Bucknell, P...","[Brown, Massachusetts, Virginia, Holy Cross]",NR,(4–0),(13–0),
26,1892,Yale,21,"[Penn, Harvard, Princeton, Penn State, Virgini...","[Brown, Massachusetts, Minnesota, Purdue, Nebr...",NR,(3–0),(13–0),
27,1893,Princeton,14,"[Lafayette, Lehigh, Cornell, Penn, Army, Yale,...","[Illinois, Massachusetts, Northwestern, Boston...",NR,(7–0),(11–0),
28,1894,Penn,20,"[Georgetown, Lehigh, Virginia, Navy, Lafayette...","[Massachusetts, Yale, Illinois, Purdue, Wiscon...",NR,(8–0),(12–0),
29,1895,Penn,24,"[Bucknell, Lehigh, Virginia, Lafayette, Brown,...","[Massachusetts, Yale, Princeton, Boston Colleg...",NR,(8–0),(14–0),
30,1896,Lafayette,15,"[West Virginia, Penn, Navy, Bucknell, Dartmout...","[Chicago, Minnesota, Yale, Northwestern, Army,...",NR,(5–0–1),(11–0–1),
31,1897,Yale,15,"[Brown, Princeton, Boston University, Lehigh, ...","[Chicago, Penn, Harvard, Minnesota, Northweste...",NR,(2–0–2),(9–0–2),
32,1898,Harvard,26,"[Dartmouth, Army, Penn, Brown, Yale, Lehigh, P...","[Princeton, Illinois, Michigan, Eastern Michig...",NR,(5–0),(11–0),
33,1899,Chicago,39,"[Notre Dame, Cornell, Purdue, Northwestern, Mi...","[Iowa, Harvard, Buffalo, Washington (MO), Drak...",NR,(7–0–2),(16–0–2),
34,1899,Harvard,39,"[Army, Brown, Penn, Dartmouth, Syracuse, Navy,...","[Chicago, Iowa, Buffalo, Washington (MO), Drak...",NR,(4–0–1),(10–0–1),
35,1900,Yale,31,"[Dartmouth, Columbia, Army, Princeton, Harvard...","[Minnesota, Northwestern, Iowa, Drake, Iowa St...",NR,(5–0),(12–0),
36,1901,Michigan,30,"[Indiana, Northwestern, Buffalo, Ohio State, C...","[Minnesota, Nebraska, Syracuse, Cornell, Colga...",NR,(7–0),(11–0),
37,1902,Yale,52,"[Brown, Penn State, Syracuse, Bucknell, Prince...","[Chicago, Haskell, Illinois, Nebraska, Northwe...",NR,(6–0–1),(11–0–1),
38,1903,Princeton,65,"[Georgetown, Brown, Lehigh, Bucknell, Dartmout...","[Minnesota, Nebraska, Northwestern, Iowa State...",NR,(8–0),(11–0),
39,1904,Penn,46,"[Penn State, Virginia, Lehigh, Brown, Columbia...","[Chicago, Minnesota, Purdue, Haskell, Colorado...",NR,(8–0),(12–0),
40,1905,Chicago,48,"[Iowa, Indiana, Wisconsin, Northwestern, Purdu...","[Dartmouth, Penn State, Syracuse, Brown, New H...",NR,(7–0),(11–0),
41,1906,Penn,41,"[Lehigh, North Carolina, Brown, Michigan, Vill...","[Harvard, Kansas, Penn State, Syracuse, Army, ...",NR,(5–0–2),(7–2–3),
42,1907,Penn,48,"[North Carolina, Villanova, Bucknell, Brown, L...","[Colorado College, Davidson, Denver, Drake, Ha...",NR,(8–0),(11–1),
43,1908,Harvard,61,"[Brown, Dartmouth, Yale, New Hampshire, Colgat...","[Colorado College, Iowa State, Kansas, Nebrask...",NR,(3–0–1),(9–0–1),
44,1909,Yale,51,"[Syracuse, Holy Cross, Army, Colgate, Brown, P...","[Oklahoma, Bucknell, Colorado College, Denver,...",NR,(7–0),(10–0),
45,1910,Harvard,46,"[Brown, Army, Cornell, Dartmouth, Yale, Massac...","[Minnesota, Sewanee, Texas A&M, Penn, Vanderbi...",NR,(4–0–1),(8–0–1),
46,1910,Penn,46,"[West Virginia, Brown, Penn State, Lafayette, ...","[Harvard, Minnesota, Sewanee, Texas A&M, Vande...",NR,(5–0–1),(9–1–1),
47,1911,Minnesota,58,"[Iowa State, Nebraska, Iowa, Chicago, Illinois...","[Brown, New Hampshire, Virginia, Yale, Georget...",NR,(5–0–1),(6–0–1),
48,1912,Harvard,48,"[Holy Cross, Brown, Princeton, Vanderbilt, Dar...","[Denver, Colorado, Colorado College, Georgetow...",NR,(6–0),(9–0),
49,1913,Notre Dame,69,"[Army, Penn State, Texas, Rutgers, Colgate, Vi...","[Dartmouth, Massachusetts, Harvard, Indiana, I...",NR,(3–0),(7–0),
50,1914,Harvard,68,"[Michigan, Princeton, Yale, Vanderbilt, Michig...","[Auburn, Colorado College, Drake, Indiana, Okl...",NR,(3–0–2),(7–0–2),
51,1915,Cornell,72,"[Bucknell, Harvard, Virginia Tech, Michigan, W...","[Iowa State, Oklahoma, Wyoming, Arkansas State...",NR,(6–0),(9–0),
52,1916,Yale,75,"[Carnegie Tech, Virginia, Lehigh, Virginia Tec...","[California, Penn State, Army, Colorado, Color...",NR,(7–1),(8–1),
53,1916,Colgate,75,"[Illinois, Syracuse, Brown, Kansas, Purdue, Mi...","[California, Penn State, Army, Colorado, Color...",NR,(3–1),(8–1),
54,1916,Brown,75,"[Rutgers, Yale, Harvard, Villanova, Holy Cross...","[California, Penn State, Army, Colorado, Color...",NR,(3–1),(8–1),
55,1917,Pittsburgh,64,"[West Virginia, Lehigh, Syracuse, Penn, Carneg...","[California, Colorado, Georgia Tech, Indiana, ...",NR,(6–0),(10–0),
56,1918,Michigan,16,"[Chicago, Syracuse, Michigan State, Ohio State...","[Clemson, Kansas State, Arkansas, Iowa, Texas,...",NR,(4–0),(5–0),
57,1918,Pittsburgh,16,"[Penn, Georgia Tech, Penn State, Lafayette, Da...","[Kansas State, Arkansas, Iowa, Notre Dame, Rut...",NR,(3–0),(4–1),
58,1919,Harvard,89,"[Boston College, Brown, Virginia, Yale, Oregon...","[Texas A&M, Purdue, Iowa, Nebraska, Iowa State...",NR,(5–0–1),(9–0–1),
59,1920,California,77,"[Saint Mary's, Nevada, Utah, Oregon State, Was...","[Auburn, Alabama, Baylor, Furman, Georgia Tech...",NR,(7–0),(9–0),
60,1921,Iowa,91,"[Notre Dame, Illinois, Purdue, Minnesota, Indi...","[California, Saint Mary's, Georgia Tech, Lafay...",NR,(6–0),(7–0),
61,1922,Princeton,103,"[Virginia, Colgate, Maryland, Chicago, Harvard...","[Virginia Tech, Chattanooga, Army, California,...",NR,(6–0),(8–0),
62,1923,Illinois,86,"[Nebraska, Iowa, Northwestern, Chicago, Wiscon...","[California, Washington, West Virginia, Texas,...",NR,(7–0),(8–0),
63,1924,California,103,"[Santa Clara, Saint Mary's, Washington State, ...","[Alabama, Baylor, Dartmouth, Georgia, Gonzaga,...",NR,(6–0–2),(8–0–2),
64,1925,Alabama,108,"[LSU, Sewanee, Georgia Tech, Mississippi State...","[Colgate, Dartmouth, Pittsburgh, Syracuse, Tul...",NR,(8–0),(10–0),
65,1926,Navy,102,"[Purdue, Richmond, Drake, Princeton, Colgate, ...","[Stanford, Fresno State, Alabama, SMU, North T...",NR,(7–0–1),(9–0–1),
66,1927,Georgia Tech,107,"[VMI, Tulane, Alabama, North Carolina, LSU, Au...","[Rice, SMU, North Texas, Baylor, Tennessee, Te...",NR,(7–1–1),(8–1–1),
67,1927,Georgia,107,"[Virginia, Yale, Furman, Auburn, Tulane, Flori...","[Rice, SMU, North Texas, Baylor, Tennessee, Te...",NR,(8–1),(9–1),
68,1927,Yale,107,"[Brown, Army, Dartmouth, Maryland, Princeton, ...","[Rice, SMU, North Texas, Baylor, Tennessee, Te...",NR,(6–1),(7–1),
69,1927,Army,107,"[Boston University, Detroit, Marquette, Buckne...","[Rice, SMU, North Texas, Baylor, Tennessee, Te...",NR,(6–1),(9–1),
70,1927,Notre Dame,107,"[Detroit, Navy, Indiana, Georgia Tech, Drake, ...","[Rice, SMU, North Texas, Baylor, Tennessee, Te...",NR,(6–1–1),(7–1–1),
71,1928,Georgia Tech,102,"[VMI, Tulane, Notre Dame, North Carolina, Vand...","[Stanford, Arizona, Denver, Detroit, Indiana, ...",NR,(9–0),(10–0),
72,1929,Notre Dame,106,"[Indiana, Navy, Wisconsin, Carnegie Tech, Geor...","[Baylor, SMU, North Texas, Arkansas, Fordham, ...",NR,(9–0),(9–0),
73,1930,Notre Dame,126,"[SMU, Navy, Carnegie Tech, Pittsburgh, Indiana...","[Alabama, Marquette, Michigan, Eastern Michiga...",NR,(10–0),(10–0),
74,1931,Tennessee,135,"[Clemson, Ole Miss, Alabama, North Carolina, D...","[Detroit, Bucknell, Fordham, San Diego State, ...",NR,(7–0–1),(9–0–1),
75,1932,USC,121,"[Utah, Washington State, Oregon State, Loyola ...","[TCU, North Texas, Auburn, Ball State, Oklahom...",NR,(10–0),(10–0),
76,1933,Minnesota,140,"[Pittsburgh, Iowa, Wisconsin, West Virginia, N...","[Ball State, Centenary, Northwestern State, LS...",NR,(3–0–4),(4–0–4),
77,1934,Alabama,139,"[Sewanee, Mississippi State, Tennessee, Georgi...","[Minnesota, Navy, Pittsburgh, Richmond, Columb...",NR,(9–0),(10–0),
78,1934,Minnesota,139,"[Nebraska, Pittsburgh, Iowa, Michigan, Indiana...","[Stanford, San Jose State, Alabama, Richmond, ...",NR,(7–0),(8–0),
79,1935,California,143,"[Saint Mary's, Oregon, Santa Clara, USC, UCLA,...","[Minnesota, Ohio, Princeton, Holy Cross, Cinci...",NR,(7–1),(9–1),
80,1935,UCLA,143,"[Utah State, Oregon State, Stanford, Oregon, H...","[Minnesota, Ohio, Princeton, Holy Cross, Cinci...",NR,(8–2),(8–2),
81,1935,SMU,143,"[North Texas, Tulsa, Washington (MO), Rice, Ha...","[Minnesota, Ohio, Princeton, Holy Cross, Cinci...",NR,(11–1),(12–1),
82,1935,Stanford,143,"[San Jose State, San Francisco, Washington, Sa...","[Minnesota, Ohio, Princeton, Holy Cross, Cinci...",NR,(8–1),(8–1),
83,1936,Nevada,141,"[Idaho, Gonzaga, San Francisco, Portland, Wash...","[Alabama, UConn, Utah State, Tampa, West Texas...",NR,(1–0),(1–0),
84,1936,Lehigh,141,"[Penn State, Syracuse, Bucknell, Villanova, De...","[Alabama, UConn, Utah State, Tampa, West Texas...",NR,(1–0),(1–0),
85,1936,Utah State,141,"[Montana State, Wyoming, BYU, Utah, Colorado S...","[Alabama, UConn, Tampa, West Texas A&M, Lehigh...",NR,(7–0–1),(7–0–1),
86,1936,Alabama,141,"[Clemson, Mississippi State, Kentucky, Tulane,...","[UConn, Utah State, Tampa, West Texas A&M, Leh...",4,(6–0–1),(8–0–1),
87,1937,Fordham,69,"[TCU, North Carolina, Purdue, Saint Mary's, NY...","[Pittsburgh, Alabama, California, Dartmouth, S...",3,(5–0–1),(7–0–1),(2)
88,1938,Tennessee,82,"[Clemson, Auburn, Alabama, LSU, Vanderbilt, Ol...","[TCU, Georgetown]",2,(7–0),(11–0),(16)
89,1939,Texas A&M,90,"[Oklahoma State, Centenary, Santa Clara, Villa...","[San Jose State, Duquesne, Tennessee, UCLA, Ge...",1,(11–0),(11–0),(55)
90,1940,Minnesota,105,"[Washington, Nebraska, Ohio State, Iowa, North...","[Boston College, Alabama, Georgetown, Mississi...",1,(8–0),(8–0),(65)
91,1941,Notre Dame,109,"[Arizona, Indiana, Georgia Tech, Carnegie Tech...","[Duquesne, Michigan, Minnesota, Mississippi St...",3,(8–0–1),(8–0–1),
92,1942,William & Mary,111,"[Navy, Virginia Tech, George Washington, Dartm...",[],14,(7–0–1),(9–1–1),(1)
93,1943,Notre Dame,59,"[Pittsburgh, Georgia Tech, Michigan, Wisconsin...","[Marquette, Purdue, California, Saint Mary's, ...",1,(8–0),(9–1),(86)
94,1944,Oklahoma State,68,"[Arkansas, Texas Tech, Denver, Tulsa, Texas, O...","[California, Saint Mary's, Colorado, UCLA, USC...",NR,(7–0),(8–1),
95,1945,Alabama,84,"[LSU, South Carolina, Tennessee, Georgia, Kent...","[Michigan, Duke, Indiana, Army, Columbia, Mich...",2,(8–0),(10–0),(1)
96,1946,Notre Dame,120,"[Illinois, Pittsburgh, Purdue, Iowa, Navy, Nor...","[Army, Hardin–Simmons, Georgia]",1,(8–0–1),(8–0–1),(1041⁄2)
97,1946,Hardin–Simmons,120,"[Kansas State, New Mexico, Arizona State, Ariz...","[Army, Georgia, Notre Dame]",NR,(8–0),(11–0),
98,1946,Georgia,120,"[Clemson, Temple, Kentucky, Oklahoma State, Fu...","[Army, Hardin–Simmons, Notre Dame]",3,(11–0),(11–0),(23)
99,1946,Army,120,"[Villanova, Oklahoma, Cornell, Michigan, Colum...","[Hardin–Simmons, Georgia, Notre Dame]",2,(9–0–1),(9–0–1),(521⁄2)
100,1947,Notre Dame,120,"[Pittsburgh, Purdue, Nebraska, Iowa, Navy, Arm...","[SMU, Penn State, Texas, Michigan, Penn]",1,(9–0),(9–0),(107)
101,1947,Michigan,120,"[Michigan State, Stanford, Pittsburgh, Northwe...","[SMU, Penn State, Texas, Notre Dame, Penn]",2,(10–0),(10–0),(25)
102,1948,Notre Dame,114,"[Purdue, Pittsburgh, Michigan State, Nebraska,...","[Army, Clemson, Cornell, Miami (OH), Michigan]",2,(9–0–1),(9–0–1),(97)
103,1948,Michigan,114,"[Michigan State, Oregon, Purdue, Northwestern,...","[Army, Clemson, Cornell, Miami (OH), Notre Dame]",1,(9–0),(9–0),(192)
104,1949,Notre Dame,111,"[Indiana, Washington, Purdue, Tulane, Navy, Mi...","[Oklahoma, Army]",1,(10–0),(10–0),(172)
105,1949,Army,111,"[Davidson, Penn State, Michigan, Harvard, Colu...","[Oklahoma, Notre Dame]",4,(9–0),(9–0),(12)
106,1949,Oklahoma,111,"[Boston College, Texas A&M, Texas, Kansas, Neb...","[Army, Notre Dame]",2,(11–0),(11–0),(18)
107,1950,Clemson,115,"[Missouri, North Carolina State, Wake Forest, ...","[Wyoming, Princeton]",10,(8–0–1),(9–0–1),(9)
108,1951,Maryland,107,"[Washington & Lee, George Washington, Georgia,...","[Cincinnati, San Francisco, Georgia Tech, Mich...",3,(10–0),(10–0),(18)
109,1951,Illinois,107,"[UCLA, Wisconsin, Syracuse, Washington, Indian...","[Cincinnati, San Francisco, Georgia Tech, Mich...",4,(9–0–1),(9–0–1),(10)
110,1952,Georgia Tech,111,"[Citadel, Florida, SMU, Tulane, Auburn, Vander...",[Michigan State],2,(11–0),(12–0),(36)
111,1953,Notre Dame,109,"[Oklahoma, Purdue, Pittsburgh, Georgia Tech, N...",[],2,(9–0–1),(9–0–1),(141)
112,1954,Boston College,99,"[Detroit, VMI, Fordham, Marquette, Boston Univ...","[Oklahoma, UCLA, Virginia Tech, Ohio State]",NR,(6–0),(8–1),
113,1954,UCLA,99,"[Kansas, Maryland, Washington, Stanford, Orego...","[Oklahoma, Virginia Tech, Boston College, Ohio...",2,(8–0),(9–0),(133)
114,1954,Virginia Tech,99,"[North Carolina State, Wake Forest, Clemson, R...","[Oklahoma, UCLA, Boston College, Ohio State]",16,(7–0–1),(8–0–1),
115,1954,Ohio State,99,"[Indiana, California, Illinois, Iowa, Wisconsi...","[Oklahoma, UCLA, Virginia Tech, Boston College]",1,(10–0),(10–0),(204)
116,1954,Oklahoma,99,"[California, TCU, Texas, Kansas, Kansas State,...","[UCLA, Virginia Tech, Boston College, Ohio State]",3,(10–0),(10–0),(35)
117,1955,Oklahoma,103,"[North Carolina, Pittsburgh, Texas, Kansas, Co...",[],1,(11–0),(11–0),(218)
118,1956,Wyoming,103,"[Arizona, Denver, Colorado State, New Mexico, ...","[Texas A&M, Oklahoma]",NR,(9–0),(10–0),
119,1956,Oklahoma,103,"[North Carolina, Kansas State, Texas, Kansas, ...","[Wyoming, Texas A&M]",1,(10–0),(10–0),(104)
120,1956,Texas A&M,103,"[Villanova, LSU, Texas Tech, TCU, Baylor, Arka...","[Wyoming, Oklahoma]",5,(9–0–1),(9–0–1),(2)
121,1957,Auburn,105,"[Tennessee, Kentucky, Georgia Tech, Houston, F...","[Arizona State, VMI]",1,(9–0),(10–0),(210)
122,1957,Arizona State,105,"[Wichita State, Idaho, San Jose State, Hardin–...","[VMI, Auburn]",12,(7–0),(10–0),(10)
123,1957,VMI,105,"[Richmond, William & Mary, George Washington, ...","[Arizona State, Auburn]",20,(5–0–1),(9–0–1),(1)
124,1958,Auburn,103,"[Tennessee, Kentucky, Maryland, Florida, Missi...","[LSU, Air Force, Army, Rutgers]",4,(8–0–1),(9–0–1),(9)
125,1958,Army,103,"[South Carolina, Penn State, Notre Dame, Virgi...","[LSU, Air Force, Auburn, Rutgers]",3,(8–0–1),(8–0–1),(13)
126,1958,LSU,103,"[Rice, Alabama, Hardin–Simmons, Miami (FL), Ke...","[Air Force, Army, Auburn, Rutgers]",1,(11–0),(11–0),(130)
127,1958,Rutgers,103,"[Princeton, Colgate, Richmond, Columbia, Penn,...","[LSU, Air Force, Army, Auburn]",20,(4–0),(8–1),(1)
128,1958,Air Force,103,"[Detroit, Colorado State, Stanford, Utah, Okla...","[LSU, Army, Auburn, Rutgers]",6,(9–0–2),(9–0–2),(2)
129,1959,Syracuse,108,"[Kansas, Maryland, Navy, Holy Cross, West Virg...",[],1,(11–0),(11–0),(134)
130,1960,New Mexico State,110,"[Tulsa, Trinity (TX), New Mexico, Wichita Stat...","[Ole Miss, Yale]",17,(9–0),(11–0),
131,1960,Yale,110,"[Brown, Columbia, Cornell, Colgate, Dartmouth,...","[New Mexico State, Ole Miss]",14,(8–0),(9–0),
132,1960,Ole Miss,110,"[Houston, Kentucky, Memphis, Vanderbilt, Tulan...","[New Mexico State, Yale]",2,(9–0–1),(10–0–1),(16)
133,1961,Bowling Green,107,"[Dayton, West Texas A&M, Wichita State, BYU, U...","[Alabama, Rutgers, Ohio State]",NR,(2–0),(2–0),
134,1961,Ohio State,107,"[UCLA, Illinois, Northwestern, Wisconsin, Iowa...","[Alabama, Bowling Green, Rutgers]",2,(8–0–1),(8–0–1),(20)
135,1961,Alabama,107,"[Georgia, Tulane, Vanderbilt, North Carolina S...","[Bowling Green, Rutgers, Ohio State]",1,(11–0),(11–0),(26)
136,1962,Ole Miss,114,"[Memphis, Kentucky, Houston, Tulane, Vanderbil...","[Washington, USC, Dartmouth]",3,(9–0),(10–0),(2)
137,1963,Memphis,115,"[Southern Miss, Tulsa, North Texas, West Texas...",[Texas],NR,(8–0–1),(9–0–1),
138,1963,Texas,115,"[Tulane, Texas Tech, Oklahoma State, Oklahoma,...",[Memphis],1,(11–0),(11–0),(34)
139,1964,Princeton,112,"[Rutgers, Columbia, Dartmouth, Colgate, Penn, ...","[Alabama, Arkansas, Texas]",NR,(9–0),(9–0),
140,1965,Dartmouth,114,"[Holy Cross, Penn, Brown, Harvard, Yale, Colum...",[Boston University],NR,(8–0),(9–0),
141,1966,Michigan State,113,"[North Carolina State, Penn State, Illinois, M...","[Alabama, Notre Dame]",2,(9–0–1),(9–0–1),(8)
142,1966,Notre Dame,113,"[Purdue, Northwestern, Army, North Carolina, O...","[Michigan State, Alabama]",1,(9–0–1),(9–0–1),(41)
143,1968,Ohio State,109,"[SMU, Oregon, Purdue, Northwestern, Illinois, ...","[Penn State, Harvard, Penn, Yale]",1,(10–0),(10–0),(44)
144,1969,Rutgers,110,"[Princeton, Cornell, Navy, Columbia, Colgate, ...","[UCLA, West Virginia, Penn State, USC, Texas, ...",NR,(5–0),(6–3),
145,1970,Toledo,114,"[East Carolina, Buffalo, Marshall, Ohio, Bowli...","[Nebraska, Arizona State, Dartmouth]",12,(12–0),(12–0),
146,1970,Arizona State,114,"[Colorado State, Kansas State, Wyoming, Washin...","[Nebraska, Toledo, Dartmouth]",6,(11–0),(11–0),(2)
147,1970,Nebraska,114,"[Wake Forest, Army, Minnesota, Missouri, Kansa...","[Toledo, Arizona State, Dartmouth]",1,(11–0–1),(11–0–1),(39)
148,1971,Nebraska,116,"[Oregon, Minnesota, Texas A&M, Utah State, Mis...",[Toledo],1,(12–0),(13–0),(55)
149,1972,USC,118,"[Arkansas, Oregon State, Illinois, Michigan St...",[],1,(12–0),(12–0),(50)
150,1973,Notre Dame,119,"[Northwestern, Purdue, Michigan State, Rice, A...","[Miami (OH), Michigan, Ohio State, Oklahoma, P...",1,(11–0),(11–0),(33)
151,1974,Miami (OH),126,"[Marshall, Kentucky, Ohio, Bowling Green, Tole...",[Oklahoma],10,(9–0–1),(10–0–1),
152,1974,Oklahoma,126,"[Baylor, Utah State, Wake Forest, Texas, Color...",[Miami (OH)],1,(11–0),(11–0),(51)
153,1975,Arkansas State,131,"[Idaho, McNeese State, Memphis, Louisiana, Cin...",[Arizona State],NR,(9–0),(11–0),
154,1975,Arizona State,131,"[Washington, TCU, BYU, Idaho, New Mexico, Colo...",[Arkansas State],2,(12–0),(12–0),(5)
155,1976,Pittsburgh,136,"[Notre Dame, Georgia Tech, Temple, Duke, Louis...",[Rutgers],1,(12–0),(12–0),(59)
156,1976,Rutgers,136,"[Navy, Princeton, Cornell, Columbia, Louisvill...",[Pittsburgh],17,(7–0),(11–0),
157,1977,Tennessee State,142,"[Jackson State, Texas Southern, Grambling, Sou...",[Colgate],NR,(4–0–1),(8–1–1),

In [ ]:
Champs = df_Champions['Team']
Champs.value_counts()

Yale                19
Princeton           17
Notre Dame          14
Alabama              8
Harvard              8
Penn                 6
Oklahoma             6
Ohio State           5
Auburn               5
Nebraska             5
Army                 4
Michigan             4
Rutgers              4
Minnesota            4
Georgia              4
Georgia Tech         4
USC                  4
Miami (FL)           3
Pittsburgh           3
LSU                  3
Tennessee            3
California           3
Clemson              3
Arizona State        3
Tennessee State      3
Texas                3
Florida State        3
Texas A&M            2
Illinois             2
UCLA                 2
Ole Miss             2
Fresno State         2
Chicago              2
SMU                  2
Miami (OH)           2
Penn State           1
Brown                1
Buffalo              1
Dartmouth            1
New Mexico State     1
Navy                 1
BYU                  1
UCF                  1
Fordham              1
Bowling Green        1
Syracuse             1
Boise State          1
Hardin–Simmons       1
Cornell              1
Wyoming              1
Memphis              1
Florida              1
William & Mary       1
Toledo               1
Tulane               1
Arkansas State       1
Colgate              1
Washington           1
Utah State           1
Lafayette            1
Iowa                 1
Maryland             1
Air Force            1
Ball State           1
Nevada               1
Stanford             1
Michigan State       1
Lehigh               1
Utah                 1
Oklahoma State       1
Virginia Tech        1
VMI                  1
Boston College       1
Name: Team, dtype: int64

In [ ]:
column_names = ["Year","Team", "#", "Transitive Wins","Missing","#2","check"]
#df_1937 = get_Transitive_Wins(1937)
df_non_Champions = pd.DataFrame(columns = column_names)
#df_Champions = df_1937.iloc[0:1,:]
#years = range(1937,2021)
years = [1967,1989,2003,2007,2014,2015,2016]

for year in years:
    clear_output(wait=True)
    print(year)
    week = 30
    df_T_Wins = get_Transitive_Wins(year)
    df_T_Wins['Year'] = year
    exec('df_T_Wins_{} = df_T_Wins'.format(year))
    max = df_T_Wins.iloc[0,1]
    i = 0
    for num in df_T_Wins['#']:
        if num != max:
            i = i+1
    new_df = df_T_Wins.tail(i)
    df_non_Champions = df_non_Champions.append(new_df, ignore_index = True)
df_non_Champions

2016

,Year,Team,#,Transitive Wins,Missing,#2,check,Rank,FBS Record,Full Record,1st
0,1967,Penn,4,"[Brown, Columbia, Colgate, Rutgers]","[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(2–5),(3–6),
1,1967,Brown,3,"[Colgate, Columbia, Rutgers]","[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(2–5–1),(2–6–1),
2,1967,Columbia,2,"[Colgate, Rutgers]","[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(2–7),(2–7),
3,1967,San Jose State,1,[New Mexico],"[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(1–6),(2–7),
4,1967,Pittsburgh,1,[Wisconsin],"[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(1–9),(1–9),
5,1967,Rutgers,1,[Colgate],"[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(1–4),(4–5),
6,1967,Wisconsin,0,[],"[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(0–9–1),(0–9–1),
7,1967,Davidson,0,[],"[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(0–5),(4–5),
8,1967,Idaho,0,[],"[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(0–3),(4–6),
9,1967,Colgate,0,[],"[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(0–7),(2–8),
10,1967,New Mexico,0,[],"[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(0–9),(1–9),
11,1967,Maryland,0,[],"[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(0–9),(0–9),
12,1967,Marshall,0,[],"[West Virginia, Villanova, William & Mary, Hou...",NaN,NaN,NR,(0–9),(0–10),
13,1989,Vanderbilt,2,"[Ohio, Kent State]","[Notre Dame, Virginia, Air Force, San Diego St...",NaN,NaN,NR,(1–10),(1–10),
14,1989,Ohio,1,[Kent State],"[Notre Dame, Virginia, Air Force, San Diego St...",NaN,NaN,NR,(1–9–1),(1–9–1),
15,1989,Northwestern,0,[],"[Notre Dame, Virginia, Air Force, San Diego St...",NaN,NaN,NR,(0–11),(0–11),
16,1989,Kansas State,0,[],"[Notre Dame, Virginia, Air Force, San Diego St...",NaN,NaN,NR,(0–9),(1–10),
17,1989,SMU,0,[],"[Notre Dame, Virginia, Air Force, San Diego St...",NaN,NaN,NR,(0–9),(2–9),
18,1989,Kent State,0,[],"[Notre Dame, Virginia, Air Force, San Diego St...",NaN,NaN,NR,(0–11),(0–11),
19,1989,New Mexico State,0,[],"[Notre Dame, Virginia, Air Force, San Diego St...",NaN,NaN,NR,(0–11),(0–11),
20,1989,North Carolina,0,[],"[Notre Dame, Virginia, Air Force, San Diego St...",NaN,NaN,NR,(0–10),(1–10),
21,2003,San Jose State,2,"[SMU, UTEP]","[Kansas State, California, Ball State, Bowling...",NaN,NaN,NR,(2–8),(3–8),
22,2003,East Carolina,1,[Army],"[Kansas State, California, San Jose State, Bal...",NaN,NaN,NR,(1–11),(1–11),
23,2003,UTEP,1,[SMU],"[Kansas State, California, San Jose State, Bal...",NaN,NaN,NR,(1–10),(2–11),
24,2003,Indiana,1,[Illinois],"[Kansas State, California, San Jose State, Bal...",NaN,NaN,NR,(1–10),(2–10),
25,2003,SMU,0,[],"[Kansas State, California, San Jose State, Bal...",NaN,NaN,NR,(0–12),(0–12),
26,2003,Army,0,[],"[Kansas State, California, San Jose State, Bal...",NaN,NaN,NR,(0–13),(0–13),
27,2003,Illinois,0,[],"[Kansas State, California, San Jose State, Bal...",NaN,NaN,NR,(0–11),(1–11),
28,2007,Idaho,0,[],"[Boise State, Cincinnati, Kent State, Iowa Sta...",NaN,NaN,NR,(0–11),(1–11),
29,2014,Troy,3,"[New Mexico State, Georgia State, Idaho]","[Akron, Arizona State, Central Michigan, Louis...",NaN,NaN,NR,(3–8),(3–9),
30,2014,Idaho,2,"[New Mexico State, Georgia State]","[Akron, Arizona State, Central Michigan, Louis...",NaN,NaN,NR,(1–10),(1–10),
31,2014,New Mexico State,1,[Georgia State],"[Akron, Arizona State, Central Michigan, Louis...",NaN,NaN,NR,(1–10),(2–10),
32,2014,Georgia State,0,[],"[Akron, Arizona State, Central Michigan, Louis...",NaN,NaN,NR,(0–11),(1–11),
33,2015,Kansas,0,[],"[Arizona, UTSA, Ball State, UConn, Duke, Tulan...",NaN,NaN,NR,(0–11),(0–12),
34,2015,UCF,0,[],"[Arizona, UTSA, Ball State, UConn, Duke, Tulan...",NaN,NaN,NR,(0–11),(0–12),
35,2016,Fresno State,0,[],"[California, Hawaii, Central Michigan, Cincinn...",NaN,NaN,NR,(0–11),(1–11),

In [ ]:
column_names = ["Year","Rank", "Team", "Record","1st"]
df_AP_Champions = pd.DataFrame(columns = column_names)
for year in range(1936,2021):
    df_Final_AP_Poll = get_Final_AP_Poll(year)
    new_df = df_Final_AP_Poll.iloc[0:i,:]
    df_AP_Champions = df_AP_Champions.append(new_df, ignore_index = True)
    print(df_Final_AP_Poll)
    print('--------------------------------------------------')

    Year  Rank          Team    Record    1st
0   1936     1     Minnesota     (7–1)   (25)
1   1936     2           LSU   (9–0–1)    (9)
2   1936     3    Pittsburgh   (7–1–1)
3   1936     4       Alabama   (8–0–1)
4   1936     5    Washington   (7–1–1)
5   1936     6   Santa Clara     (7–0)    (1)
6   1936     7  Northwestern     (7–1)
7   1936     8    Notre Dame     (6–2)
8   1936     9      Nebraska     (7–2)
9   1936    10          Penn     (7–1)
10  1936    11          Duke     (9–1)
11  1936    12          Yale     (7–1)
12  1936    13     Dartmouth   (7–1–1)
13  1936    14      Duquesne     (7–2)
14  1936    15       Fordham   (5–1–2)
15  1936    16           TCU   (7–2–2)
16  1936    17     Tennessee   (6–2–1)
17  1936    18      Arkansas    (6–3)
18  1936    18          Navy    (6–3)
19  1936    20     Marquette     (7–1)
--------------------------------------------------
    Year  Rank            Team     Record    1st
0   1937     1      Pittsburgh    (9–0–1)   (30)
1   1937     2      California    (9–0–1)
2   1937     3         Fordham    (7–0–1)    (2)
3   1937     4         Alabama      (9–0)    (1)
4   1937     5       Minnesota      (6–2)
5   1937     6       Villanova    (8–0–1)
6   1937     7       Dartmouth    (7–0–2)
7   1937     8             LSU      (9–1)
8   1937     9      Notre Dame   (6–2–1)
9   1937     9     Santa Clara     (8–0)
10  1937    11        Nebraska    (6–1–2)
11  1937    12            Yale    (6–1–1)
12  1937    13      Ohio State      (6–2)
13  1937    14        Arkansas   (6–2–2)
14  1937    14      Holy Cross   (8–0–2)
15  1937    16             TCU    (4–4–2)
16  1937    17        Colorado      (8–0)
17  1937    18            Rice    (4–3–2)
18  1937    19  North Carolina    (7–1–1)
19  1937    20            Duke    (7–2–1)
--------------------------------------------------
    Year  Rank           Team    Record    1st
0   1938     1            TCU    (10–0)   (55)
1   1938     2      Tennessee    (10–0)   (16)
2   1938     3           Duke     (9–0)    (1)
3   1938     4       Oklahoma    (10–0)
4   1938     5     Notre Dame     (8–1)    (4)
5   1938     6  Carnegie Tech     (7–1)
6   1938     7            USC     (8–2)    (1)
7   1938     8     Pittsburgh     (8–2)
8   1938     9     Holy Cross     (8–1)
9   1938    10      Minnesota     (6–2)
10  1938    11     Texas Tech    (10–0)
11  1938    12        Cornell   (5–1–1)
12  1938    13        Alabama   (7–1–1)
13  1938    14     California    (10–1)
14  1938    15        Fordham   (6–1–2)
15  1938    16       Michigan   (6–1–1)
16  1938    17   Northwestern   (4–2–2)
17  1938    18      Villanova   (8–0–1)
18  1938    19         Tulane   (7–2–1)
19  1938    20      Dartmouth     (7–2)
--------------------------------------------------
    Year  Rank            Team    Record    1st
0   1939     1       Texas A&M    (10–0)   (55)
1   1939     2       Tennessee    (10–0)   (26)
2   1939     3             USC   (7–0–2)    (9)
3   1939     4         Cornell     (8–0)   (16)
4   1939     5          Tulane   (8–0–1)
5   1939     6        Missouri     (8–1)
6   1939     7            UCLA   (6–0–4)
7   1939     8            Duke     (8–1)    (2)
8   1939     9            Iowa   (6–1–1)
9   1939    10        Duquesne   (8–0–1)
10  1939    11  Boston College     (9–1)
11  1939    12         Clemson     (8–1)
12  1939    13      Notre Dame     (7–2)
13  1939    14     Santa Clara   (5–1–3)
14  1939    15      Ohio State     (6–2)
15  1939    16    Georgia Tech     (8–2)
16  1939    17         Fordham     (6–2)
17  1939    18        Nebraska   (7–1–1)
18  1939    19        Oklahoma   (6–2–1)
19  1939    20        Michigan     (6–2)
--------------------------------------------------
    Year  Rank               Team    Record    1st
0   1940     1          Minnesota     (8–0)   (65)
1   1940     2           Stanford     (9–0)   (44)
2   1940     3           Michigan     (7–1)    (5)
3   1940     4          Tennessee    (10–0)   (10)
4   1940     5     Boston College    (10–0)    (7)
5   1940     6          Texas A&M     (8–1)    (1)
6   1940     7           Nebraska     (8–1)
7   1940     8       Northwestern     (6–2)
8   1940     9  Mississippi State   (8–0–1)    (1)
9   1940    10         Washington     (7–2)
10  1940    11        Santa Clara   (6–1–1)
11  1940    12            Fordham     (7–1)
12  1940    13         Georgetown     (8–1)
13  1940    14               Penn   (6–1–1)
14  1940    15            Cornell     (6–2)
15  1940    16                SMU   (7–1–1)
16  1940    17     Hardin-Simmons     (8–0)
17  1940    18               Duke     (7–2)
18  1940    19          Lafayette     (9–0)
--------------------------------------------------
    Year  Rank               Team    Record      1st
0   1941     1          Minnesota     (8–0)   (84.5)
1   1941     2               Duke     (9–0)    (9.5)
2   1941     3         Notre Dame   (8–0–1)
3   1941     4              Texas   (7–1–1)      (1)
4   1941     5           Michigan   (6–1–1)
5   1941     6            Fordham     (7–1)
6   1941     7           Missouri     (8–1)      (1)
7   1941     8           Duquesne     (8–0)
8   1941     9          Texas A&M     (8–1)
9   1941    10               Navy   (7–1–1)
10  1941    11       Northwestern     (5–3)
11  1941    12       Oregon State     (7–2)
12  1941    13         Ohio State   (6–1–1)
13  1941    14            Georgia   (8–1–1)
14  1941    15               Penn     (7–1)
15  1941    16  Mississippi State   (7–1–1)
16  1941    17           Ole Miss   (6–2–1)
17  1941    18          Tennessee     (8–2)
18  1941    19   Washington State     (6–3)
19  1941    20            Alabama     (8–2)
--------------------------------------------------
    Year  Rank                        Team     Record    1st
0   1942     1                  Ohio State      (9–1)   (84)
1   1942     2                     Georgia     (10–1)   (62)
2   1942     3                   Wisconsin    (8–1–1)    (4)
3   1942     4                       Tulsa     (10–0)    (4)
4   1942     5                Georgia Tech      (9–1)
5   1942     6                  Notre Dame    (7–2–1)
6   1942     7                   Tennessee    (8–1–1)
7   1942     8              Boston College      (8–1)
8   1942     9                    Michigan      (7–3)
9   1942    10                     Alabama      (7–3)
10  1942    11                       Texas      (8–2)
11  1942    12                    Stanford      (6–4)
12  1942    13                        UCLA      (5–3)
13  1942    14              William & Mary    (8–1–1)    (1)
14  1942    15                 Santa Clara      (7–2)
15  1942    16                      Auburn    (6–4–1)
16  1942    17            Washington State    (6–1–2)
17  1942    18           Mississippi State      (7–2)
18  1942    19                  Holy Cross    (5–4–1)   (1)
19  1942    19  Minnesota (5–4) Penn State   (6–1–1)
--------------------------------------------------
    Year  Rank                  Team    Record    1st
0   1943     1            Notre Dame     (9–1)   (86)
1   1943     2       Iowa Pre-Flight     (9–1)   (12)
2   1943     3              Michigan     (8–1)    (1)
3   1943     4                  Navy     (8–1)
4   1943     5                Purdue     (9–0)   (12)
5   1943     6      Great Lakes Navy     (8–2)    (1)
6   1943     7                  Duke     (8–1)    (7)
7   1943     8  Del Monte Pre-Flight     (7–1)    (9)
8   1943     9          Northwestern     (6–2)
9   1943    10           March Field     (6–1)
10  1943    11                  Army   (7–2–1)
11  1943    12            Washington     (4–0)    (1)
12  1943    13          Georgia Tech     (7–3)
13  1943    14                 Texas     (7–1)
14  1943    15                 Tulsa   (6–0–1)
15  1943    16             Dartmouth     (6–1)
16  1943    17            Bainbridge     (7–0)
17  1943    18      Colorado College     (7–0)    (2)
18  1943    19          Pacific (CA)     (7–1)
19  1943    20                  Penn   (6–2–1)
--------------------------------------------------
    Year  Rank                     Team    Record    1st
0   1944     1                     Army     (9–0)   (95)
1   1944     2               Ohio State     (9–0)    (5)
2   1944     3           Randolph Field     (9–0)   (17)
3   1944     4                     Navy     (6–3)
4   1944     5           Bainbridge NTS    (10–0)    (3)
5   1944     6          Iowa Pre-Flight    (10–1)    (1)
6   1944     7                      USC   (7–0–2)
7   1944     8                 Michigan     (8–2)
8   1944     9               Notre Dame     (8–2)
9   1944    10              March Field   (7–0–2)
10  1944    11                     Duke     (6–4)
11  1944    12                Tennessee   (7–0–1)
12  1944    13             Georgia Tech    (8–2)
13  1944    13               Norman NAS    (6–0)
14  1944    15                 Illinois   (5–4–1)
15  1944    16          El Toro Marines     (7–1)
16  1944    17         Great Lakes Navy     (8–2)
17  1944    18              Fort Pierce     (8–0)
18  1944    19  Saint Mary's Pre-Flight     (4–4)
19  1944    20         Second Air Force   (8–2–1)
--------------------------------------------------
    Year  Rank          Team    Record     1st
0   1945     1          Army     (9–0)   (115)
1   1945     2       Alabama     (9–0)     (1)
2   1945     3          Navy   (7–1–1)
3   1945     4       Indiana   (9–0–1)
4   1945     5  Oklahoma A&M     (8–0)
5   1945     6      Michigan     (7–3)
6   1945     7    St. Mary's     (7–1)
7   1945     8          Penn     (6–2)
8   1945     9    Notre Dame   (7–2–1)
9   1945    10         Texas     (9–1)
10  1945    11           USC     (7–3)
11  1945    12    Ohio State     (7–2)
12  1945    13          Duke     (6–2)
13  1945    14     Tennessee     (8–1)
14  1945    15           LSU     (7–2)
15  1945    16    Holy Cross     (8–1)
16  1945    17         Tulsa     (7–2)
17  1945    18       Georgia     (8–2)
18  1945    19   Wake Forest   (4–3–1)
19  1945    20      Columbia     (8–1)
--------------------------------------------------
    Year  Rank            Team    Record        1st
0   1946     1      Notre Dame   (8–0–1)   (1041⁄2)
1   1946     2            Army   (9–0–1)    (521⁄2)
2   1946     3         Georgia    (10–0)       (23)
3   1946     4            UCLA    (10–0)        (2)
4   1946     5        Illinois     (7–2)
5   1946     6        Michigan   (6–2–1)
6   1946     7       Tennessee     (9–1)
7   1946     8             LSU     (9–1)
8   1946     9  North Carolina   (8–1–1)
9   1946    10            Rice     (8–2)
10  1946    11    Georgia Tech     (8–2)
11  1946    12            Yale   (7–1–1)
12  1946    13            Penn     (6–2)
13  1946    14        Oklahoma     (7–3)
14  1946    15           Texas     (8–2)        (1)
15  1946    16        Arkansas   (6–3–1)
16  1946    17           Tulsa     (9–1)
17  1946    18        NC State     (8–2)
18  1946    19        Delaware     (9–0)
19  1946    20         Indiana     (6–3)        (1)
--------------------------------------------------
    Year  Rank            Team    Record     1st
0   1947     1      Notre Dame     (9–0)   (107)
1   1947     2        Michigan     (9–0)    (25)
2   1947     3             SMU   (9–0–1)
3   1947     4      Penn State     (9–0)     (1)
4   1947     5           Texas     (9–1)
5   1947     6         Alabama     (8–2)     (1)
6   1947     7            Penn   (7–0–1)
7   1947     8             USC   (7–1–1)
8   1947     9  North Carolina     (8–2)     (7)
9   1947    10    Georgia Tech     (9–1)
10  1947    11            Army   (5–2–2)
11  1947    12          Kansas   (8–0–2)
12  1947    13        Ole Miss     (8–2)
13  1947    14  William & Mary     (9–1)
14  1947    15      California     (9–1)
15  1947    16        Oklahoma   (7–2–1)     (1)
16  1947    17        NC State   (5–3–1)
17  1947    18            Rice   (6–3–1)
18  1947    19            Duke   (4–3–2)
19  1947    20        Columbia     (7–2)
--------------------------------------------------
    Year  Rank            Team    Record     1st
0   1948     1        Michigan     (9–0)   (192)
1   1948     2      Notre Dame     (9–0)    (97)
2   1948     3  North Carolina   (9–0–1)    (31)
3   1948     4      California    (10–0)     (5)
4   1948     5        Oklahoma     (9–1)    (30)
5   1948     6            Army   (8–0–1)
6   1948     7    Northwestern     (7–2)
7   1948     8         Georgia     (9–1)     (5)
8   1948     9          Oregon     (9–1)
9   1948    10             SMU   (8–1–1)
10  1948    11         Clemson     (9–0)     (6)
11  1948    12      Vanderbilt   (7–2–1)     (2)
12  1948    13          Tulane     (9–1)
13  1948    14  Michigan State   (6–2–2)     (2)
14  1948    15        Ole Miss     (8–1)    (13)
15  1948    16       Minnesota     (7–2)
16  1948    17  William & Mary   (6–2–2)
17  1948    18      Penn State   (7–1–1)
18  1948    19         Cornell     (8–1)
19  1948    20     Wake Forest     (6–3)
--------------------------------------------------
    Year  Rank                   Team    Record     1st
0   1949     1             Notre Dame     (9–0)   (172)
1   1949     2               Oklahoma    (10–0)    (18)
2   1949     3             California    (10–0)
3   1949     4                   Army     (9–0)    (12)
4   1949     5                   Rice     (9–1)
5   1949     6             Ohio State   (6–1–2)
6   1949     7               Michigan   (6–2–1)
7   1949     8              Minnesota     (7–2)
8   1949     9                    LSU     (8–2)
9   1949    10                Pacific    (10–0)     (4)
10  1949    11               Kentucky     (9–2)
11  1949    12                Cornell     (8–1)
12  1949    13              Villanova     (8–1)     (2)
13  1949    14               Maryland     (7–1)
14  1949    15            Santa Clara   (7–2–1)
15  1949    16         North Carolina     (7–3)
16  1949    17              Tennessee   (7–2–1)
17  1949    18              Princeton     (6–3)
18  1949    19         Michigan State     (6–3)
19  1949    20  Baylor (8–2) Missouri    (7–3)
--------------------------------------------------
    Year  Rank              Team    Record     1st
0   1950     1          Oklahoma    (10–0)   (213)
1   1950     2              Army     (8–1)    (38)
2   1950     3             Texas     (8–1)     (4)
3   1950     4         Tennessee     (9–1)    (15)
4   1950     5        California   (9–0–1)     (8)
5   1950     6         Princeton     (9–0)     (6)
6   1950     7          Kentucky    (10–1)     (7)
7   1950     8    Michigan State     (8–1)     (3)
8   1950     9          Michigan   (5–3–1)
9   1950    10           Clemson   (8–0–1)     (9)
10  1950    11        Washington     (8–2)     (4)
11  1950    12           Wyoming     (9–0)     (4)
12  1950    13          Illinois     (7–2)
13  1950    14        Ohio State     (6–3)
14  1950    15        Miami (FL)   (8–0–1)     (1)
15  1950    16              Ohio     (8–2)     (1)
16  1950    17          Nebraska   (6–2–1)     (2)
17  1950    18  Washington & Lee     (8–2)     (2)
18  1950    19             Tulsa   (8–1–1)
19  1950    20            Tulane     (6–2)
--------------------------------------------------
    Year  Rank               Team     Record     1st
0   1951     1          Tennessee     (10–0)   (139)
1   1951     2     Michigan State      (9–0)   (104)
2   1951     3           Maryland      (9–0)    (18)
3   1951     4           Illinois    (8–0–1)    (10)
4   1951     5       Georgia Tech   (10–0–1)     (8)
5   1951     6          Princeton      (9–0)     (3)
6   1951     7           Stanford      (9–1)     (1)
7   1951     8          Wisconsin    (7–1–1)    (10)
8   1951     9             Baylor    (8–1–1)
9   1951    10           Oklahoma      (8–2)     (4)
10  1951    11                TCU      (6–4)
11  1951    12         California      (8–2)     (2)
12  1951    13           Virginia      (8–1)     (5)
13  1951    14      San Francisco      (9–0)     (2)
14  1951    15           Kentucky      (7–4)
15  1951    16  Boston University      (6–4)     (2)
16  1951    17               UCLA    (5–3–1)
17  1951    18   Washington State      (7–3)
18  1951    19         Holy Cross      (8–2)     (1)
19  1951    20            Clemson      (7–2)
--------------------------------------------------
    Year  Rank            Team    Record     1st
0   1952     1  Michigan State     (9–0)   (207)
1   1952     2    Georgia Tech    (11–0)    (36)
2   1952     3      Notre Dame   (7–2–1)     (4)
3   1952     4        Oklahoma   (8–1–1)    (14)
4   1952     5             USC     (9–1)     (2)
5   1952     6            UCLA     (8–1)     (1)
6   1952     7        Ole Miss   (8–0–2)     (3)
7   1952     8       Tennessee   (8–1–1)
8   1952     9         Alabama     (9–2)
9   1952    10           Texas     (8–2)
10  1952    11       Wisconsin   (6–2–1)
11  1952    12           Tulsa   (8–1–1)     (3)
12  1952    13        Maryland     (7–2)
13  1952    14        Syracuse     (7–2)
14  1952    15         Florida     (6–3)
15  1952    16            Duke     (8–2)
16  1952    17      Ohio State     (6–3)
17  1952    18          Purdue   (4–3–2)
18  1952    19       Princeton     (8–1)
19  1952    20        Kentucky   (5–3–2)
--------------------------------------------------
    Year  Rank            Team    Record     1st
0   1953     1        Maryland    (10–0)   (187)
1   1953     2      Notre Dame   (8–0–1)   (141)
2   1953     3  Michigan State     (8–1)     (8)
3   1953     4        Oklahoma   (8–1–1)    (10)
4   1953     5            UCLA     (8–1)     (1)
5   1953     6            Rice     (8–2)     (2)
6   1953     7        Illinois   (7–1–1)
7   1953     8    Georgia Tech   (7–2–1)
8   1953     9            Iowa   (5–3–1)    (10)
9   1953    10   West Virginia     (8–1)    (14)
10  1953    11           Texas     (7–3)
11  1953    12      Texas Tech    (10–1)
12  1953    13         Alabama   (6–2–3)     (1)
13  1953    14            Army   (7–1–1)
14  1953    15       Wisconsin   (6–2–1)
15  1953    16        Kentucky   (7–2–1)     (3)
16  1953    17          Auburn   (7–2–1)
17  1953    18            Duke   (7–2–1)
18  1953    19        Stanford   (6–3–1)
19  1953    20        Michigan     (6–3)     (1)
--------------------------------------------------
    Year  Rank           Team    Record     1st
0   1954     1     Ohio State     (9–0)   (204)
1   1954     2           UCLA     (9–0)   (133)
2   1954     3       Oklahoma    (10–0)    (35)
3   1954     4     Notre Dame     (8–1)     (9)
4   1954     5           Navy     (7–2)     (4)
5   1954     6       Ole Miss     (9–1)     (6)
6   1954     7           Army     (7–2)
7   1954     8       Maryland   (7–2–1)     (4)
8   1954     9      Wisconsin     (7–2)
9   1954    10       Arkansas     (8–2)     (4)
10  1954    11     Miami (FL)     (8–1)     (7)
11  1954    12  West Virginia     (8–1)     (2)
12  1954    13         Auburn     (7–3)     (1)
13  1954    14           Duke   (7–2–1)
14  1954    15       Michigan     (6–3)
15  1954    16  Virginia Tech   (8–0–1)
16  1954    17            USC     (8–3)
17  1954    18         Baylor     (7–3)
18  1954    19           Rice     (7–3)
19  1954    20     Penn State     (7–2)
--------------------------------------------------
    Year  Rank            Team    Record     1st
0   1955     1        Oklahoma    (10–0)   (218)
1   1955     2  Michigan State     (8–1)    (88)
2   1955     3        Maryland    (10–0)    (55)
3   1955     4            UCLA     (9–1)     (9)
4   1955     5      Ohio State     (7–2)     (4)
5   1955     6             TCU     (9–1)     (9)
6   1955     7    Georgia Tech   (8–1–1)
7   1955     8          Auburn   (8–1–1)     (6)
8   1955     9      Notre Dame     (8–2)
9   1955    10        Ole Miss     (9–1)     (1)
10  1955    11      Pittsburgh     (7–3)     (1)
11  1955    12        Michigan     (7–2)

In [ ]:
df_AP_Champions

,Year,Rank,Team,Record,1st
0,1936,1,Minnesota,(7–1),(25)
1,1937,1,Pittsburgh,(9–0–1),(30)
2,1938,1,TCU,(10–0),(55)
3,1939,1,Texas A&M,(10–0),(55)
4,1940,1,Minnesota,(8–0),(65)
5,1941,1,Minnesota,(8–0),(84.5)
6,1942,1,Ohio State,(9–1),(84)
7,1943,1,Notre Dame,(9–1),(86)
8,1944,1,Army,(9–0),(95)
9,1945,1,Army,(9–0),(115)
10,1946,1,Notre Dame,(8–0–1),(1041⁄2)
11,1947,1,Notre Dame,(9–0),(107)
12,1948,1,Michigan,(9–0),(192)
13,1949,1,Notre Dame,(9–0),(172)
14,1950,1,Oklahoma,(10–0),(213)
15,1951,1,Tennessee,(10–0),(139)
16,1952,1,Michigan State,(9–0),(207)
17,1953,1,Maryland,(10–0),(187)
18,1954,1,Ohio State,(9–0),(204)
19,1955,1,Oklahoma,(10–0),(218)
20,1956,1,Oklahoma,(10–0),(104)
21,1957,1,Auburn,(10–0),(210)
22,1958,1,LSU,(10–0),(130)
23,1959,1,Syracuse,(10–0),(134)
24,1960,1,Minnesota (8–1),(17.mw-parser-output .frac{white-space:nowrap...,"t(0,0,0,0);height:1px;margin:-1px;overflow:hid..."
25,1961,1,Alabama,(10–0),(26)
26,1962,1,USC,(10–0),(42)
27,1963,1,Texas,(10–0),(34)
28,1964,1,Alabama (10–0),(34.mw-parser-output .frac{white-space:nowrap...,"t(0,0,0,0);height:1px;margin:-1px;overflow:hid..."
29,1965,1,Alabama,(9–1–1),(37)
30,1966,1,Notre Dame,(9–0–1),(41)
31,1967,1,USC,(9–1),(36)
32,1968,1,Ohio State,(10–0),(44)
33,1969,1,Texas,(11–0),(36)
34,1970,1,Nebraska,(11–0–1),(39)
35,1971,1,Nebraska,(13–0),(55)
36,1972,1,USC,(12–0),(50)
37,1973,1,Notre Dame,(11–0),(33)
38,1974,1,Oklahoma,(11–0),(51)
39,1975,1,Oklahoma,(11–1),(54 ½)
40,1976,1,Pittsburgh,(12–0),(59)
41,1977,1,Notre Dame,(11–1),(37 ⅓)
42,1978,1,Alabama,(11–1),(38)
43,1979,1,Alabama,(12–0),(46)
44,1980,1,Georgia (12–0),(58 .mw-parser-output .frac{white-space:nowra...,"t(0,0,0,0);height:1px;margin:-1px;overflow:hid..."
45,1981,1,Clemson,(12–0),(47)
46,1982,1,Penn State,(11–1),(44)
47,1983,1,Miami (FL) (11–1),(47 .mw-parser-output .frac{white-space:nowra...,"t(0,0,0,0);height:1px;margin:-1px;overflow:hid..."
48,1984,1,BYU,(13–0),(38)
49,1985,1,Oklahoma,(11–1),(55)
50,1986,1,Penn State,(12–0),(54)
51,1987,1,Miami (FL),(12–0),(57)
52,1988,1,Notre Dame (12–0),(58 .mw-parser-output .frac{white-space:nowra...,"t(0,0,0,0);height:1px;margin:-1px;overflow:hid..."
53,1989,1,Miami (FL),(11–1),(38)
54,1990,1,Colorado,(11–1–1),(39)
55,1991,1,Miami (FL),(12–0),(32)
56,1992,1,Alabama,(13–0),(62)
57,1993,1,Florida State,(12–1),(46)
58,1994,1,Nebraska (13–0),(51 .mw-parser-output .frac{white-space:nowra...,"t(0,0,0,0);height:1px;margin:-1px;overflow:hid..."
59,1995,1,Nebraska,(12–0),(62)
60,1996,1,Florida,(12–1),(65½)
61,1997,1,Michigan,(12–0),(51½)
62,1998,1,Tennessee,(13–0),(70)
63,1999,1,Florida State,(12–0),(70)
64,2000,1,Oklahoma,(13–0),(71)
65,2001,1,Miami (FL),(12–0),(72)
66,2002,1,Ohio State,(14–0),(71)
67,2003,1,USC,(12–1),(48)
68,2004,1,USC,(13–0),(62)
69,2005,1,Texas,(13–0),(65)
70,2006,1,Florida,(13–1),(64)
71,2007,1,LSU,(12–2),(60)
72,2008,1,Florida,(13–1),(48)
73,2009,1,Alabama,(14–0),(60)
74,2010,1,Auburn,(14–0),(56)
75,2011,1,Alabama,(12–1),(55)
76,2012,1,Alabama,(13–1),(59)
77,2013,1,Florida State,(14–0),(60)
78,2014,1,Ohio State,(14–1),(59)
79,2015,1,Alabama,(14–1),(61)
80,2016,1,Clemson,(14–1),(60)
81,2017,1,Alabama,(13–1),(57)
82,2018,1,Clemson,(15–0),(61)
83,2019,1,LSU,(15–0),(62)
84,2020,1,Alabama,(13–0),(61)

In [ ]:
AP_Champs = df_AP_Champions['Team']
AP_Champs.value_counts()

Alabama              11
Oklahoma              7
Notre Dame            7
Ohio State            5
USC                   5
Miami (FL)            4
Clemson               3
Florida               3
Nebraska              3
Texas                 3
Minnesota             3
LSU                   3
Florida State         3
Tennessee             2
Penn State            2
Michigan              2
Auburn                2
Army                  2
Pittsburgh            2
Nebraska (13–0)       1
TCU                   1
Notre Dame (12–0)     1
Texas A&M             1
Maryland              1
Syracuse              1
Alabama (10–0)        1
Georgia (12–0)        1
Minnesota (8–1)       1
Miami (FL) (11–1)     1
Colorado              1
Michigan State        1
BYU                   1
Name: Team, dtype: int64

In [ ]:
df_AP_T_Champs = df_Champions[df_Champions['Year'] >= 1936]
AP_T_Champs = df_AP_T_Champs['Team']
AP_T_Champs.value_counts()

Notre Dame          10
Alabama              6
Oklahoma             6
Auburn               5
Nebraska             5
Ohio State           5
Arizona State        3
Tennessee State      3
USC                  3
Miami (FL)           3
Clemson              3
Texas                3
Georgia              3
Florida State        3
Rutgers              3
Army                 3
LSU                  3
Michigan             2
Ole Miss             2
Georgia Tech         2
Tennessee            2
Fresno State         2
Texas A&M            2
Miami (OH)           2
Memphis              1
Air Force            1
BYU                  1
Buffalo              1
Yale                 1
Fordham              1
Dartmouth            1
Pittsburgh           1
Syracuse             1
New Mexico State     1
Penn State           1
Hardin–Simmons       1
Bowling Green        1
VMI                  1
Princeton            1
Oklahoma State       1
Arkansas State       1
William & Mary       1
UCLA                 1
Toledo               1
Tulane               1
UCF                  1
Boise State          1
SMU                  1
Utah State           1
Virginia Tech        1
Washington           1
Utah                 1
Florida              1
Lehigh               1
Maryland             1
Ball State           1
Illinois             1
Nevada               1
Wyoming              1
Michigan State       1
Minnesota            1
Boston College       1
Name: Team, dtype: int64

## To Google Sheets

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials
from gspread_dataframe import set_with_dataframe


gc = gspread.authorize(GoogleCredentials.get_application_default())

In [ ]:
from gspread_dataframe import set_with_dataframe
sh = gc.create('FBS Transitive Data')

worksheet = gc.open('FBS Transitive Data').sheet1
set_with_dataframe(worksheet, df_Champions)

worksheet2 = sh.add_worksheet(title="1869", rows="150", cols="10")
worksheet3 = sh.add_worksheet(title="1870", rows="150", cols="10")
for num in range(4,153):
    year = num + 1868
    exec('worksheet{} = sh.add_worksheet(title="{}", rows="150", cols="10")'.format(num,year))

In [ ]:
set_with_dataframe(worksheet2, df_T_Wins_1869)
set_with_dataframe(worksheet3, df_T_Wins_1870)
for num in range(4,153):
    year = num + 1868
    exec('set_with_dataframe(worksheet{}, df_T_Wins_{})'.format(num,year))

NameError: ignored

### Weekly Data

In [ ]:
from gspread_dataframe import set_with_dataframe
sh = gc.create('FBS Transitive Data 2021')

worksheet = gc.open('FBS Transitive Data 2021').sheet1
set_with_dataframe(worksheet, df_team_scores)

NameError: ignored

In [ ]:
from gspread_dataframe import set_with_dataframe

worksheet = gc.open('FBS Transitive Data 2021')

worksheet2 = worksheet.add_worksheet(title="Final Rankings", rows="131", cols="8")
set_with_dataframe(worksheet2, df_team_scores)

worksheet2 = worksheet.add_worksheet(title="Final Rankings Raw Data", rows="131", cols="8")
set_with_dataframe(worksheet2, df_team_scores_raw)

#worksheet2 = worksheet.add_worksheet(title="Week 3", rows="131", cols="14")
#set_with_dataframe(worksheet2, df_team_scores)
#worksheet2 = worksheet.add_worksheet(title="Week 4", rows="131", cols="12")
#set_with_dataframe(worksheet2, df_team_scores)
#worksheet2 = worksheet.add_worksheet(title="Week 5", rows="131", cols="12")
#set_with_dataframe(worksheet2, df_team_scores)
#worksheet2 = worksheet.add_worksheet(title="Week 6", rows="131", cols="14")
#set_with_dataframe(worksheet2, df_team_scores)
#worksheet2 = worksheet.add_worksheet(title="Week 7", rows="131", cols="14")
#set_with_dataframe(worksheet2, df_team_scores)

## Search

In [ ]:
get_Teams(2020)

['Air Force',
 'Akron',
 'Alabama',
 'Appalachian State',
 'Arizona',
 'Arizona State',
 'Arkansas',
 'Arkansas State',
 'Army',
 'Auburn',
 'Ball State',
 'Baylor',
 'Boise State',
 'Boston College',
 'Bowling Green',
 'Buffalo',
 'BYU',
 'California',
 'Central Michigan',
 'Charlotte',
 'Cincinnati',
 'Clemson',
 'Coastal Carolina',
 'Colorado',
 'Colorado State',
 'Duke',
 'East Carolina',
 'Eastern Michigan',
 'FIU',
 'Florida',
 'Florida Atlantic',
 'Florida State',
 'Fresno State',
 'Georgia',
 'Georgia Southern',
 'Georgia State',
 'Georgia Tech',
 'Hawaii',
 'Houston',
 'Illinois',
 'Indiana',
 'Iowa',
 'Iowa State',
 'Kansas',
 'Kansas State',
 'Kent State',
 'Kentucky',
 'Liberty',
 'Louisiana',
 'Louisiana–Monroe',
 'Louisiana Tech',
 'Louisville',
 'LSU',
 'Marshall',
 'Maryland',
 'Massachusetts',
 'Memphis',
 'Miami (FL)',
 'Miami (OH)',
 'Michigan',
 'Michigan State',
 'Middle Tennessee',
 'Minnesota',
 'Mississippi State',
 'Missouri',
 'Navy',
 'Nebraska',
 'Nevada',
 'New Mexico',
 'New Mexico State',
 'North Carolina',
 'North Carolina State',
 'North Texas',
 'Northern Illinois',
 'Northwestern',
 'Notre Dame',
 'Ohio',
 'Ohio State',
 'Oklahoma',
 'Oklahoma State',
 'Old Dominion',
 'Ole Miss',
 'Oregon',
 'Oregon State',
 'Penn State',
 'Pittsburgh',
 'Purdue',
 'Rice',
 'Rutgers',
 'San Diego State',
 'San Jose State',
 'South Alabama',
 'South Carolina',
 'South Florida',
 'USC',
 'SMU',
 'Southern Miss',
 'Stanford',
 'Syracuse',
 'TCU',
 'Temple',
 'Tennessee',
 'Texas',
 'Texas A&M',
 'Texas State',
 'Texas Tech',
 'Toledo',
 'Troy',
 'Tulane',
 'Tulsa',
 'UAB',
 'UCF',
 'UCLA',
 'UConn',
 'UNLV',
 'Utah',
 'Utah State',
 'UTEP',
 'UTSA',
 'Vanderbilt',
 'Virginia',
 'Virginia Tech',
 'Wake Forest',
 'Washington',
 'Washington State',
 'West Virginia',
 'Western Kentucky',
 'Western Michigan',
 'Wisconsin',
 'Wyoming']

In [ ]:
get_Team_info("Alabama", 2020)

Team:  Alabama 2020
Record:  (13–0)
Wins ( 13 ): ['Missouri', 'Texas A&M', 'Ole Miss', 'Georgia', 'Tennessee', 'Mississippi State', 'Kentucky', 'Auburn', 'LSU', 'Arkansas', 'Florida', 'Notre Dame', 'Ohio State']
Transitive Wins ( 113 / 127 ): ['Missouri', 'Texas A&M', 'Ole Miss', 'Georgia', 'Tennessee', 'Mississippi State', 'Kentucky', 'Auburn', 'LSU', 'Arkansas', 'Florida', 'Notre Dame', 'Ohio State', 'South Carolina', 'Vanderbilt', 'North Carolina', 'Indiana', 'Cincinnati', 'Tulsa', 'North Carolina State', 'Duke', 'South Florida', 'Florida State', 'Louisville', 'Pittsburgh', 'Georgia Tech', 'Clemson', 'Boston College', 'Syracuse', 'Nebraska', 'Penn State', 'Rutgers', 'Michigan State', 'Northwestern', 'Virginia Tech', 'Wake Forest', 'Miami (FL)', 'Michigan', 'Maryland', 'Wisconsin', 'Army', 'SMU', 'Memphis', 'Houston', 'East Carolina', 'UCF', 'Tulane', 'Navy', 'Virginia', 'Liberty', 'Charlotte', 'Western Kentucky', 'Texas State', 'Purdue', 'Illinois', 'Iowa', 'UAB', 'Minnesota', 'Middle Tennessee', 'Louisiana–Monroe', 'UTSA', 'Georgia Southern', 'Air Force', 'North Texas', 'Temple', 'Arkansas State', 'Florida Atlantic', 'South Alabama', 'Southern Miss', 'FIU', 'Massachusetts', 'Coastal Carolina', 'UTEP', 'Rice', 'Marshall', 'Troy', 'Louisiana Tech', 'New Mexico', 'Utah State', 'Kansas State', 'Georgia State', 'Kansas', 'Louisiana', 'Appalachian State', 'BYU', 'Wyoming', 'Fresno State', 'Oklahoma', 'Texas Tech', 'TCU', 'Iowa State', 'Boise State', 'San Diego State', 'Hawaii', 'UNLV', 'Colorado State', 'Texas', 'Oklahoma State', 'Baylor', 'West Virginia', 'Oregon', 'Nevada', 'Colorado', 'Stanford', 'Washington State', 'UCLA', 'USC', 'Arizona', 'California', 'Washington', 'Oregon State', 'Arizona State', 'Utah']
Missing: ['Akron', 'Ball State', 'Bowling Green', 'Buffalo', 'Central Michigan', 'Eastern Michigan', 'Kent State', 'Miami (OH)', 'New Mexico State', 'Northern Illinois', 'Ohio', 'San Jose State', 'Toledo', 'Western Michigan']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:84: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:85: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:87: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:88: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
df = get_Transitive_Wins(2020)
df

IndexError: ignored

In [ ]:
#for year in range(1941,2021):
df_Final_AP_Poll = get_Final_AP_Poll(1937)
#print(year)
df_Final_AP_Poll

df_Final_AP_Poll['Record'][5]

' (8–0–1)'

In [ ]:
get_Games(2020)

,Wk,Date,Day,Winner,Pts,@,Loser,Pts.1
0,1,"Sep 3, 2020",Thu,UAB,45,None,Central Arkansas,35
1,1,"Sep 3, 2020",Thu,South Alabama,32,@,Southern Miss,21
2,1,"Sep 5, 2020",Sat,Army,42,None,Middle Tennessee,0
3,1,"Sep 5, 2020",Sat,Marshall,59,None,Eastern Kentucky,0
4,1,"Sep 5, 2020",Sat,Memphis,37,None,Arkansas State,24
5,1,"Sep 5, 2020",Sat,North Texas,57,None,Houston Baptist,31
6,1,"Sep 5, 2020",Sat,SMU,31,@,Texas State,24
7,1,"Sep 5, 2020",Sat,UTEP,24,None,Stephen F. Austin,14
8,1,"Sep 7, 2020",Mon,BYU,55,@,Navy,3
9,2,"Sep 10, 2020",Thu,Miami (FL),31,None,UAB,14
10,2,"Sep 12, 2020",Sat,Appalachian State,35,None,Charlotte,20
11,2,"Sep 12, 2020",Sat,Arkansas State,35,@,Kansas State,31
12,2,"Sep 12, 2020",Sat,Army,37,None,Louisiana–Monroe,7
13,2,"Sep 12, 2020",Sat,Clemson,37,@,Wake Forest,13
14,2,"Sep 12, 2020",Sat,Coastal Carolina,38,@,Kansas,23
15,2,"Sep 12, 2020",Sat,Georgia Southern,27,None,Campbell,26
16,2,"Sep 12, 2020",Sat,Georgia Tech,16,@,Florida State,13
17,2,"Sep 12, 2020",Sat,Louisiana,31,@,Iowa State,14
18,2,"Sep 12, 2020",Sat,Louisville,35,None,Western Kentucky,21
19,2,"Sep 12, 2020",Sat,North Carolina,31,None,Syracuse,6
20,2,"Sep 12, 2020",Sat,Notre Dame,27,None,Duke,13
21,2,"Sep 12, 2020",Sat,Oklahoma,48,None,Missouri State,0
22,2,"Sep 12, 2020",Sat,Pittsburgh,55,None,Austin Peay,0
23,2,"Sep 12, 2020",Sat,South Florida,27,None,Citadel,6
24,2,"Sep 12, 2020",Sat,Texas,59,None,UTEP,3
25,2,"Sep 12, 2020",Sat,Texas Tech,35,None,Houston Baptist,33
26,2,"Sep 12, 2020",Sat,UTSA,51,@,Texas State,48
27,2,"Sep 12, 2020",Sat,Tulane,27,@,South Alabama,24
28,2,"Sep 12, 2020",Sat,West Virginia,56,None,Eastern Kentucky,10
29,3,"Sep 18, 2020",Fri,Coastal Carolina,43,None,Campbell,21
30,3,"Sep 19, 2020",Sat,Boston College,26,@,Duke,6
31,3,"Sep 19, 2020",Sat,UCF,49,@,Georgia Tech,21
32,3,"Sep 19, 2020",Sat,Cincinnati,55,None,Austin Peay,20
33,3,"Sep 19, 2020",Sat,Clemson,49,None,Citadel,0
34,3,"Sep 19, 2020",Sat,Liberty,30,@,Western Kentucky,24
35,3,"Sep 19, 2020",Sat,Louisiana,34,@,Georgia State,31
36,3,"Sep 19, 2020",Sat,Louisiana Tech,31,@,Southern Miss,30
37,3,"Sep 19, 2020",Sat,Marshall,17,None,Appalachian State,7
38,3,"Sep 19, 2020",Sat,Miami (FL),47,@,Louisville,34
39,3,"Sep 19, 2020",Sat,Navy,27,@,Tulane,24
40,3,"Sep 19, 2020",Sat,North Carolina State,45,None,Wake Forest,42
41,3,"Sep 19, 2020",Sat,Notre Dame,52,None,South Florida,0
42,3,"Sep 19, 2020",Sat,Oklahoma State,16,None,Tulsa,7
43,3,"Sep 19, 2020",Sat,Pittsburgh,21,None,Syracuse,10
44,3,"Sep 19, 2020",Sat,SMU,65,@,North Texas,35
45,3,"Sep 19, 2020",Sat,Texas State,38,@,Louisiana–Monroe,17
46,3,"Sep 19, 2020",Sat,UTEP,17,None,Abilene Christian,13
47,3,"Sep 19, 2020",Sat,UTSA,24,None,Stephen F. Austin,10
48,3,"Sep 19, 2020",Sat,Troy,47,@,Middle Tennessee,14
49,4,"Sep 24, 2020",Thu,UAB,42,@,South Alabama,10
50,4,"Sep 25, 2020",Fri,UTSA,37,None,Middle Tennessee,35
51,4,"Sep 26, 2020",Sat,Alabama,38,@,Missouri,19
52,4,"Sep 26, 2020",Sat,Appalachian State,52,None,Campbell,21
53,4,"Sep 26, 2020",Sat,Auburn,29,None,Kentucky,13
54,4,"Sep 26, 2020",Sat,Baylor,47,None,Kansas,14
55,4,"Sep 26, 2020",Sat,Boston College,24,None,Texas State,21
56,4,"Sep 26, 2020",Sat,BYU,48,None,Troy,7
57,4,"Sep 26, 2020",Sat,UCF,51,@,East Carolina,28
58,4,"Sep 26, 2020",Sat,Cincinnati,24,None,Army,10
59,4,"Sep 26, 2020",Sat,Florida,51,@,Ole Miss,35
60,4,"Sep 26, 2020",Sat,Georgia,37,@,Arkansas,10
61,4,"Sep 26, 2020",Sat,Iowa State,37,@,TCU,34
62,4,"Sep 26, 2020",Sat,Kansas State,38,@,Oklahoma,35
63,4,"Sep 26, 2020",Sat,Liberty,36,None,FIU,34
64,4,"Sep 26, 2020",Sat,Louisiana,20,None,Georgia Southern,18
65,4,"Sep 26, 2020",Sat,Louisiana Tech,66,None,Houston Baptist,38
66,4,"Sep 26, 2020",Sat,Miami (FL),52,None,Florida State,10
67,4,"Sep 26, 2020",Sat,Mississippi State,44,@,LSU,34
68,4,"Sep 26, 2020",Sat,Oklahoma State,27,None,West Virginia,13
69,4,"Sep 26, 2020",Sat,Pittsburgh,23,None,Louisville,20
70,4,"Sep 26, 2020",Sat,SMU,50,None,Stephen F. Austin,7
71,4,"Sep 26, 2020",Sat,Syracuse,37,None,Georgia Tech,20
72,4,"Sep 26, 2020",Sat,Tennessee,31,@,South Carolina,27
73,4,"Sep 26, 2020",Sat,Texas,63,@,Texas Tech,56
74,4,"Sep 26, 2020",Sat,Texas A&M,17,None,Vanderbilt,12
75,4,"Sep 26, 2020",Sat,UTEP,31,@,Louisiana–Monroe,6
76,4,"Sep 26, 2020",Sat,Tulane,66,@,Southern Miss,24
77,4,"Sep 26, 2020",Sat,Virginia,38,None,Duke,20
78,4,"Sep 26, 2020",Sat,Virginia Tech,45,None,North Carolina State,24
79,5,"Oct 2, 2020",Fri,BYU,45,None,Louisiana Tech,14
80,5,"Oct 2, 2020",Fri,Wake Forest,66,None,Campbell,14
81,5,"Oct 3, 2020",Sat,Air Force,40,None,Navy,7
82,5,"Oct 3, 2020",Sat,Alabama,52,None,Texas A&M,24
83,5,"Oct 3, 2020",Sat,UAB,21,None,UTSA,13
84,5,"Oct 3, 2020",Sat,Arkansas,21,@,Mississippi State,14
85,5,"Oct 3, 2020",Sat,Army,55,None,Abilene Christian,23
86,5,"Oct 3, 2020",Sat,Cincinnati,28,None,South Florida,7
87,5,"Oct 3, 2020",Sat,Clemson,41,None,Virginia,23
88,5,"Oct 3, 2020",Sat,Coastal Carolina,52,None,Arkansas State,23
89,5,"Oct 3, 2020",Sat,Florida,38,None,South Carolina,24
90,5,"Oct 3, 2020",Sat,Florida Atlantic,21,None,Charlotte,17
91,5,"Oct 3, 2020",Sat,Florida State,41,None,Jacksonville State,24
92,5,"Oct 3, 2020",Sat,Georgia,27,None,Auburn,6
93,5,"Oct 3, 2020",Sat,Georgia Southern,35,@,Louisiana–Monroe,30
94,5,"Oct 3, 2020",Sat,Georgia State,49,None,East Carolina,29
95,5,"Oct 3, 2020",Sat,Iowa State,37,None,Oklahoma,30
96,5,"Oct 3, 2020",Sat,Kansas State,31,None,Texas Tech,21
97,5,"Oct 3, 2020",Sat,Liberty,28,None,North Alabama,7
98,5,"Oct 3, 2020",Sat,LSU,41,@,Vanderbilt,7
99,5,"Oct 3, 2020",Sat,Ole Miss,42,@,Kentucky,41
100,5,"Oct 3, 2020",Sat,North Carolina,26,@,Boston College,22
101,5,"Oct 3, 2020",Sat,North Carolina State,30,@,Pittsburgh,29
102,5,"Oct 3, 2020",Sat,Oklahoma State,47,@,Kansas,7
103,5,"Oct 3, 2020",Sat,SMU,30,None,Memphis,27
104,5,"Oct 3, 2020",Sat,Southern Miss,41,@,North Texas,31
105,5,"Oct 3, 2020",Sat,Tennessee,35,None,Missouri,12
106,5,"Oct 3, 2020",Sat,TCU,33,@,Texas,31
107,5,"Oct 3, 2020",Sat,Tulsa,34,@,UCF,26
108,5,"Oct 3, 2020",Sat,Virginia Tech,38,@,Duke,31
109,5,"Oct 3, 2020",Sat,West Virginia,27,None,Baylor,21
110,5,"Oct 3, 2020",Sat,Western Kentucky,20,@,Middle Tennessee,17
111,6,"Oct 8, 2020",Thu,Houston,49,None,Tulane,31
112,6,"Oct 9, 2020",Fri,Georgia Tech,46,None,Louisville,27
113,6,"Oct 10, 2020",Sat,Alabama,63,@,Ole Miss,48
114,6,"Oct 10, 2020",Sat,Arkansas State,50,None,Central Arkansas,27
115,6,"Oct 10, 2020",Sat,Army,14,None,Citadel,9
116,6,"Oct 10, 2020",Sat,Auburn,30,None,Arkansas,28
117,6,"Oct 10, 2020",Sat,Boston College,31,None,Pittsburgh,30
118,6,"Oct 10, 2020",Sat,BYU,27,None,UTSA,20
119,6,"Oct 10, 2020",Sat,Charlotte,49,@,North Texas,21
120,6,"Oct 10, 2020",Sat,Clemson,42,None,Miami (FL),17
121,6,"Oct 10, 2020",Sat,Duke,38,@,Syracuse,24
122,6,"Oct 10, 2020",Sat,East Carolina,44,@,South Florida,24
123,6,"Oct 10, 2020",Sat,Georgia,44,None,Tennessee,21
124,6,"Oct 10, 2020",Sat,Iowa State,31,None,Texas Tech,15
125,6,"Oct 10, 2020",Sat,Kansas State,21,@,TCU,14
126,6,"Oct 10, 2020",Sat,Kentucky,24,None,Mississippi State,2
127,6,"Oct 10, 2020",Sat,Liberty,40,None,Louisiana–Monroe,7
128,6,"Oct 10, 2020",Sat,Louisiana Tech,21,None,UTEP,17
129,6,"Oct 10, 2020",Sat,Marshall,38,@,Western Kentucky,14
130,6,"Oct 10, 2020",Sat,Middle Tennessee,31,@,FIU,28
131,6,"Oct 10, 2020",Sat,Missouri,45,None,LSU,41
132,6,"Oct 10, 2020",Sat,Navy,31,None,Temple,29
133,6,"Oct 10, 2020",Sat,North Carolina,56,None,Virginia Tech,45
134,6,"Oct 10, 2020",Sat,North Carolina State,38,@,Virginia,21
135,6,"Oct 10, 2020",Sat,Notre Dame,42,None,Florida State,26
136,6,"Oct 10, 2020",Sat,Oklahoma,53,None,Texas,45
137,6,"Oct 10, 2020",Sat,South Carolina,41,@,Vanderbilt,7
138,6,"Oct 10, 2020",Sat,Texas A&M,41,None,Florida,38
139,6,"Oct 10, 2020",Sat,Troy,37,None,Texas State,17
140,7,"Oct 14, 2020",Wed,Coastal Carolina,30,@,Louisiana,27
141,7,"Oct 15, 2020",Thu,Arkansas State,59,None,Georgia State,52
142,7,"Oct 16, 2020",Fri,BYU,43,@,Houston,26
143,7,"Oct 16, 2020",Fri,SMU,37,@,Tulane,34
144,7,"Oct 17, 2020",Sat,Alabama,41,None,Georgia,24
145,7,"Oct 17, 2020",Sat,UAB,37,None,Western Kentucky,14
146,7,"Oct 17, 2020",Sat,Arkansas,33,None,Ole Miss,21
147,7,"Oct 17, 2020",Sat,Army,28,@,UTSA,16
148,7,"Oct 17, 2020",Sat,Clemson,73,@,Georgia Tech,7
149,7,"Oct 17, 2020",Sat,Florida State,31,None,North Carolina,28
150,7,"Oct 17, 2020",Sat,Georgia Southern,41,None,Massachusetts,0
151,7,"Oct 17, 2020",Sat,Kentucky,34,@,Tennessee,7
152,7,"Oct 17, 2020",Sat,Liberty,38,@,Syracuse,21
153,7,"Oct 17, 2020",Sat,Marshall,35,@,Louisiana Tech,17
154,7,"Oct 17, 2020",Sat,Memphis,50,None,UCF,49
155,7,"Oct 17, 2020",Sat,Miami (FL),31,None,Pittsburgh,19
156,7,"Oct 17, 2020",Sat,Navy,27,@,East Carolina,23
157,7,"Oct 17, 2020",Sat,North Carolina State,31,None,Duke,20
158,7,"Oct 17, 2020",Sat,North Texas,52,@,Middle Tennessee,35
159,7,"Oct 17, 2020",Sat,Notre Dame,12,None,Louisville,7
160,7,"Oct 17, 2020",Sat,South Alabama,30,None,Texas State,20
161,7,"Oct 17, 2020",Sat,South Carolina,30,None,Auburn,22
162,7,"Oct 17, 2020",Sat,Temple,39,None,South Florida,37
163,7,"Oct 17, 2020",Sat,Texas A&M,28,@,Mississippi State,14
164,7,"Oct 17, 2020",Sat,Troy,31,None,Eastern Kentucky,29
165,7,"Oct 17, 2020",Sat,Virginia Tech,40,None,Boston College,14
166,7,"Oct 17, 2020",Sat,Wake Forest,40,None,Virginia,23
167,7,"Oct 17, 2020",Sat,West Virginia,38,None,Kansas,17
168,8,"Oct 22, 2020",Thu,Appalachian State,45,None,Arkansas State,17
169,8,"Oct 23, 2020",Fri,Jacksonville State,19,@,FIU,10
170,8,"Oct 23, 2020",Fri,Louisiana,24,@,UAB,20
171,8,"Oct 23, 2020",Fri,Tulsa,42,@,South Florida,13
172,8,"Oct 23, 2020",Fri,Wisconsin,45,None,Illinois,7
173,8,"Oct 24, 2020",Sat,Alabama,48,@,Tennessee,17
174,8,"Oct 24, 2020",Sat,Army,49,None,Mercer,3
175,8,"Oct 24, 2020",Sat,Auburn,35,@,Ole Miss,28
176,8,"Oct 24, 2020",Sat,Boise State,42,None,Utah State,13
177,8,"Oct 24, 2020",Sat,Boston College,48,None,Georgia Tech,27
178,8,"Oct 24, 2020",Sat,BYU,52,None,Texas State,14
179,8,"Oct 24, 2020",Sat,UCF,51,None,Tulane,34
180,8,"Oct 24, 2020",Sat,Charlotte,38,None,UTEP,28
181,8,"Oct 24, 2020",Sat,Cincinnati,42,@,SMU,13
182,8,"Oct 24, 2020",Sat,Clemson,47,None,Syracuse,21
183,8,"Oct 24, 2020",Sat,Coastal Carolina,28,None,Georgia Southern,14
184,8,"Oct 24, 2020",Sat,Georgia State,36,@,Troy,34
185,8,"Oct 24, 2020",Sat,Hawaii,34,@,Fresno State,19
186,8,"Oct 24, 2020",Sat,Houston,37,@,Navy,21
187,8,"Oct 24, 2020",Sat,Indiana,36,None,Penn State,35
188,8,"Oct 24, 2020",Sat,Kansas State,55,None,Kansas,14
189,8,"Oct 24, 2020",Sat,Liberty,56,None,Southern Miss,35
190,8,"Oct 24, 2020",Sat,LSU,52,None,South Carolina,24
191,8,"Oct 24, 2020",Sat,Louisville,48,None,Florida State,16
192,8,"Oct 24, 2020",Sat,Marshall,20,None,Florida Atlantic,9
193,8,"Oct 24, 2020",Sat,Memphis,41,None,Temple,29
194,8,"Oct 24, 2020",Sat,Miami (FL),19,None,Virginia,14
195,8,"Oct 24, 2020",Sat,Michigan,49,@,Minnesota,24
196,8,"Oct 24, 2020",Sat,Middle Tennessee,40,@,Rice,34
197,8,"Oct 24, 2020",Sat,Missouri,20,None,Kentucky,10
198,8,"Oct 24, 2020",Sat,Nevada,37,None,Wyoming,34
199,8,"Oct 24, 2020",Sat,North Carolina,48,None,North Carolina State,21
200,8,"Oct 24, 2020",Sat,Northwestern,43,None,Maryland,3
201,8,"Oct 24, 2020",Sat,Notre Dame,45,@,Pittsburgh,3
202,8,"Oct 24, 2020",Sat,Ohio State,52,None,Nebraska,17
203,8,"Oct 24, 2020",Sat,Oklahoma,33,@,TCU,14
204,8,"Oct 24, 2020",Sat,Oklahoma State,24,None,Iowa State,21
205,8,"Oct 24, 2020",Sat,Purdue,24,None,Iowa,20
206,8,"Oct 24, 2020",Sat,Rutgers,38,@,Michigan State,27
207,8,"Oct 24, 2020",Sat,San Diego State,34,None,UNLV,6
208,8,"Oct 24, 2020",Sat,San Jose State,17,None,Air Force,6
209,8,"Oct 24, 2020",Sat,South Alabama,38,None,Louisiana–Monroe,14
210,8,"Oct 24, 2020",Sat,Texas,27,None,Baylor,16
211,8,"Oct 24, 2020",Sat,Texas Tech,34,None,West Virginia,27
212,8,"Oct 24, 2020",Sat,UTSA,27,None,Louisiana Tech,26
213,8,"Oct 24, 2020",Sat,Wake Forest,23,None,Virginia Tech,16
214,8,"Oct 24, 2020",Sat,Western Kentucky,13,None,Chattanooga,10
215,9,"Oct 29, 2020",Thu,Fresno State,38,None,Colorado State,17
216,9,"Oct 29, 2020",Thu,Georgia Southern,24,None,South Alabama,17
217,9,"Oct 30, 2020",Fri,Maryland,45,None,Minnesota,44
218,9,"Oct 30, 2020",Fri,Tulsa,34,None,East Carolina,30
219,9,"Oct 30, 2020",Fri,Wyoming,31,None,Hawaii,7
220,9,"Oct 31, 2020",Sat,Alabama,41,None,Mississippi State,0
221,9,"Oct 31, 2020",Sat,Appalachian State,31,@,Louisiana–Monroe,13
222,9,"Oct 31, 2020",Sat,Auburn,48,None,LSU,11
223,9,"Oct 31, 2020",Sat,Boise State,49,@,Air Force,30
224,9,"Oct 31, 2020",Sat,BYU,41,None,Western Kentucky,10
225,9,"Oct 31, 2020",Sat,UCF,44,@,Houston,21
226,9,"Oct 31, 2020",Sat,Cincinnati,49,None,Memphis,10
227,9,"Oct 31, 2020",Sat,Clemson,34,None,Boston College,28
228,9,"Oct 31, 2020",Sat,Coastal Carolina,51,@,Georgia State,0
229,9,"Oct 31, 2020",Sat,Duke,53,None,Charlotte,19
230,9,"Oct 31, 2020",Sat,Florida,41,None,Missouri,17
231,9,"Oct 31, 2020",Sat,Florida Atlantic,24,None,UTSA,3
232,9,"Oct 31, 2020",Sat,Georgia,14,@,Kentucky,3
233,9,"Oct 31, 2020",Sat,Indiana,37,@,Rutgers,21
234,9,"Oct 31, 2020",Sat,Iowa State,52,@,Kansas,22
235,9,"Oct 31, 2020",Sat,Louisiana,44,@,Texas State,34
236,9,"Oct 31, 2020",Sat,Louisiana Tech,37,None,UAB,34
237,9,"Oct 31, 2020",Sat,Michigan State,27,@,Michigan,24
238,9,"Oct 31, 2020",Sat,Ole Miss,54,@,Vanderbilt,21
239,9,"Oct 31, 2020",Sat,Nevada,37,@,UNLV,19
240,9,"Oct 31, 2020",Sat,Northwestern,21,@,Iowa,20
241,9,"Oct 31, 2020",Sat,Notre Dame,31,@,Georgia Tech,13
242,9,"Oct 31, 2020",Sat,Ohio State,38,@,Penn State,25
243,9,"Oct 31, 2020",Sat,Oklahoma,62,@,Texas Tech,28
244,9,"Oct 31, 2020",Sat,Purdue,31,@,Illinois,24
245,9,"Oct 31, 2020",Sat,Rice,30,@,Southern Miss,6
246,9,"Oct 31, 2020",Sat,San Diego State,38,@,Utah State,7
247,9,"Oct 31, 2020",Sat,San Jose State,38,None,New Mexico,21
248,9,"Oct 31, 2020",Sat,SMU,51,None,Navy,37
249,9,"Oct 31, 2020",Sat,Texas,41,@,Oklahoma State,34
250,9,"Oct 31, 2020",Sat,Texas A&M,42,None,Arkansas,31
251,9,"Oct 31, 2020",Sat,TCU,33,@,Baylor,23
252,9,"Oct 31, 2020",Sat,Troy,38,@,Arkansas State,10
253,9,"Oct 31, 2020",Sat,Tulane,38,None,Temple,3
254,9,"Oct 31, 2020",Sat,Virginia,44,None,North Carolina,41
255,9,"Oct 31, 2020",Sat,Virginia Tech,42,@,Louisville,35
256,9,"Oct 31, 2020",Sat,Wake Forest,38,@,Syracuse,14
257,9,"Oct 31, 2020",Sat,West Virginia,37,None,Kansas State,10
258,10,"Nov 4, 2020",Wed,Buffalo,49,@,Northern Illinois,30
259,10,"Nov 4, 2020",Wed,Central Michigan,30,None,Ohio,27
260,10,"Nov 4, 2020",Wed,Kent State,27,None,Eastern Michigan,23
261,10,"Nov 4, 2020",Wed,Miami (OH),38,None,Ball State,31
262,10,"Nov 4, 2020",Wed,Toledo,38,None,Bowling Green,3
263,10,"Nov 4, 2020",Wed,Western Michigan,58,@,Akron,13
264,10,"Nov 5, 2020",Thu,Colorado State,34,None,Wyoming,24
265,10,"Nov 5, 2020",Thu,Nevada,34,None,Utah State,9
266,10,"Nov 6, 2020",Fri,BYU,51,@,Boise State,17
267,10,"Nov 6, 2020",Fri,Miami (FL),44,@,North Carolina State,41
268,10,"Nov 6, 2020",Fri,San Jose State,28,@,San Diego State,17
269,10,"Nov 7, 2020",Sat,Appalachian State,38,@,Texas State,17
270,10,"Nov 7, 2020",Sat,Arkansas,24,None,Tennessee,13
271,10,"Nov 7, 2020",Sat,Boston College,16,@,Syracuse,13
272,10,"Nov 7, 2020",Sat,Cincinnati,38,None,Houston,10
273,10,"Nov 7, 2020",Sat,Coastal Carolina,23,None,South Alabama,6
274,10,"Nov 7, 2020",Sat,Colorado,48,None,UCLA,42
275,10,"Nov 7, 2020",Sat,Florida,44,None,Georgia,28
276,10,"Nov 7, 2020",Sat,Florida Atlantic,10,None,Western Kentucky,6
277,10,"Nov 7, 2020",Sat,Fresno State,40,@,UNLV,27
278,10,"Nov 7, 2020",Sat,Georgia Southern,20,None,Troy,13
279,10,"Nov 7, 2020",Sat,Georgia State,52,None,Louisiana–Monroe,34
280,10,"Nov 7, 2020",Sat,Hawaii,39,None,New Mexico,33
281,10,"Nov 7, 2020",Sat,Indiana,38,None,Michigan,21
282,10,"Nov 7, 2020",Sat,Iowa,49,None,Michigan State,7
283,10,"Nov 7, 2020",Sat,Iowa State,38,None,Baylor,31
284,10,"Nov 7, 2020",Sat,Liberty,38,@,Virginia Tech,35
285,10,"Nov 7, 2020",Sat,Louisiana,27,None,Arkansas State,20
286,10,"Nov 7, 2020",Sat,Marshall,51,None,Massachusetts,10
287,10,"Nov 7, 2020",Sat,Maryland,35,@,Penn State,19
288,10,"Nov 7, 2020",Sat,Memphis,34,None,South Florida,33
289,10,"Nov 7, 2020",Sat,Minnesota,41,@,Illinois,14
290,10,"Nov 7, 2020",Sat,Mississippi State,24,None,Vanderbilt,17
291,10,"Nov 7, 2020",Sat,North Carolina,56,@,Duke,24
292,10,"Nov 7, 2020",Sat,Northwestern,21,None,Nebraska,13
293,10,"Nov 7, 2020",Sat,Notre Dame,47,None,Clemson,40
294,10,"Nov 7, 2020",Sat,Ohio State,49,None,Rutgers,27
295,10,"Nov 7, 2020",Sat,Oklahoma,62,None,Kansas,9
296,10,"Nov 7, 2020",Sat,Oklahoma State,20,@,Kansas State,18
297,10,"Nov 7, 2020",Sat,Oregon,35,None,Stanford,14
298,10,"Nov 7, 2020",Sat,Pittsburgh,41,@,Florida State,17
299,10,"Nov 7, 2020",Sat,USC,28,None,Arizona State,27
300,10,"Nov 7, 2020",Sat,SMU,47,@,Temple,23
301,10,"Nov 7, 2020",Sat,Southern Miss,24,None,North Alabama,13
302,10,"Nov 7, 2020",Sat,Texas,17,None,West Virginia,13
303,10,"Nov 7, 2020",Sat,Texas A&M,48,@,South Carolina,3
304,10,"Nov 7, 2020",Sat,TCU,34,None,Texas Tech,18
305,10,"Nov 7, 2020",Sat,Tulane,38,@,East Carolina,21
306,10,"Nov 7, 2020",Sat,Washington State,38,@,Oregon State,28
307,11,"Nov 10, 2020",Tue,Buffalo,42,None,Miami (OH),10
308,11,"Nov 10, 2020",Tue,Kent State,62,@,Bowling Green,24
309,11,"Nov 10, 2020",Tue,Ohio,24,None,Akron,10
310,11,"Nov 11, 2020",Wed,Ball State,38,None,Eastern Michigan,31
311,11,"Nov 11, 2020",Wed,Central Michigan,40,@,Northern Illinois,10
312,11,"Nov 11, 2020",Wed,Western Michigan,41,None,Toledo,38
313,11,"Nov 12, 2020",Thu,Boise State,52,None,Colorado State,21
314,11,"Nov 13, 2020",Fri,Cincinnati,55,None,East Carolina,17
315,11,"Nov 13, 2020",Fri,Florida Atlantic,38,@,FIU,19
316,11,"Nov 13, 2020",Fri,Iowa,35,@,Minnesota,7
317,11,"Nov 14, 2020",Sat,Appalachian State,17,None,Georgia State,13
318,11,"Nov 14, 2020",Sat,UCF,38,None,Temple,13
319,11,"Nov 14, 2020",Sat,Colorado,35,@,Stanford,32
320,11,"Nov 14, 2020",Sat,Florida,63,None,Arkansas,35
321,11,"Nov 14, 2020",Sat,Fresno State,35,@,Utah State,16
322,11,"Nov 14, 2020",Sat,Georgia Southern,40,None,Texas State,38
323,11,"Nov 14, 2020",Sat,Houston,56,None,South Florida,21
324,11,"Nov 14, 2020",Sat,Illinois,23,@,Rutgers,20
325,11,"Nov 14, 2020",Sat,Indiana,24,@,Michigan State,0
326,11,"Nov 14, 2020",Sat,Kentucky,38,None,Vanderbilt,35
327,11,"Nov 14, 2020",Sat,Liberty,58,None,Western Carolina,14
328,11,"Nov 14, 2020",Sat,Louisiana,38,None,South Alabama,10
329,11,"Nov 14, 2020",Sat,Marshall,42,None,Middle Tennessee,14
330,11,"Nov 14, 2020",Sat,Miami (FL),25,@,Virginia Tech,24
331,11,"Nov 14, 2020",Sat,Ole Miss,59,None,South Carolina,42
332,11,"Nov 14, 2020",Sat,Nebraska,30,None,Penn State,23
333,11,"Nov 14, 2020",Sat,Nevada,27,None,New Mexico,20
334,11,"Nov 14, 2020",Sat,North Carolina,59,None,Wake Forest,53
335,11,"Nov 14, 2020",Sat,North Carolina State,38,None,Florida State,22
336,11,"Nov 14, 2020",Sat,Northwestern,27,@,Purdue,20
337,11,"Nov 14, 2020",Sat,Notre Dame,45,@,Boston College,31
338,11,"Nov 14, 2020",Sat,Oregon,43,@,Washington State,29
339,11,"Nov 14, 2020",Sat,San Diego State,34,None,Hawaii,10
340,11,"Nov 14, 2020",Sat,San Jose State,34,None,UNLV,17
341,11,"Nov 14, 2020",Sat,USC,34,@,Arizona,30
342,11,"Nov 14, 2020",Sat,Texas Tech,24,None,Baylor,23
343,11,"Nov 14, 2020",Sat,UTSA,52,None,UTEP,21
344,11,"Nov 14, 2020",Sat,Tulane,38,None,Army,12
345,11,"Nov 14, 2020",Sat,Tulsa,28,None,SMU,24
346,11,"Nov 14, 2020",Sat,Virginia,31,None,Louisville,17
347,11,"Nov 14, 2020",Sat,Washington,27,None,Oregon State,21
348,11,"Nov 14, 2020",Sat,West Virginia,24,None,TCU,6
349,11,"Nov 14, 2020",Sat,Western Kentucky,10,None,Southern Miss,7
350,11,"Nov 14, 2020",Sat,Wisconsin,49,@,Michigan,11
351,11,"Nov 15, 2020",Sun,UCLA,34,None,California,10
352,12,"Nov 17, 2020",Tue,Buffalo,42,@,Bowling Green,17
353,12,"Nov 17, 2020",Tue,Kent State,69,None,Akron,35
354,12,"Nov 18, 2020",Wed,Ball State,31,None,Northern Illinois,25
355,12,"Nov 18, 2020",Wed,Toledo,45,@,Eastern Michigan,28
356,12,"Nov 18, 2020",Wed,Western Michigan,52,@,Central Michigan,44

In [ ]:
get_Team_info("Notre Dame", 2018)

Team:  Notre Dame 2018
Record:  (12–1)
Wins ( 12 ): ['Michigan', 'Ball State', 'Vanderbilt', 'Wake Forest', 'Stanford', 'Virginia Tech', 'Pittsburgh', 'Navy', 'Northwestern', 'Florida State', 'Syracuse', 'USC']
Transitive Wins ( 127 / 129 ): ['Michigan', 'Ball State', 'Vanderbilt', 'Wake Forest', 'Stanford', 'Virginia Tech', 'Pittsburgh', 'Navy', 'Northwestern', 'Florida State', 'Syracuse', 'USC', 'Western Michigan', 'SMU', 'Nebraska', 'Maryland', 'Wisconsin', 'Michigan State', 'Penn State', 'Rutgers', 'Indiana', 'Kent State', 'Central Michigan', 'Middle Tennessee', 'Nevada', 'Arkansas', 'Ole Miss', 'Tennessee', 'Tulane', 'Rice', 'Louisville', 'North Carolina State', 'Duke', 'Memphis', 'San Diego State', 'Oregon', 'Arizona State', 'Oregon State', 'UCLA', 'California', 'North Carolina', 'Virginia', 'Marshall', 'Georgia Tech', 'Tulsa', 'Purdue', 'Iowa', 'Minnesota', 'Illinois', 'Utah', 'Northern Illinois', 'Boston College', 'UConn', 'West Virginia', 'UNLV', 'Washington State', 'Arizona', 'Colorado', 'Georgia State', 'Miami (OH)', 'Eastern Michigan', 'Bowling Green', 'Houston', 'Texas', 'Western Kentucky', 'New Mexico', 'Miami (FL)', 'Utah State', 'Appalachian State', 'Texas State', 'FIU', 'Florida Atlantic', 'Charlotte', 'Old Dominion', 'UTEP', 'UAB', 'Air Force', 'Hawaii', 'Colorado State', 'San Jose State', 'Arkansas State', 'Texas Tech', 'Louisiana–Monroe', 'Auburn', 'Kentucky', 'South Florida', 'East Carolina', 'Louisiana', 'Army', 'Baylor', 'Temple', 'South Alabama', 'Boise State', 'Washington', 'UTSA', 'BYU', 'Ohio', 'Liberty', 'South Carolina', 'Ohio State', 'Iowa State', 'Mississippi State', 'New Mexico State', 'Fresno State', 'Akron', 'Toledo', 'Buffalo', 'Massachusetts', 'Kansas State', 'Kansas', 'TCU', 'Wyoming', 'Oklahoma', 'Georgia', 'Louisiana Tech', 'North Texas', 'Coastal Carolina', 'Troy', 'Southern Miss', 'Oklahoma State', 'Georgia Southern', 'Texas A&M', 'Florida', 'Missouri', 'Cincinnati', 'LSU', 'UCF']
Missing: ['Alabama', 'Clemson']

In [ ]:
df_Games_2020 = get_Games(2020)
FBS_2020 = get_Teams(2020)
FBS = FBS_2020

In [ ]:
get_Team_info("Florida Atlantic", 2020)

Team:  Florida Atlantic 2020
Record:  (5–4)
Wins ( 5 ): ['Charlotte', 'UTSA', 'Western Kentucky', 'FIU', 'Massachusetts']
Transitive Wins ( 108 / 127 ): ['Charlotte', 'UTSA', 'Western Kentucky', 'FIU', 'Massachusetts', 'North Texas', 'UTEP', 'Texas State', 'Middle Tennessee', 'Louisiana Tech', 'Southern Miss', 'Rice', 'Louisiana–Monroe', 'Arkansas State', 'Troy', 'UAB', 'Marshall', 'Kansas State', 'Georgia State', 'South Alabama', 'Appalachian State', 'Oklahoma', 'Texas Tech', 'TCU', 'Kansas', 'East Carolina', 'Georgia Southern', 'Texas', 'Oklahoma State', 'Baylor', 'Iowa State', 'Florida', 'West Virginia', 'South Florida', 'Temple', 'SMU', 'Colorado', 'Tulsa', 'Miami (FL)', 'Oregon', 'Ole Miss', 'South Carolina', 'Missouri', 'Georgia', 'Arkansas', 'Vanderbilt', 'Kentucky', 'Tennessee', 'Army', 'Memphis', 'Tulane', 'Navy', 'UCLA', 'Stanford', 'San Diego State', 'Arizona', 'UCF', 'Louisville', 'Florida State', 'Pittsburgh', 'Virginia', 'North Carolina State', 'Virginia Tech', 'Duke', 'Washington State', 'USC', 'Mississippi State', 'Indiana', 'Auburn', 'LSU', 'Cincinnati', 'Air Force', 'Houston', 'California', 'Arizona State', 'Washington', 'Oregon State', 'UNLV', 'Utah State', 'Hawaii', 'Colorado State', 'Georgia Tech', 'Syracuse', 'Wake Forest', 'North Carolina', 'Boston College', 'Liberty', 'Utah', 'Penn State', 'Rutgers', 'Michigan', 'Michigan State', 'Maryland', 'Wisconsin', 'New Mexico', 'Fresno State', 'Nevada', 'Wyoming', 'Coastal Carolina', 'Illinois', 'Purdue', 'Minnesota', 'Northwestern', 'Louisiana', 'BYU', 'Nebraska', 'Iowa', 'Boise State']
Missing: ['Akron', 'Alabama', 'Ball State', 'Bowling Green', 'Buffalo', 'Central Michigan', 'Clemson', 'Eastern Michigan', 'Kent State', 'Miami (OH)', 'New Mexico State', 'Northern Illinois', 'Notre Dame', 'Ohio', 'Ohio State', 'San Jose State', 'Texas A&M', 'Toledo', 'Western Michigan']

##Transitive Dataframe

In [ ]:
year = 2021
week = 20

Team = []
Wins_Count = []
Losses_Count = []
Ties_Count = []
T_Wins_Count = []
T_Losses_Count = []
Best_Wins_Tier = []
Worst_Losses_Tier = []
WL_Tiers = []
Best_Wins_Count = []
Worst_Losses_Count = []
Win_Diff = []
Loss_Diff = []
Total_Diff = []
Points_Scored = []
Points_Allowed = []
Cluster_Differential = []
T_Wins_List = []
T_Losses_List = []
Clusters = []
Cluster_Win_Percentage = []
Cluster_Adjusted_Win_Percentage = []
Total_Adjusted_Win_Percentage = []

Transitive_Score = []
Transitive_Score_2 = []
SOR = []
SOS = []
ROS = []
AROS = []
ROSP = []
AROSP = []
ROS_Remaining = []
ROSRP = []
Team_Record = []

df_Games_All = get_Games(year)
Teams = get_Teams(year)
Teams2 = get_Teams2(df_Games_All)
if year > 1936:
    FBS = get_FBS(df_Games_All, Teams, Teams2)
else:
    FBS = Teams2
if year == 2020:
    remove = ["UConn", "Old Dominion", "New Mexico State"]
    FBS = [ele for ele in FBS if ele not in remove]
Teams2 = get_Teams2(df_Games_All)
df_Games_All['Wk'] = df_Games_All['Wk'].astype(int) 
df_Games_All_Played = df_Games_All[df_Games_All['Wk'] <= week]
if year > 1936:
    df_Games = clean_df(df_Games_All, Teams, Teams2, week)
else:
    df_Games = df_Games_All

for team in FBS:
    Wins = get_Wins(team, df_Games)
    Losses = get_Losses(team, df_Games)
    Ties = get_Ties(team, df_Games)
    T_Wins = get_T_wins(team,df_Games)
    T_Losses = get_T_losses(team,df_Games)
    Cluster = get_Cluster(team, df_Games)
    Team.append(team)
    Wins_Count.append(len(Wins))
    Losses_Count.append(len(Losses))
    Ties_Count.append(len(Ties))
    T_Wins_Count.append(len(T_Wins))
    T_Losses_Count.append(len(T_Losses))
    Transitive_Score.append((len(T_Wins))-((len(T_Losses))))
    T_Wins_List.append(T_Wins)
    Clusters.append(Cluster)
    T_Losses_List.append(T_Losses)
Win_dict = {Team[i] : Wins_Count[i] for i in range(len(Team))}
Loss_dict = {Team[i] : Losses_Count[i] for i in range(len(Team))}
trans_win_dict = {Team[i] : T_Wins_Count[i] for i in range(len(Team))}
trans_loss_dict = {Team[i] : T_Losses_Count[i] for i in range(len(Team))}

Tiers = get_Tiers(Transitive_Score)
Tier_dict = {Team[i] : Tiers[i] for i in range(len(Team))}

T_Win_dict = {Team[i] : T_Wins_Count[i] for i in range(len(Team))}
T_Loss_dict = {Team[i] : T_Losses_Count[i] for i in range(len(Team))}

Best_Wins_Tier, Best_Wins, Worst_Losses_Tier, Worst_Losses =  get_Tier_data(df_Games, df_Games_All_Played, FBS, Tier_dict)
for team, C, BW, WL, BWT, WLT in zip(Team, Clusters, Best_Wins, Worst_Losses, Best_Wins_Tier, Worst_Losses_Tier):
    #Differential1 = get_Differential_Tier(df_Games, team, BWT)
    #Differential2 = get_Differential_Tier(df_Games, team, WLT)
    (Differential, PS, PA) = get_Differential(df_Games, team)
    #Win_Diff.append(Differential1)
    #Loss_Diff.append(Differential2)
    Total_Diff.append(Differential)
    Points_Scored.append(PS)
    Points_Allowed.append(PA)
    WL_Tiers.append(str(BWT)+"/"+str(WLT))
    if C == True:
        CWP = BW/(BW+WL)
        CAWP = (BW +1 )/(BW + WL +2)
        CDiff = Differential
    if C == False:
        CWP = 999
        CAWP = 999
        CDiff = 999

    Cluster_Adjusted_Win_Percentage.append(CAWP)
    Cluster_Differential.append(CDiff)

    Wins_list = get_Wins(team, df_Games)
    Losses_list = get_Losses(team, df_Games)
    Ties_list = get_Ties(team, df_Games)
    Wins = len(Wins_list)
    Losses = len(Losses_list)
    Ties = len(Ties_list)
    WP = 0
    if (Wins+Losses) > 0:
       WP = (Wins)/(Wins + Losses)
    AWP = (Wins + 1)/(Wins + Losses + 2)
    Total_Adjusted_Win_Percentage.append(AWP)
    if Ties:
        R = str(Wins)+'-'+str(Losses)+'-'+str(Ties)
    else:    
        R = str(Wins)+'-'+str(Losses)
    Team_Record.append(R)

    T2 = 0
    T3 = 0
    W = 0
    L = 0
    W2 = 0
    L2 = 0
    W3 = 0
    L3 = 0
    for t in Wins_list:
        T2 = T2 + T_Win_dict[t]
        T3 = T3 + Win_dict[t]
        W = W + Win_dict[t]
        L = L + Loss_dict[t]
        W2 = W2 + Win_dict[t]
        L2 = L2 + Loss_dict[t] -1


    for t in Losses_list:
        T2 = T2 - T_Loss_dict[t]
        T3 = T3 - Loss_dict[t]
        W = W + Win_dict[t]
        L = L + Loss_dict[t]
        W2 = W2 + Win_dict[t] -1
        L2 = L2 + Loss_dict[t]

    Transitive_Score_2.append(T2)
    SOR.append(T3)
    SOS.append(W)
    R = str(W)+'-'+str(L)
    RP = '0'
    A = '0'
    AP = '0'
    if W+L > 0:
        RP = str(round((W/(W+L)),3))
        A = str(W2)+'-'+str(L2)
        AP = str(round((W2/(W2+L2)),3))
    ROS.append(R)
    ROSP.append(RP)
    AROS.append(A)
    AROSP.append(AP)

    R2 = None
    Remain = get_Remaining(team, df_Games_All, week, FBS)
    for t in Remain:
        W3 = W3 + Win_dict[t]
        L3 = L3 + Loss_dict[t]
    if Remain:
        R2 = str(W3)+'-'+str(L3)
        RP2 = str(round((W3/(W3+L3)),3))
    else: 
        R2 = 0
        RP2 = 0
    ROS_Remaining.append(R2)
    ROSRP.append(RP2)
Team_num = len(FBS)
Rank = list(range(1,Team_num + 1))
SOR_Rank = get_Ranking(SOR)
Total_Diff_Rank = get_Ranking(Total_Diff)
ROSP_Rank = get_Ranking(ROSP)
AROSP_Rank = get_Ranking(AROSP)
ROSRP_Rank = get_Ranking(ROSRP)
NROSPR = []
NROSR = []

for RRP, RR in zip(ROSRP, ROS_Remaining):
    if RR == 0:
        NROSPR.append(None)
        NROSR.append(None)
    else:
        NROSPR.append(RRP)
        NROSR.append(RR)
ROSRP = NROSPR
ROS_Remaining = NROSR

df_team_scores_raw = pd.DataFrame(Rank,columns = ['Rank'])
df_team_scores_raw['Team'] = Team
df_team_scores_raw['Record'] = Team_Record

#df_team_scores['Team (FBS Record)'] = Team_Record
df_team_scores_raw['Tier'] = Tiers
df_team_scores_raw['Transitivity Score'] = Transitive_Score
#df_team_scores['Transitive Wins'] = T_Wins_Count
#df_team_scores['Transitive Losses'] = T_Losses_Count
df_team_scores_raw['Best Win Tier'] = Best_Wins_Tier
df_team_scores_raw['Worst Loss Tier'] = Worst_Losses_Tier
#df_team_scores_raw['Best Win/Worst Loss Tier'] = WL_Tiers
#df_team_scores['Tier Wins'] = Best_Wins
#df_team_scores['Tier Losses'] = Worst_Losses
#df_team_scores['Best Win Tier Point Differential'] = Win_Diff
#df_team_scores['Worst Loss Tier Point Differential'] = Loss_Diff
#df_team_scores['Cluster Adjusted Win Percentage'] = Cluster_Adjusted_Win_Percentage
#df_team_scores['Record'] = Record
#df_team_scores['Record of Schedule'] = ROS
df_team_scores_raw['Strength of Record'] = SOR
df_team_scores_raw['Strength of Record Rank'] = SOR_Rank

df_team_scores_raw['Points Scored'] = Points_Scored
df_team_scores_raw['Points Allowed'] = Points_Allowed
df_team_scores_raw['Total Point Differential'] = Total_Diff
df_team_scores_raw['Total Point Differential Rank'] = Total_Diff_Rank

df_team_scores_raw['Record of Schedule'] = ROS
df_team_scores_raw['Record of Schedule %'] = ROSP
df_team_scores_raw['Record of Schedule Rank'] = ROSP_Rank

df_team_scores_raw['Adjusted Record of Schedule'] = AROS
df_team_scores_raw['Adjusted Record of Schedule %'] = AROSP
df_team_scores_raw['Adjusted Record of Schedule Rank'] = AROSP_Rank

df_team_scores_raw['Record of Schedule Remaining'] = ROS_Remaining
df_team_scores_raw['Record of Schedule Remaining %'] = ROSRP
df_team_scores_raw['Record of Schedule Remaining Rank'] = ROSRP_Rank

#df_team_scores['Total Adjusted Win Percentage'] = Total_Adjusted_Win_Percentage
#df_team_scores['Transitivity Record Score'] = SOR
#df_team_scores['Strength of Schedule'] = SOS

#df_team_scores['Cluster Point Differential'] = Cluster_Differential
df_team_scores_raw['Transitive Wins'] = T_Wins_Count
df_team_scores_raw['Transitive Losses'] = T_Losses_Count

df_team_scores_raw['Transitive Wins List'] = T_Wins_List
df_team_scores_raw['Transitive Losses List'] = T_Losses_List

df_team_scores_raw['Cluster'] = Clusters

#df_team_scores['Wins List'] = team_list
#df_team_scores['T Wins List'] = T_Wins_List
#df_team_scores['Best Win'] = Best_Wins
#df_team_scores['Number of Wins'] = Count_List
#df_team_scores['Differential'] = Diff

pd.set_option("display.max_rows", None, "display.max_columns", None)
#df_team_scores.sort_values(by= ['Transitivity Score', 'Best Win Tier', 'Worst Loss Tier', 'Cluster Adjusted Win Percentage', 'Cluster Point Differential', 'Total Adjusted Win Percentage', 'Total Point Differential'], ascending = (False, True, True, False, False, False, False), inplace = True)
#df_team_scores.sort_values(by= ['Transitivity Score', 'Transitivity Record Score', 'Best Win Tier', 'Worst Loss Tier', 'Cluster Adjusted Win Percentage', 'Cluster Point Differential', 'Total Adjusted Win Percentage', 'Total Point Differential'], ascending = (False, False, True, True, False, False, False, False), inplace = True)
#df_team_scores.sort_values(by= ['Transitivity Score', 'Best Win Tier', 'Worst Loss Tier', 'Cluster Adjusted Win Percentage', 'Total Adjusted Win Percentage', 'Transitivity Record Score', 'Cluster Point Differential', 'Total Point Differential'], ascending = (False, True, True, False, False, False, False, False), inplace = True)
#df_team_scores.sort_values(by= ['Transitivity Score', 'Best Win Tier', 'Worst Loss Tier', 'Total Adjusted Win Percentage', 'Transitivity Record Score', 'Total Point Differential'], ascending = (False, True, True, False, False, False), inplace = True)
df_team_scores_raw.sort_values(by= ['Transitivity Score', 'Best Win Tier', 'Worst Loss Tier','Strength of Record', 'Total Point Differential'], ascending = (False, True, True, False, False), inplace = True)

df_team_scores_raw.reset_index(drop = True, inplace = True)
df_team_scores_raw['Worst Loss Tier'].replace(99,'',inplace= True, regex = True)
df_team_scores_raw['Best Win Tier'].replace(-1,'',inplace= True, regex = True)
df_team_scores_raw['Worst Loss Tier'].replace(-1,'',inplace= True, regex = True)
df_team_scores_raw['Record of Schedule Remaining'].replace(0,None,inplace= True, regex = True)
df_team_scores_raw['Record of Schedule Remaining %'].replace(0,None,inplace= True, regex = True)

df_team_scores_raw['Rank'] = Rank


df_team_scores_raw.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:84: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:85: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:87: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:88: FutureWarning: The default value of regex will change from True to False in a future version.

,Rank,Team,Record,Tier,Transitivity Score,Best Win Tier,Worst Loss Tier,Strength of Record,Strength of Record Rank,Points Scored,Points Allowed,Total Point Differential,Total Point Differential Rank,Record of Schedule,Record of Schedule %,Record of Schedule Rank,Adjusted Record of Schedule,Adjusted Record of Schedule %,Adjusted Record of Schedule Rank,Record of Schedule Remaining,Record of Schedule Remaining %,Record of Schedule Remaining Rank,Transitive Wins,Transitive Losses,Transitive Wins List,Transitive Losses List,Cluster
0,1,Georgia,13-1,1,4,1,1,87,1,523,146,377,1,101-71,0.587,13,100-58,0.633,5,None,None,1,129,125,"[Clemson, UAB, South Carolina, Vanderbilt, Ark...","[Alabama, Texas A&M, Arkansas, Mississippi Sta...",True
1,2,Alabama,12-2,1,4,1,1,73,2,550,288,262,3,98-71,0.58,16,96-59,0.619,8,None,None,1,129,125,"[Miami (FL), Florida, Southern Miss, Ole Miss,...","[Texas A&M, Georgia, Arkansas, Mississippi Sta...",True
2,3,Michigan,12-2,1,4,1,1,67,3,501,243,258,4,93-78,0.544,38,91-66,0.58,18,None,None,1,129,125,"[Western Michigan, Washington, Northern Illino...","[Michigan State, Georgia, Purdue, Ohio State, ...",True
3,4,Oklahoma State,11-2,1,4,1,1,66,4,412,237,175,9,91-66,0.58,16,89-55,0.618,9,None,None,1,129,125,"[Tulsa, Boise State, Kansas State, Baylor, Tex...","[Iowa State, Baylor, Iowa, West Virginia, Texa...",True
4,5,Baylor,11-2,1,4,1,1,64,5,377,249,128,18,88-67,0.568,21,86-56,0.606,10,None,None,1,129,125,"[Texas State, Kansas, Iowa State, West Virgini...","[Oklahoma State, TCU, Iowa State, SMU, Texas, ...",True

In [ ]:
Team_Record = []
TS_Tier = []
WL_Tiers = []
SOR_Rank = []
TPD_Rank = []
AROS_Rank = []
ROSR_Rank = []
for Team, Record, Tier, TS, BWT, WLT, SOR, SORR, TPD, TPDR, AROS, AROSP, AROSR, ROSR, ROSRP, ROSRR in zip(df_team_scores_raw['Team'],df_team_scores_raw['Record'],
                          df_team_scores_raw['Tier'],df_team_scores_raw['Transitivity Score'],
df_team_scores_raw['Best Win Tier'],df_team_scores_raw['Worst Loss Tier'],
df_team_scores_raw['Strength of Record'],df_team_scores_raw['Strength of Record Rank']
,df_team_scores_raw['Total Point Differential'],df_team_scores_raw['Total Point Differential Rank']
,df_team_scores_raw['Adjusted Record of Schedule'],df_team_scores_raw['Adjusted Record of Schedule %']
,df_team_scores_raw['Adjusted Record of Schedule Rank'],df_team_scores_raw['Record of Schedule Remaining']
,df_team_scores_raw['Record of Schedule Remaining %'],df_team_scores_raw['Record of Schedule Remaining Rank']):
    Team_Record.append(Team+' '+'('+Record+')')
    TS_Tier.append(str(TS)+' '+'('+str(Tier)+')')
    WL_Tiers.append(str(BWT)+'/'+str(WLT))
    SOR_Rank.append(str(SOR)+' ('+str(SORR)+')')
    TPD_Rank.append(str(TPD)+' ('+str(TPDR)+')')
    AROS_Rank.append('('+str(AROS)+') '+str(AROSP)+' ('+str(AROSR)+')')
    if ROSRP == None:
        ROSR_Rank.append(None)
    else:
        ROSR_Rank.append('('+str(ROSR)+') '+str(ROSRP)+' ('+str(ROSRR)+')')
df_team_scores = pd.DataFrame(Rank,columns = ['Rank'])
df_team_scores['Team (FBS Record)'] = Team_Record
df_team_scores['Transitivity Score (Tier)'] = TS_Tier
df_team_scores['Best Win/Worst Loss Tier'] = WL_Tiers
df_team_scores['Strength of Record (Rank)'] = SOR_Rank
df_team_scores['Point Differential (Rank)'] = TPD_Rank
df_team_scores['Adjusted Record of Schedule (Rank)'] = AROS_Rank
df_team_scores['Record of Schedule Remaining (Rank)'] = ROSR_Rank


df_team_scores['Best Win/Worst Loss Tier'].replace('99','',inplace= True, regex = True)
df_team_scores['Best Win/Worst Loss Tier'].replace('-1','',inplace= True, regex = True)

df_team_scores['Rank'] = Rank

df_team_scores

,Rank,Team (FBS Record),Transitivity Score (Tier),Best Win/Worst Loss Tier,Strength of Record (Rank),Point Differential (Rank),Adjusted Record of Schedule (Rank),Record of Schedule Remaining (Rank)
0,1,Georgia (13-1),4 (1),1/1,87 (1),377 (1),(100-58) 0.633 (5),None
1,2,Alabama (12-2),4 (1),1/1,73 (2),262 (3),(96-59) 0.619 (8),None
2,3,Michigan (12-2),4 (1),1/1,67 (3),258 (4),(91-66) 0.58 (18),None
3,4,Oklahoma State (11-2),4 (1),1/1,66 (4),175 (9),(89-55) 0.618 (9),None
4,5,Baylor (11-2),4 (1),1/1,64 (5),128 (18),(86-56) 0.606 (10),None
5,6,Cincinnati (12-1),4 (1),1/1,63 (6),245 (5),(76-65) 0.539 (42),None
6,7,Ohio State (11-2),4 (1),1/1,58 (7),298 (2),(83-63) 0.568 (22),None
7,8,Notre Dame (11-2),4 (1),1/1,54 (8),202 (7),(78-66) 0.542 (38),None
8,9,Louisiana (12-1),4 (1),1/1,53 (9),173 (10),(64-75) 0.46 (105),None
9,10,San Diego State (11-2),4 (1),1/1,52 (10),79 (38),(75-66) 0.532 (48),None
10,11,Michigan State (10-2),4 (1),1/1,51 (11),57 (47),(75-59) 0.56 (26),None
11,12,UTSA (11-2),4 (1),1/1,46 (12),117 (23),(69-72) 0.489 (86),None
12,13,Oklahoma (10-2),4 (1),1/1,42 (13),97 (31),(66-65) 0.504 (72),None
13,14,Wisconsin (9-4),4 (1),1/1,39 (14),120 (22),(87-61) 0.588 (15),None
14,15,Wake Forest (10-3),4 (1),1/1,38 (15),145 (14),(72-66) 0.522 (56),None
15,16,Pittsburgh (10-3),4 (1),1/1,37 (16),179 (8),(69-68) 0.504 (72),None
16,17,Utah (9-4),4 (1),1/1,37 (16),167 (13),(83-62) 0.572 (21),None
17,18,Clemson (9-3),4 (1),1/1,36 (18),103 (30),(71-58) 0.55 (34),None
18,19,Ole Miss (9-3),4 (1),1/1,36 (18),80 (36),(72-60) 0.545 (37),None
19,20,Utah State (10-3),4 (1),1/1,35 (20),90 (32),(68-71) 0.489 (86),None
20,21,Houston (11-2),4 (1),1/1,34 (21),171 (11),(57-78) 0.422 (117),None
21,22,BYU (9-3),4 (1),1/1,34 (21),63 (44),(68-63) 0.519 (60),None
22,23,Iowa (10-4),4 (1),1/1,33 (23),59 (46),(81-75) 0.519 (60),None
23,24,Oregon (9-4),4 (1),1/1,33 (23),21 (60),(79-63) 0.556 (30),None
24,25,Appalachian State (9-4),4 (1),1/1,32 (25),139 (15),(78-62) 0.557 (29),None
25,26,Air Force (9-3),4 (1),1/1,31 (26),125 (19),(66-64) 0.508 (70),None
26,27,Fresno State (9-3),4 (1),1/1,30 (27),114 (26),(64-65) 0.496 (81),None
27,28,Purdue (9-4),4 (1),1/1,30 (27),87 (33),(78-66) 0.542 (38),None
28,29,Kentucky (9-3),4 (1),1/1,29 (29),133 (17),(64-69) 0.481 (92),None
29,30,Boise State (7-5),4 (1),1/1,29 (29),122 (21),(86-47) 0.647 (2),None
30,31,Arkansas (8-4),4 (1),1/1,26 (31),62 (45),(74-59) 0.556 (30),None
31,32,Coastal Carolina (10-2),4 (1),1/1,22 (32),213 (6),(46-79) 0.368 (129),None
32,33,North Carolina State (8-3),4 (1),1/1,22 (32),123 (20),(55-61) 0.474 (98),None
33,34,Minnesota (9-4),4 (1),1/1,22 (32),106 (29),(68-75) 0.476 (96),None
34,35,Army (8-4),4 (1),1/1,22 (32),84 (35),(68-64) 0.515 (65),None
35,36,Texas A&M (7-4),4 (1),1/1,19 (36),112 (27),(63-59) 0.516 (63),None
36,37,UAB (8-4),4 (1),1/1,19 (36),51 (48),(65-65) 0.5 (76),None
37,38,Western Kentucky (8-5),4 (1),1/1,17 (38),170 (12),(73-68) 0.518 (62),None
38,39,Northern Illinois (8-5),4 (1),1/1,17 (38),-48 (87),(75-69) 0.521 (58),None
39,40,Central Michigan (8-4),4 (1),1/1,14 (40),40 (52),(59-73) 0.447 (109),None
40,41,Western Michigan (7-5),4 (1),1/1,14 (40),27 (57),(71-63) 0.53 (49),None
41,42,UCLA (8-4),4 (1),1/1,13 (42),117 (23),(59-71) 0.454 (107),None
42,43,Miami (FL) (6-5),4 (1),1/1,13 (42),-1 (68),(68-52) 0.567 (23),None
43,44,Liberty (7-5),4 (1),1/1,12 (44),116 (25),(66-62) 0.516 (63),None
44,45,Kansas State (7-5),4 (1),1/1,12 (44),77 (40),(69-63) 0.523 (54),None
45,46,SMU (7-4),4 (1),1/1,11 (46),73 (42),(56-62) 0.475 (97),None
46,47,Georgia State (8-5),4 (1),1/1,10 (47),14 (66),(67-72) 0.482 (91),None
47,48,Penn State (6-6),4 (1),1/1,9 (48),79 (38),(80-57) 0.584 (16),None
48,49,Tennessee (6-6),4 (1),1/1,9 (48),77 (40),(81-54) 0.6 (12),None
49,50,Nevada (7-5),4 (1),1/1,8 (50),80 (36),(64-64) 0.5 (76),None
50,51,UCF (8-4),4 (1),1/1,7 (51),47 (50),(51-74) 0.408 (122),None
51,52,Iowa State (6-6),4 (1),1/1,6 (53),134 (16),(75-58) 0.564 (25),None
52,53,Maryland (6-6),4 (1),1/1,6 (53),-80 (95),(78-60) 0.565 (24),None
53,54,Mississippi State (6-6),4 (1),1/1,5 (55),-4 (70),(72-57) 0.558 (28),None
54,55,Auburn (5-7),4 (1),1/1,4 (56),23 (59),(85-51) 0.625 (6),None
55,56,Texas Tech (6-6),4 (1),1/1,4 (56),-4 (70),(71-61) 0.538 (43),None
56,57,South Carolina (6-6),4 (1),1/1,3 (58),-64 (91),(70-60) 0.538 (43),None
57,58,Arizona State (7-5),4 (1),1/1,2 (59),71 (43),(59-71) 0.454 (107),None
58,59,East Carolina (6-5),4 (1),1/1,2 (59),38 (53),(60-60) 0.5 (76),None
59,60,LSU (5-7),4 (1),1/1,1 (61),-28 (80),(80-52) 0.606 (10),None
60,61,Louisville (5-7),4 (1),1/1,0 (62),29 (55),(76-51) 0.598 (13),None
61,62,Oregon State (6-6),4 (1),1/1,0 (62),29 (55),(67-66) 0.504 (72),None
62,63,Texas (5-7),4 (1),1/1,-1 (64),50 (49),(77-55) 0.583 (17),None
63,64,Washington State (6-6),4 (1),1/1,-1 (64),27 (57),(68-64) 0.515 (65),None
64,65,Wyoming (6-6),4 (1),1/1,-2 (66),19 (62),(62-68) 0.477 (95),None
65,66,Missouri (5-7),4 (1),1/1,-2 (66),-93 (98),(75-56) 0.573 (20),None
66,67,Marshall (6-6),4 (1),1/1,-3 (68),86 (34),(65-66) 0.496 (81),None
67,68,Navy (4-8),4 (1),1/1,-4 (69),-98 (100),(84-47) 0.641 (3),None
68,69,Miami (OH) (6-6),4 (1),1/1,-5 (71),41 (51),(63-68) 0.481 (92),None
69,70,North Carolina (5-7),4 (1),1/1,-5 (71),21 (60),(71-59) 0.546 (36),None
70,71,Virginia (5-6),4 (1),1/1,-5 (71),-10 (73),(64-57) 0.529 (50),None
71,72,Eastern Michigan (6-6),4 (1),1/1,-6 (74),-18 (76),(61-68) 0.473 (99),None
72,73,West Virginia (5-7),4 (1),1/1,-6 (74),-48 (87),(74-59) 0.556 (30),None
73,74,Memphis (5-6),4 (1),1/1,-8 (76),-15 (75),(58-60) 0.492 (84),None
74,75,Kent State (6-7),4 (1),1/1,-10 (77),-96 (99),(69-73) 0.486 (88),None
75,76,Toledo (6-6),4 (1),1/1,-11 (78),112 (27),(56-72) 0.438 (111),None
76,77,Illinois (5-7),4 (1),1/1,-11 (78),-21 (77),(70-64) 0.522 (56),None
77,78,TCU (4-7),4 (1),1/1,-11 (78),-117 (105),(66-54) 0.55 (34),None
78,79,Florida (5-7),4 (1),1/1,-12 (81),33 (54),(69-63) 0.523 (54),None
79,80,UTEP (6-6),4 (1),1/1,-13 (82),-12 (74),(53-74) 0.417 (119),None
80,81,Syracuse (4-7),4 (1),1/1,-13 (82),-55 (90),(64-55) 0.538 (43),None
81,82,Ball State (5-7),4 (1),1/1,-13 (82),-66 (92),(66-66) 0.5 (76),None
82,83,Boston College (5-6),4 (1),1/1,-14 (85),-21 (77),(50-65) 0.435 (115),None
83,84,Middle Tennessee (6-6),4 (1),1/1,-15 (86),19 (62),(52-76) 0.406 (124),None
84,85,Virginia Tech (5-7),4 (1),1/1,-16 (87),-32 (82),(60-68) 0.469 (101),None
85,86,Hawaii (5-7),4 (1),1/1,-16 (87),-48 (87),(61-68) 0.473 (99),None
86,87,North Texas (5-7),4 (1),1/1,-19 (89),-30 (81),(56-72) 0.438 (111),None
87,88,Troy (4-7),4 (1),1/1,-19 (89),-91 (96),(60-59) 0.504 (72),None
88,89,San Jose State (4-7),4 (1),1/1,-20 (91),-109 (101),(58-62) 0.483 (90),None
89,90,Old Dominion (5-7),4 (1),1/1,-22 (92),-42 (86),(56-73) 0.434 (116),None
90,91,Rutgers (4-8),4 (1),1/1,-22 (92),-109 (101),(70-63) 0.526 (53),None
91,92,Louisiana–Monroe (3-8),4 (1),1/1,-24 (94),-156 (113),(65-55) 0.542 (38),None
92,93,Nebraska (2-9),4 (1),1/1,-26 (96),18 (64),(81-46) 0.638 (4),None
93,94,Florida Atlantic (4-7),4 (1),1/1,-26 (96),-35 (83),(52-67) 0.437 (113),None
94,95,USC (4-8),4 (1),1/1,-26 (96),-37 (85),(63-67) 0.485 (89),None
95,96,California (4-7),4 (1),1/1,-27 (100),6 (67),(48-70) 0.407 (123),None
96,97,South Alabama (4-7),4 (1),1/1,-27 (100),-25 (79),(49-67) 0.422 (117),None
97,98,Rice (3-8),4 (1),1/1,-28 (102),-190 (119),(62-59) 0.512 (68),None
98,99,Colorado (3-8),4 (1),1/1,-29 (103),-123 (106),(60-60) 0.5 (76),None
99,100,Georgia Tech (2-9),4 (1),1/1,-31 (106),-142 (110),(70-52) 0.574 (19),None
100,101,Stanford (3-9),4 (1),1/1,-31 (106),-144 (112),(68-64) 0.515 (65),None
101,102,Indiana (1-10),4 (1),1/1,-31 (106),-234 (124),(87-43) 0.669 (1),None
102,103,Charlotte (4-7),4 (1),1/1,-35 (109),-110 (103),(42-76) 0.356 (130),None
103,104,Tulane (1-10),4 (1),1/1,-35 (109),-126 (107),(74-45) 0.622 (7),None
104,105,Georgia Southern (2-9),4 (1),1/1,-35 (109),-139 (109),(64-55) 0.538 (43),None
105,106,New Mexico (2-9),4 (1),1/1,-36 (112),-205 (120),(62-57) 0.521 (58),None
106,107,Bowling Green (3-8),4 (1),1/1,-38 (114),-128 (108),(50-70) 0.417 (119),None
107,108,Northwestern (2-9),4 (1),1/1,-38 (114),-167 (116),(66-59) 0.528 (52),None
108,109,Buffalo (3-8),4 (1),1/1,-40 (116),-70 (93),(48-71) 0.403 (125),None
109,110,Louisiana Tech (2-9),4 (1),1/1,-40 (116),-75 (94),(56-61) 0.479 (94),None
110,111,South Florida (1-10),4 (1),1/1,-42 (118),-159 (114),(66-52) 0.559 (27),None
111,112,Kansas (1-10),4 (1),1/1,-43 (119),-260 (126),(67-54) 0.554 (33),None
112,113,Temple (2-9),4 (1),1/1,-43 (119),-288 (130),(55-63) 0.466 (103),None
113,114,Southern Miss (2-9),4 (1),1/1,-47 (122),-160 (115),(52-67) 0.437 (113),None
114,115,Arkansas State (1-10),4 (1),1/1,-50 (125),-179 (118),(58-60) 0.492 (84),None
115,116,Duke (2-9),4 (1),1/1,-51 (128),-231 (123),(46-71) 0.393 (128),None
116,117,Akron (1-10),4 (1),1/1,-62 (129),-257 (125),(47-72) 0.395 (127),None
117,118,Tulsa (7-5),4 (1),1/5,7 (51),-1 (68),(66-64) 0.508 (70),None
118,119,Florida State (5-6),4 (1),1/5,-4 (69),16 (65),(63-54) 0.538 (43),None
119,120,Texas State (4-7),4 (1),1/5,-24 (94),-111 (104),(54-64) 0.458 (106),None
120,121,Washington (4-7),4 (1),1/5,-26 (96),-8 (72),(53-67) 0.442 (110),None
121,122,UNLV (2-9),4 (1),1/5,-29 (103),-143 (111),(72-50) 0.59 (14),None
122,123,Colorado State (3-8),4 (1),1/5,-30 (105),-36 (84),(60-61) 0.496 (81),None
123,124,Ohio (3-8),4 (1),1/5,-37 (113),-91 (96),(49-69) 0.415 (121),None
124,125,Vanderbilt (2-9),4 (1),1/5,-45 (121),-221 (121),(56-64) 0.467 (102),None
125,126,Arizona (1-10),4 (1),1/5,-47 (122),-169 (117),(64-57) 0.529 (50),None
126,127,New Mexico State (1-10),-124 (2),3/1,-50 (125),-222 (122),(62-59) 0.512 (68),None
127,128,Massachusetts (1-9),-126 (3),4/5,-48 (124),-283 (129),(49-57) 0.462 (104),None
128,129,FIU (0-11),-126 (3),5/1,-71 (130),-270 (127),(47-71) 0.398 (126),None
129,130,UConn (0-10),-128 (4),5/5,-50 (125),-271 (128),(59-50) 0.541 (41),None

In [ ]:
head = df_team_scores_raw.head(25)
score_list = head['Team'].tolist()
AP = get_Final_AP_Poll(year)
AP_list = AP['Team'].tolist()
print(score_list)
print(AP_list)

['Georgia', 'Alabama', 'Michigan', 'Oklahoma State', 'Baylor', 'Cincinnati', 'Ohio State', 'Notre Dame', 'Louisiana', 'San Diego State', 'Michigan State', 'UTSA', 'Oklahoma', 'Wisconsin', 'Wake Forest', 'Pittsburgh', 'Utah', 'Clemson', 'Ole Miss', 'Utah State', 'Houston', 'BYU', 'Iowa', 'Oregon', 'Appalachian State']
['Georgia', 'Alabama', 'Michigan', 'Cincinnati', 'Baylor', 'Ohio State', 'Oklahoma State', 'Notre Dame', 'Michigan State', 'Oklahoma', 'Ole Miss', 'Utah', 'Pittsburgh', 'Clemson', 'Wake Forest', 'Louisiana', 'Houston', 'Kentucky', 'BYU', 'NC State', 'Arkansas', 'Oregon', 'Iowa', 'Utah State', 'San Diego State']

In [ ]:
Rankings_Compare(score_list, AP_list)

(112, 4.48)

In [ ]:
get_Games(1900)

,Wk,Date,Day,Winner,Pts,@,Loser,Pts.1
0,1,"Sep 14, 1900",Fri,Chicago,18,None,Englewood High,0
1,1,"Sep 15, 1900",Sat,Chicago,5,None,Hyde Park High,0
2,2,"Sep 22, 1900",Sat,Beloit,23,N,Wisconsin-Whitewater,0
3,2,"Sep 22, 1900",Sat,Carlisle,34,None,Lebanon Valley,0
4,2,"Sep 22, 1900",Sat,Chicago,24,None,Lombard,0
5,2,"Sep 22, 1900",Sat,Cornell,16,None,Colgate,0
6,2,"Sep 22, 1900",Sat,Holy Cross,6,None,Massachusetts,0
7,2,"Sep 22, 1900",Sat,Knox,34,None,Carthage,0
8,2,"Sep 22, 1900",Sat,Minneapolis Central High,0,@,Minnesota,0
9,2,"Sep 22, 1900",Sat,Northwestern,26,None,North Central,0
10,2,"Sep 22, 1900",Sat,Syracuse,35,None,Cortland State,0
11,2,"Sep 23, 1900",Sun,Penn State,17,None,Susquehanna,0
12,3,"Sep 26, 1900",Wed,Carlisle,21,N,Dickinson,0
13,3,"Sep 26, 1900",Wed,Chicago,29,None,Monmouth,0
14,3,"Sep 26, 1900",Wed,Minnesota,26,None,St. Paul Central High,0
15,3,"Sep 26, 1900",Wed,Northwestern,18,None,North Division High,6
16,3,"Sep 28, 1900",Fri,Iowa,57,None,Upper Iowa,0
17,3,"Sep 29, 1900",Sat,Amherst,23,None,Williston,0
18,3,"Sep 29, 1900",Sat,Army,5,None,Tufts,0
19,3,"Sep 29, 1900",Sat,Beloit,48,None,Sacred Heart (Wisconsin),0
20,3,"Sep 29, 1900",Sat,Brown,27,None,Colby,0
21,3,"Sep 29, 1900",Sat,Bucknell,36,None,Wyoming Seminary,0
22,3,"Sep 29, 1900",Sat,Carlisle,46,None,Susquehanna,0
23,3,"Sep 29, 1900",Sat,Chicago,16,None,Knox,0
24,3,"Sep 29, 1900",Sat,Cornell,6,None,Syracuse,0
25,3,"Sep 29, 1900",Sat,Drake,29,@,Des Moines Baptist,0
26,3,"Sep 29, 1900",Sat,Grinnell,5,N,Grinnell Alumni,0
27,3,"Sep 29, 1900",Sat,Harvard,24,None,Wesleyan (CT),0
28,3,"Sep 29, 1900",Sat,Holy Cross,5,None,WPI,0
29,3,"Sep 29, 1900",Sat,Illinois,26,None,Rose-Hulman,0
30,3,"Sep 29, 1900",Sat,Indiana Alumni,0,N,Indiana,0
31,3,"Sep 29, 1900",Sat,Iowa State,16,@,William Penn,0
32,3,"Sep 29, 1900",Sat,Massachusetts,12,None,Worcester Academy,0
33,3,"Sep 29, 1900",Sat,Michigan,29,None,Hillsdale,0
34,3,"Sep 29, 1900",Sat,Minnesota,66,None,Macalester,0
35,3,"Sep 29, 1900",Sat,Nebraska,17,None,Lincoln High,0
36,3,"Sep 29, 1900",Sat,Notre Dame,55,None,Goshen,0
37,3,"Sep 29, 1900",Sat,Penn,27,None,Lehigh,6
38,3,"Sep 29, 1900",Sat,Physicians & Surgeons,6,@,Northwestern,0
39,3,"Sep 29, 1900",Sat,Princeton,40,None,Stevens,0
40,3,"Sep 29, 1900",Sat,Purdue,39,None,Illinois Wesleyan,0
41,3,"Sep 29, 1900",Sat,Williams,10,None,Troy Laureates,0
42,3,"Sep 29, 1900",Sat,Wisconsin,50,None,Ripon,0
43,3,"Sep 29, 1900",Sat,Yale,22,None,Trinity (CT),0
44,3,"Sep 30, 1900",Sun,Penn State,12,N,Pittsburgh,0
45,4,"Oct 3, 1900",Wed,Brown,18,None,Holy Cross,0
46,4,"Oct 3, 1900",Wed,Chicago,23,None,Dixon,5
47,4,"Oct 3, 1900",Wed,Columbia,11,@,Rutgers,0
48,4,"Oct 3, 1900",Wed,Cornell,6,None,Rochester,0
49,4,"Oct 3, 1900",Wed,Harvard,12,None,Williams,0
50,4,"Oct 3, 1900",Wed,Illinois,63,None,DePauw,0
51,4,"Oct 3, 1900",Wed,Lafayette,34,None,Ursinus,0
52,4,"Oct 3, 1900",Wed,Minnesota,44,None,Carleton,0
53,4,"Oct 3, 1900",Wed,Penn,47,None,Franklin & Marshall,0
54,4,"Oct 3, 1900",Wed,Yale,27,None,Amherst,0
55,4,"Oct 5, 1900",Fri,Beloit,78,None,Ripon,0
56,4,"Oct 6, 1900",Sat,Amherst,39,@,WPI,0
57,4,"Oct 6, 1900",Sat,Brown,22,None,MIT,0
58,4,"Oct 6, 1900",Sat,Carlisle,45,None,Gettysburg,0
59,4,"Oct 6, 1900",Sat,Chicago,17,None,Purdue,5
60,4,"Oct 6, 1900",Sat,Columbia,12,None,Wesleyan (CT),0
61,4,"Oct 6, 1900",Sat,Cornell,6,None,Bucknell,0
62,4,"Oct 6, 1900",Sat,Dartmouth,10,None,Exeter,0
63,4,"Oct 6, 1900",Sat,Dickinson,12,@,Swarthmore,0
64,4,"Oct 6, 1900",Sat,Drake,6,None,Grinnell,0
65,4,"Oct 6, 1900",Sat,Harvard,12,None,Bowdoin,0
66,4,"Oct 6, 1900",Sat,Illinois,21,None,Illinois Wesleyan,0
67,4,"Oct 6, 1900",Sat,Indiana,18,None,Earlham,0
68,4,"Oct 6, 1900",Sat,Iowa,68,None,Northern Iowa,0
69,4,"Oct 6, 1900",Sat,Lafayette,35,None,Susquehanna,0
70,4,"Oct 6, 1900",Sat,Massachusetts,50,None,Norwich,0
71,4,"Oct 6, 1900",Sat,Michigan,11,None,Kalamazoo,0
72,4,"Oct 6, 1900",Sat,Minnesota,27,None,Iowa State,0
73,4,"Oct 6, 1900",Sat,Navy,6,None,Maryland-Baltimore,0
74,4,"Oct 6, 1900",Sat,Nebraska Alumni,0,N,Nebraska,0
75,4,"Oct 6, 1900",Sat,Northwestern,6,None,Rush Medical,0
76,4,"Oct 6, 1900",Sat,Notre Dame,68,None,Englewood High,0
77,4,"Oct 6, 1900",Sat,Penn State,0,@,Army,0
78,4,"Oct 6, 1900",Sat,Penn,38,None,Haverford,0
79,4,"Oct 6, 1900",Sat,Princeton,12,None,Lehigh,5
80,4,"Oct 6, 1900",Sat,Syracuse,70,None,St. Lawrence,0
81,4,"Oct 6, 1900",Sat,Williams,12,None,Rensselaer,0
82,4,"Oct 6, 1900",Sat,Wisconsin,5,None,Physicians & Surgeons,0
83,4,"Oct 6, 1900",Sat,Yale,30,None,Tufts,0
84,5,"Oct 9, 1900",Tue,Chicago,40,None,Rush Medical,0
85,5,"Oct 10, 1900",Wed,Bowdoin,68,None,Colby,0
86,5,"Oct 10, 1900",Wed,Harvard,18,None,Amherst,0
87,5,"Oct 10, 1900",Wed,Illinois,6,None,Physicians & Surgeons,0
88,5,"Oct 10, 1900",Wed,Lafayette,11,None,Manhattan,0
89,5,"Oct 10, 1900",Wed,Penn,35,None,Dickinson,0
90,5,"Oct 10, 1900",Wed,Princeton,26,None,Penn State,0
91,5,"Oct 10, 1900",Wed,Williams,0,@,Columbia,0
92,5,"Oct 10, 1900",Wed,Yale,50,None,Bates,0
93,5,"Oct 12, 1900",Fri,Iowa,47,None,Simpson,0
94,5,"Oct 12, 1900",Fri,Princeton,11,@,Johns Hopkins,0
95,5,"Oct 13, 1900",Sat,Army,28,None,Trinity (CT),0
96,5,"Oct 13, 1900",Sat,Bowdoin,5,None,Tufts,0
97,5,"Oct 13, 1900",Sat,Carlisle,17,N,Virginia,2
98,5,"Oct 13, 1900",Sat,Chicago,6,@,Minnesota,6
99,5,"Oct 13, 1900",Sat,Cornell,16,None,Washington & Jefferson,5
100,5,"Oct 13, 1900",Sat,Drake,50,None,Northern Iowa,0
101,5,"Oct 13, 1900",Sat,Grinnell,6,None,Cornell College,0
102,5,"Oct 13, 1900",Sat,Harvard,24,None,Columbia,0
103,5,"Oct 13, 1900",Sat,Holy Cross,0,@,Andover,0
104,5,"Oct 13, 1900",Sat,Illinois,16,None,Knox,0
105,5,"Oct 13, 1900",Sat,Lafayette,34,None,Swarthmore,2
106,5,"Oct 13, 1900",Sat,Lehigh,12,None,Bucknell,6
107,5,"Oct 13, 1900",Sat,Michigan,24,None,Case,6
108,5,"Oct 13, 1900",Sat,Nebraska,30,None,Iowa State,0
109,5,"Oct 13, 1900",Sat,Northwestern,12,None,Indiana,0
110,5,"Oct 13, 1900",Sat,Notre Dame,64,None,S.B. Howard Park,0
111,5,"Oct 13, 1900",Sat,Penn,12,None,Brown,0
112,5,"Oct 13, 1900",Sat,Princeton,5,@,Navy,0
113,5,"Oct 13, 1900",Sat,Purdue,28,None,DePauw,5
114,5,"Oct 13, 1900",Sat,Syracuse,12,None,NYU,0
115,5,"Oct 13, 1900",Sat,Wesleyan (CT),17,None,Massachusetts,0
116,5,"Oct 13, 1900",Sat,Williams,5,@,Union (NY),0
117,5,"Oct 13, 1900",Sat,Wisconsin,11,N,Beloit,0
118,5,"Oct 13, 1900",Sat,Yale,17,N,Dartmouth,0
119,6,"Oct 16, 1900",Tue,Illinois,35,None,Lombard,0
120,6,"Oct 17, 1900",Wed,Amherst,18,@,MIT,0
121,6,"Oct 17, 1900",Wed,Army,11,None,La Salle,0
122,6,"Oct 17, 1900",Wed,Columbia,45,None,Stevens,0
123,6,"Oct 17, 1900",Wed,Harvard,41,None,Bates,0
124,6,"Oct 17, 1900",Wed,Northwestern,23,None,Lake Forest Academy,0
125,6,"Oct 17, 1900",Wed,Penn,17,None,Penn State,5
126,6,"Oct 17, 1900",Wed,Princeton,43,None,Syracuse,0
127,6,"Oct 17, 1900",Wed,Yale,30,None,Bowdoin,0
128,6,"Oct 20, 1900",Sat,Beloit,26,None,Lawrence,0
129,6,"Oct 20, 1900",Sat,Brown,11,@,Chicago,6
130,6,"Oct 20, 1900",Sat,Cornell,11,None,Union (NY),0
131,6,"Oct 20, 1900",Sat,Dartmouth,12,None,Tufts,0
132,6,"Oct 20, 1900",Sat,Dickinson,18,None,Penn State,0
133,6,"Oct 20, 1900",Sat,Duquesne A.C.,29,None,Bucknell,0
134,6,"Oct 20, 1900",Sat,Hamilton,12,@,Williams,5
135,6,"Oct 20, 1900",Sat,Harvard,29,@,Army,0
136,6,"Oct 20, 1900",Sat,Holy Cross,6,None,Colby,5
137,6,"Oct 20, 1900",Sat,Illinois,0,@,Northwestern,0
138,6,"Oct 20, 1900",Sat,Indiana,62,None,Vincennes,0
139,6,"Oct 20, 1900",Sat,Knox,23,None,Monmouth,0
140,6,"Oct 20, 1900",Sat,Lehigh,21,None,Rutgers,0
141,6,"Oct 20, 1900",Sat,Michigan,11,None,Purdue,6
142,6,"Oct 20, 1900",Sat,Minnesota,26,None,Grinnell,0
143,6,"Oct 20, 1900",Sat,Navy,6,None,Georgetown,0
144,6,"Oct 20, 1900",Sat,Nebraska,8,None,Drake,0
145,6,"Oct 20, 1900",Sat,Notre Dame,58,None,Cincinnati,0
146,6,"Oct 20, 1900",Sat,Penn,30,None,Columbia,0
147,6,"Oct 20, 1900",Sat,Princeton,5,@,Lafayette,0
148,6,"Oct 20, 1900",Sat,Syracuse,5,None,Amherst,0
149,6,"Oct 20, 1900",Sat,Trinity (CT),6,None,UConn,0
150,6,"Oct 20, 1900",Sat,Wisconsin,64,None,Upper Iowa,0
151,6,"Oct 20, 1900",Sat,Yale,38,None,Wesleyan (CT),0
152,7,"Oct 24, 1900",Wed,Navy,15,None,Lehigh,0
153,7,"Oct 24, 1900",Wed,Williams,5,None,Massachusetts,0
154,7,"Oct 25, 1900",Thu,Indiana,6,None,Notre Dame,0
155,7,"Oct 26, 1900",Fri,Iowa,26,None,Drake,0
156,7,"Oct 27, 1900",Sat,Army,6,None,Williams,0
157,7,"Oct 27, 1900",Sat,Beloit,6,@,Northwestern,6
158,7,"Oct 27, 1900",Sat,Bowdoin,18,None,Camp Preble,0
159,7,"Oct 27, 1900",Sat,Bucknell,39,None,Williamsport,0
160,7,"Oct 27, 1900",Sat,Cornell,23,None,Dartmouth,6
161,7,"Oct 27, 1900",Sat,Dickinson,27,None,Haverford,0
162,7,"Oct 27, 1900",Sat,Duquesne A.C.,29,None,Penn State,0
163,7,"Oct 27, 1900",Sat,Harvard,17,None,Carlisle,5
164,7,"Oct 27, 1900",Sat,Holy Cross,17,None,Worcester Academy,0
165,7,"Oct 27, 1900",Sat,Iowa State,0,@,Simpson,0
166,7,"Oct 27, 1900",Sat,Knox,23,None,Illinois Wesleyan,0
167,7,"Oct 27, 1900",Sat,Lafayette,16,None,Newark A.C.,0
168,7,"Oct 27, 1900",Sat,Michigan,12,@,Illinois,0
169,7,"Oct 27, 1900",Sat,Minnesota,34,None,North Dakota,0
170,7,"Oct 27, 1900",Sat,Nebraska,0,@,Kansas City Medical,0
171,7,"Oct 27, 1900",Sat,Penn,41,None,Chicago,0
172,7,"Oct 27, 1900",Sat,Princeton,17,@,Brown,5
173,7,"Oct 27, 1900",Sat,Purdue,46,None,Rose-Hulman,5
174,7,"Oct 27, 1900",Sat,Trinity (CT),5,None,Wesleyan (CT),0
175,7,"Oct 27, 1900",Sat,Tufts,11,None,Amherst,0
176,7,"Oct 27, 1900",Sat,Wisconsin,45,None,Grinnell,0
177,7,"Oct 27, 1900",Sat,Yale,12,@,Columbia,5
178,7,"Oct 29, 1900",Mon,Nebraska,5,@,Tarkio,0
179,8,"Oct 31, 1900",Wed,Trinity (CT),23,None,Massachusetts,0
180,8,"Nov 3, 1900",Sat,Beloit,6,@,Notre Dame,6
181,8,"Nov 3, 1900",Sat,Bowdoin,11,@,Amherst,6
182,8,"Nov 3, 1900",Sat,Brown,12,None,Needham,5
183,8,"Nov 3, 1900",Sat,Cornell,12,@,Princeton,0
184,8,"Nov 3, 1900",Sat,Dickinson,49,None,Gettysburg,0
185,8,"Nov 3, 1900",Sat,Drake,6,@,Simpson,5
186,8,"Nov 3, 1900",Sat,Grinnell,22,@,Iowa State,5
187,8,"Nov 3, 1900",Sat,Hamilton,35,None,Trinity (CT),0
188,8,"Nov 3, 1900",Sat,Harvard,17,None,Penn,5
189,8,"Nov 3, 1900",Sat,Illinois,17,None,Purdue,5
190,8,"Nov 3, 1900",Sat,Iowa,17,@,Chicago,0
191,8,"Nov 3, 1900",Sat,Lafayette,34,@,Lehigh,0
192,8,"Nov 3, 1900",Sat,Michigan,12,None,Indiana,0
193,8,"Nov 3, 1900",Sat,Minnesota,6,None,Wisconsin,5
194,8,"Nov 3, 1900",Sat,Navy,18,None,Washington & Jefferson,0
195,8,"Nov 3, 1900",Sat,Northwestern,11,None,Knox,5
196,8,"Nov 3, 1900",Sat,Penn State,6,N,Bucknell,0
197,8,"Nov 3, 1900",Sat,Syracuse,6,@,Oberlin,0
198,8,"Nov 3, 1900",Sat,Tufts,28,None,New Hampshire,0
199,8,"Nov 3, 1900",Sat,Wesleyan (CT),16,None,Dartmouth,5
200,8,"Nov 3, 1900",Sat,Williams,11,None,Holy Cross,0
201,8,"Nov 3, 1900",Sat,Yale,18,@,Army,0
202,8,"Nov 5, 1900",Mon,Nebraska,12,@,Missouri,0
203,9,"Nov 6, 1900",Tue,Columbia,6,None,Princeton,5
204,9,"Nov 7, 1900",Wed,Army,23,None,Rutgers,0
205,9,"Nov 7, 1900",Wed,Trinity (CT),0,@,Amherst,0
206,9,"Nov 9, 1900",Fri,Knox,29,None,Lombard,0
207,9,"Nov 10, 1900",Sat,Army,11,None,Hamilton,0
208,9,"Nov 10, 1900",Sat,Beloit,17,@,Dixon,0
209,9,"Nov 10, 1900",Sat,Bowdoin,32,None,New Hampshire,0
210,9,"Nov 10, 1900",Sat,Brown,26,None,Tufts,5
211,9,"Nov 10, 1900",Sat,Bucknell,35,None,Susquehanna,0
212,9,"Nov 10, 1900",Sat,Columbia,17,@,Buffalo,0
213,9,"Nov 10, 1900",Sat,Cornell,29,None,Oberlin,0
214,9,"Nov 10, 1900",Sat,Drake,16,None,Iowa State,0
215,9,"Nov 10, 1900",Sat,Iowa,28,@,Michigan,5
216,9,"Nov 10, 1900",Sat,Lehigh,11,@,Haverford,10
217,9,"Nov 10, 1900",Sat,Massachusetts,10,None,Vermont,5
218,9,"Nov 10, 1900",Sat,Minnesota,23,None,Illinois,0
219,9,"Nov 10, 1900",Sat,Navy,44,None,Penn State,0
220,9,"Nov 10, 1900",Sat,Nebraska,33,None,Grinnell,0
221,9,"Nov 10, 1900",Sat,Northwestern,5,@,Chicago,0
222,9,"Nov 10, 1900",Sat,Penn,12,None,Lafayette,5
223,9,"Nov 10, 1900",Sat,Syracuse,6,None,Dickinson,0
224,9,"Nov 10, 1900",Sat,Trinity (CT),22,None,NYU,0
225,9,"Nov 10, 1900",Sat,Union (NY),0,@,Dartmouth,0
226,9,"Nov 10, 1900",Sat,Wesleyan (CT),11,None,Holy Cross,5
227,9,"Nov 10, 1900",Sat,Williams,16,@,Amherst,5
228,9,"Nov 10, 1900",Sat,Wisconsin,54,None,Notre Dame,0
229,9,"Nov 10, 1900",Sat,Yale,35,None,Carlisle,0
230,10,"Nov 13, 1900",Tue,Knox,18,@,Princeton A.C.,0
231,10,"Nov 14, 1900",Wed,Lehigh,6,None,Dickinson,0
232,10,"Nov 16, 1900",Fri,Iowa,63,None,Grinnell,2
233,10,"Nov 17, 1900",Sat,Army,18,None,Bucknell,10
234,10,"Nov 17, 1900",Sat,Beloit,6,@,Cornell College,0
235,10,"Nov 17, 1900",Sat,Bowdoin,17,@,Tufts,11
236,10,"Nov 17, 1900",Sat,Columbia,11,@,Navy,0
237,10,"Nov 17, 1900",Sat,Dartmouth,0,@,Vermont,0
238,10,"Nov 17, 1900",Sat,Harvard,11,None,Brown,6
239,10,"Nov 17, 1900",Sat,Holy Cross,16,None,MIT,0
240,10,"Nov 17, 1900",Sat,Homestead A.C.,50,@,Lehigh,0
241,10,"Nov 17, 1900",Sat,Illinois,0,@,Indiana,0
242,10,"Nov 17, 1900",Sat,Knox,11,@,Monmouth,6
243,10,"Nov 17, 1900",Sat,Lafayette,17,None,Cornell,0
244,10,"Nov 17, 1900",Sat,Massachusetts,17,@,UConn,6
245,10,"Nov 17, 1900",Sat,Michigan,7,None,Notre Dame,0
246,10,"Nov 17, 1900",Sat,Minnesota,21,None,Northwestern,0
247,10,"Nov 17, 1900",Sat,Nebraska,12,@,Kansas,0
248,10,"Nov 17, 1900",Sat,Northern Iowa,5,None,Iowa State,0
249,10,"Nov 17, 1900",Sat,Penn State,44,@,Gettysburg,0
250,10,"Nov 17, 1900",Sat,Penn,16,None,Carlisle,6
251,10,"Nov 17, 1900",Sat,Purdue,38,None,Earlham,0
252,10,"Nov 17, 1900",Sat,Syracuse,68,None,Rochester,5
253,10,"Nov 17, 1900",Sat,Wesleyan (CT),35,None,Williams,0
254,10,"Nov 17, 1900",Sat,William Penn,6,None,Drake,5
255,10,"Nov 17, 1900",Sat,Wisconsin,39,@,Chicago,5
256,10,"Nov 17, 1900",Sat,Yale,29,@,Princeton,5
257,11,"Nov 21, 1900",Wed,Dickinson,7,@,Franklin & Marshall,5
258,11,"Nov 21, 1900",Wed,Penn,28,@,Navy,6
259,11,"Nov 21, 1900",Wed,Washington & Jefferson,5,@,Carlisle,5
260,11,"Nov 24, 1900",Sat,Bowdoin,38,None,Maine,0
261,11,"Nov 24, 1900",Sat,Bucknell,0,@,Villanova,0
262,11,"Nov 24, 1900",Sat,Cornell,42,None,Vermont,0
263,11,"Nov 24, 1900",Sat,Drake,17,None,Grinnell,0
264,11,"Nov 24, 1900",Sat,Iowa State,17,@,Cornell College,0
265,11,"Nov 24, 1900",Sat,Lafayette,18,None,Lehigh,0
266,11,"Nov 24, 1900",Sat,Massachusetts,18,None,WPI,0
267,11,"Nov 24, 1900",Sat,Notre Dame,5,None,Rush Medical,0
268,11,"Nov 24, 1900",Sat,Ohio State,0,@,Michigan,0
269,11,"Nov 24, 1900",Sat,Syracuse,6,@,Brown,6
270,11,"Nov 24, 1900",Sat,Tufts,27,None,Holy Cross,0
271,11,"Nov 24, 1900",Sat,Wesleyan (CT),17,None,Amherst,0
272,11,"Nov 24, 1900",Sat,Wisconsin,27,None,Illinois,0
273,11,"Nov 24, 1900",Sat,Yale,28,None,Harvard,0
274,12,"Nov 29, 1900",Thu,Amherst,18,None,Massachusetts,0
275,12,"Nov 29, 1900",Thu,Beloit,43,None,Knox,0
276,12,"Nov 29, 1900",Thu,Brown,12,None,Dartmouth,5
277,12,"Nov 29, 1900",Thu,Buffalo,10,None,Penn State,0
278,12,"Nov 29, 1900",Thu,Chicago,15,None,Michigan,6
279,12,"Nov 29, 1900",Thu,Columbia,17,None,Carlisle,6
280,12,"Nov 29, 1900",Thu,Indiana,24,@,Purdue,5
281,12,"Nov 29, 1900",Thu,Iowa,5,@,Northwestern,5
282,12,"Nov 29, 1900",Thu,Lafayette,10,None,Dickinson,6
283,12,"Nov 29, 1900",Thu,Lehigh,18,None,Swarthmore,0
284,12,"Nov 29, 1900",Thu,Minnesota,20,@,Nebraska,12
285,12,"Nov 29, 1900",Thu,MIT,0,@,Tufts,0
286,12,"Nov 29, 1900",Thu,Notre Dame,5,None,Physicians & Surgeons,0
287,12,"Nov 29, 1900",Thu,Penn,27,None,Cornell,0
288,12,"Dec 1, 1900",Sat,Navy,11,N,Army,7
289,13,"Dec 8, 1900",Sat,Carlisle,22,@,Utah,0

In [ ]:
def get_Transitivity_Tree(Team, df_Games):
    Tree = []
    I = []
    I_new = []
    List1 = []
    List2 = []
    List3 = []
    Wins = get_Wins(Team, df_Games)
    for team in Wins:
        i = 0
        print(team)
        Tree.append(team)
        Team1 = team
#        Wins2 = get_Wins(team)
#        if Wins2:
#            for team in 


    team_list = get_Wins(team, df_Games)
    for team in team_list:
        num = get_Wins(team, df_Games)
    Wins = len(team_list)
    new_list = []
    length = len(team_list)
    I = [1] * length
    diff = team_list
    while length != 0:
        i = i + 1
        for team in diff:
            tlist = get_Wins(team,df_Games)
            for team2 in tlist:
                if team2 not in team_list: 
                    if team2 not in new_list:
                        if team2 in FBS:
                            if team2 != Team:
                                new_list.append(team2)
                                I_new.append(i)
                                List1.append(team2)
                                List2.append(team)
                                List3.append('('+str(i)+')'+''+team2+'-'+team)
        length = len(new_list)
        diff = new_list
        team_list = team_list + new_list 
        I = I + I_new
        new_list = []
        I_new = []

    return(List3,I)

In [ ]:
get_Transitivity_Tree('Georgia', df_Games)

Clemson
UAB
South Carolina
Vanderbilt
Arkansas
Auburn
Kentucky

(['(1)Troy-Louisiana–Monroe',
  '(1)Liberty-Louisiana–Monroe',
  '(1)Central Michigan-Missouri',
  '(1)North Texas-Missouri',
  '(1)East Carolina-South Carolina',
  '(1)Vanderbilt-South Carolina',
  '(1)Florida Atlantic-Florida',
  '(1)South Florida-Florida',
  '(1)Tennessee-Florida',
  '(1)Mississippi State-LSU',
  '(2)Southern Miss-Troy',
  '(2)Georgia Southern-Troy',
  '(2)Texas State-Troy',
  '(2)Old Dominion-Liberty',
  '(2)UAB-Liberty',
  '(2)Middle Tennessee-Liberty',
  '(2)FIU-Central Michigan',
  '(2)Ohio-Central Michigan',
  '(2)Toledo-Central Michigan',
  '(2)Marshall-East Carolina',
  '(2)Tulane-East Carolina',
  '(2)Colorado State-Vanderbilt',
  '(2)UConn-Vanderbilt',
  '(2)Bowling Green-Tennessee',
  '(2)Louisiana Tech-Mississippi State',
  '(2)North Carolina State-Mississippi State',
  '(2)Texas A&M-Mississippi State',
  '(3)Arkansas State-Georgia Southern',
  '(3)South Alabama-Texas State',
  '(3)Akron-Ohio',
  '(3)Ball State-Toledo',
  '(3)Massachusetts-Toledo',
  '(3)Navy-Marshall',
  '(3)San Jose State-Colorado State',
  '(3)New Mexico-Colorado State',
  '(3)Minnesota-Bowling Green',
  '(3)Clemson-North Carolina State',
  '(3)Boston College-North Carolina State',
  '(3)Kent State-Texas A&M',
  '(3)Colorado-Texas A&M',
  '(3)Alabama-Texas A&M',
  '(4)Army-Ball State',
  '(4)Western Michigan-Ball State',
  '(4)Eastern Michigan-Ball State',
  '(4)UCF-Navy',
  '(4)Hawaii-San Jose State',
  '(4)New Mexico State-San Jose State',
  '(4)Miami (OH)-Minnesota',
  '(4)Purdue-Minnesota',
  '(4)Nebraska-Minnesota',
  '(4)Georgia Tech-Clemson',
  '(4)Syracuse-Clemson',
  '(4)Temple-Boston College',
  '(4)Buffalo-Kent State',
  '(4)Arizona-Colorado',
  '(4)Miami (FL)-Alabama',
  '(4)Ole Miss-Alabama',
  '(5)Georgia State-Army',
  '(5)Western Kentucky-Army',
  '(5)Pittsburgh-Western Michigan',
  '(5)Boise State-UCF',
  '(5)Fresno State-Hawaii',
  '(5)Oregon State-Purdue',
  '(5)Illinois-Purdue',
  '(5)Iowa-Purdue',
  '(5)Northwestern-Nebraska',
  '(5)North Carolina-Georgia Tech',
  '(5)Duke-Georgia Tech',
  '(5)Memphis-Temple',
  '(5)Appalachian State-Miami (FL)',
  '(5)Louisville-Ole Miss',
  '(5)Arkansas-Ole Miss',
  '(6)Charlotte-Georgia State',
  '(6)Virginia Tech-Pittsburgh',
  '(6)UTEP-Boise State',
  '(6)Utah State-Boise State',
  '(6)BYU-Boise State',
  '(6)UCLA-Fresno State',
  '(6)UNLV-Fresno State',
  '(6)Wyoming-Fresno State',
  '(6)USC-Oregon State',
  '(6)Washington-Oregon State',
  '(6)Indiana-Iowa',
  '(6)Iowa State-Iowa',
  '(6)Maryland-Iowa',
  '(6)Penn State-Iowa',
  '(6)Rutgers-Northwestern',
  '(6)Virginia-North Carolina',
  '(6)Kansas-Duke',
  '(6)Florida State-Louisville',
  '(6)Rice-Arkansas',
  '(6)Texas-Arkansas',
  '(7)Washington State-Utah State',
  '(7)Air Force-Utah State',
  '(7)Utah-BYU',
  '(7)Arizona State-BYU',
  '(7)Stanford-UCLA',
  '(7)Northern Illinois-Wyoming',
  '(7)California-Washington',
  '(7)Kansas State-Iowa State',
  '(7)West Virginia-Maryland',
  '(7)Wisconsin-Penn State',
  '(7)Auburn-Penn State',
  '(7)Louisiana-Texas',
  '(7)Texas Tech-Texas',
  '(7)TCU-Texas',
  '(8)Oregon-Stanford',
  '(8)Nevada-Kansas State',
  '(8)Houston-Texas Tech',
  '(9)Ohio State-Oregon',
  '(9)Tulsa-Houston'],
 [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  2,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  3,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  4,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  5,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  6,
  7,
  7,
  7,
  7,
  7,
  7,
  7,
  7,
  7,
  7,
  7,
  7,
  7,
  7,
  8,
  8,
  8,
  9,
  9])

In [ ]:
amax = max(Tier_dict, key=Tier_dict.get)
Tier_Values = Tier_dict.values()
FCS = max(Tier_Values) + 1
FCS
#df_team_scores.dtypes

14

In [ ]:
df1 = df_team_scores.sort_values(by= ['T Wins','T Wins 2', '2nd Wins'], ascending = (False, False, False))
df2 = df_team_scores.sort_values(by= ['T Wins','Score', 'Wins'], ascending = (False, False, False))
df3 = df_team_scores.sort_values(by= ['T Wins','2nd Wins', 'T Wins 2'], ascending = (False, False, False))

head1 = df1.head(25)
score_list1 = head1['Team'].tolist()
head2 = df2.head(25)
score_list2 = head2['Team'].tolist()
head3 = df3.head(25)
score_list3 = head3['Team'].tolist()

R1 = Rankings_Compare(score_list1, AP_list)
R2 = Rankings_Compare(score_list2, AP_list)
R3 = Rankings_Compare(score_list3, AP_list)

print(R1)
print(R2)
print(R3)

(136, 5.44)
(128, 5.12)
(136, 5.44)

In [ ]:
Team = "Ohio"
year = 2021
week = 7
Teams = get_Teams(year)
print(Teams)
df_Games = get_Games(year)
Teams2 = get_Teams2(df_Games)
df_Games = clean_df(df_Games, Teams, Teams2, week)
Wins = get_Wins(Team, df_Games)
T_Wins = get_T_wins(Team, df_Games)
Record = get_Record(Team, df_Games)
print("Team: ", Team, year)
print("Record: ", Record)
print("Wins (",len(Wins),"):", Wins)
print("Transitive Wins (",len(T_Wins),"/",len(Teams)-1,"):", T_Wins)
Missing = []
for team in Teams:
    if team not in T_Wins and team != Team:
        Missing.append(team)
print("Missing:",Missing)

['Air Force', 'Akron', 'Alabama', 'Appalachian State', 'Arizona', 'Arizona State', 'Arkansas', 'Arkansas State', 'Army', 'Auburn', 'Ball State', 'Baylor', 'Boise State', 'Boston College', 'Bowling Green', 'Buffalo', 'BYU', 'California', 'Central Michigan', 'Charlotte', 'Cincinnati', 'Clemson', 'Coastal Carolina', 'Colorado', 'Colorado State', 'Duke', 'East Carolina', 'Eastern Michigan', 'FIU', 'Florida', 'Florida Atlantic', 'Florida State', 'Fresno State', 'Georgia', 'Georgia Southern', 'Georgia State', 'Georgia Tech', 'Hawaii', 'Houston', 'Illinois', 'Indiana', 'Iowa', 'Iowa State', 'Kansas', 'Kansas State', 'Kent State', 'Kentucky', 'Liberty', 'Louisiana', 'Louisiana–Monroe', 'Louisiana Tech', 'Louisville', 'LSU', 'Marshall', 'Maryland', 'Massachusetts', 'Memphis', 'Miami (FL)', 'Miami (OH)', 'Michigan', 'Michigan State', 'Middle Tennessee', 'Minnesota', 'Mississippi State', 'Missouri', 'Navy', 'Nebraska', 'Nevada', 'New Mexico', 'New Mexico State', 'North Carolina', 'North Carolina State', 'North Texas', 'Northern Illinois', 'Northwestern', 'Notre Dame', 'Ohio', 'Ohio State', 'Oklahoma', 'Oklahoma State', 'Old Dominion', 'Ole Miss', 'Oregon', 'Oregon State', 'Penn State', 'Pittsburgh', 'Purdue', 'Rice', 'Rutgers', 'San Diego State', 'San Jose State', 'South Alabama', 'South Carolina', 'South Florida', 'USC', 'SMU', 'Southern Miss', 'Stanford', 'Syracuse', 'TCU', 'Temple', 'Tennessee', 'Texas', 'Texas A&M', 'Texas State', 'Texas Tech', 'Toledo', 'Troy', 'Tulane', 'Tulsa', 'UAB', 'UCF', 'UCLA', 'UConn', 'UNLV', 'Utah', 'Utah State', 'UTEP', 'UTSA', 'Vanderbilt', 'Virginia', 'Virginia Tech', 'Wake Forest', 'Washington', 'Washington State', 'West Virginia', 'Western Kentucky', 'Western Michigan', 'Wisconsin', 'Wyoming']
Team:  Ohio 2021
Record:  (1–4)
Wins ( 1 ): ['Akron']
Transitive Wins ( 107 / 129 ): ['Akron', 'Bowling Green', 'Minnesota', 'Miami (OH)', 'Colorado', 'Purdue', 'Central Michigan', 'Oregon State', 'UConn', 'Illinois', 'FIU', 'Hawaii', 'USC', 'Washington', 'Nebraska', 'Charlotte', 'New Mexico State', 'Fresno State', 'San Jose State', 'Washington State', 'Arkansas State', 'California', 'Buffalo', 'Northwestern', 'Duke', 'Middle Tennessee', 'UCLA', 'UNLV', 'Old Dominion', 'Kansas', 'Marshall', 'LSU', 'Stanford', 'Arizona', 'Navy', 'Mississippi State', 'Vanderbilt', 'Oregon', 'UCF', 'Louisiana Tech', 'North Carolina State', 'Texas A&M', 'Colorado State', 'Ohio State', 'Boise State', 'East Carolina', 'North Texas', 'South Florida', 'Clemson', 'Kent State', 'New Mexico', 'Alabama', 'Toledo', 'Tulsa', 'Rutgers', 'Maryland', 'UTEP', 'Utah State', 'BYU', 'Tulane', 'Georgia Tech', 'Boston College', 'Miami (FL)', 'Florida', 'Southern Miss', 'Ole Miss', 'Ball State', 'Massachusetts', 'Memphis', 'Temple', 'Syracuse', 'West Virginia', 'Air Force', 'Utah', 'Arizona State', 'North Carolina', 'Missouri', 'Appalachian State', 'Florida Atlantic', 'Tennessee', 'Louisville', 'Arkansas', 'Army', 'Western Michigan', 'Liberty', 'Virginia Tech', 'Wyoming', 'Georgia State', 'Virginia', 'Georgia Southern', 'South Carolina', 'Florida State', 'Rice', 'Texas', 'Western Kentucky', 'Pittsburgh', 'Troy', 'UAB', 'Northern Illinois', 'Louisiana–Monroe', 'Louisiana', 'Texas Tech', 'TCU', 'Eastern Michigan', 'South Alabama', 'Houston', 'Texas State']
Missing: ['Auburn', 'Baylor', 'Cincinnati', 'Coastal Carolina', 'Georgia', 'Indiana', 'Iowa', 'Iowa State', 'Kansas State', 'Kentucky', 'Michigan', 'Michigan State', 'Nevada', 'Notre Dame', 'Oklahoma', 'Oklahoma State', 'Penn State', 'San Diego State', 'SMU', 'UTSA', 'Wake Forest', 'Wisconsin']

In [ ]:
get_Differential_Tier(df_Games, "Air Force", 4)

NameError: ignored

In [ ]:
year = 2021
week = 5

Team = []
team_list = []
Wins = []
Wins2 = []
I = []
T_Wins = []
T_Wins2 = []
T_Wins_List = []
score = []
Diff = []

df_Games = get_Games(year)
FBS = get_Teams(year)
Teams2 = get_Teams2(df_Games)
df_Games = clean_df(df_Games, FBS, Teams2, week)

for team in FBS:
    A, B, C, D, E, F = get_Team_scores(team, FBS, df_Games)
    Team.append(team)
    team_list.append(A)
    Wins.append(B)
    Wins2.append(C)
    I.append(D)
    T_Wins.append(E)
    score.append(F)
    G = get_T_wins(team,df_Games)
    T_Wins_List.append(G)
trans_win_dict = {Team[i] : T_Wins[i] for i in range(len(Team))}
for teams in team_list:
    c = 0
    if teams:
        for team in teams:
            if trans_win_dict.get(team):
                c = c + trans_win_dict.get(team)
    T_Wins2.append(c)

# New Parameters
T_Wins_Unique = []
Tier_List = []
Tier_Wins = []
Best_Wins = []
Count_List = []
for t in T_Wins:
    if t not in T_Wins_Unique:
        T_Wins_Unique.append(t)
T_Wins_Unique.sort(reverse = True)

l = len(T_Wins_Unique)
Tiers = list(range(1,l+1))
Tiers

for num in T_Wins:
   for num1, num2 in zip(T_Wins_Unique, Tiers):
      if num == num1:
          Tier_List.append(num2)
Tier_List
T_Wins

Tier_dict = {Team[i] : Tier_List[i] for i in range(len(Team))}

for tlist in team_list:
    Tier_Win = []
    Best_Win = 99
    Count = 0
    if tlist:
        for team in tlist:
            num = Tier_dict.get(team)
            Tier_Win.append(num)
        Best_Win = min(Tier_Win)
        Count = Tier_Win.count(Best_Win)
    Tier_Wins.append(Tier_Win)
    Best_Wins.append(Best_Win)
    Count_List.append(Count)

for team, BW in zip(Team, Best_Wins):
    Differential = get_Differential_Tier(df_Games, team, BW)
    Diff.append(Differential)

        
df_team_scores = pd.DataFrame(Team,columns = ['Team'])
df_team_scores['Tier'] = Tier_List
df_team_scores['Wins List'] = team_list
df_team_scores['T Wins List'] = T_Wins_List
df_team_scores['Best Win'] = Best_Wins
df_team_scores['Number of Wins'] = Count_List
df_team_scores['Differential'] = Diff


df_team_scores['Iterations'] = I
df_team_scores['Wins'] = Wins
df_team_scores['2nd Wins'] = Wins2
df_team_scores['T Wins'] = T_Wins
df_team_scores['T Wins 2'] = T_Wins2
df_team_scores['Score'] = score

pd.set_option("display.max_rows", None, "display.max_columns", None)
df_team_scores.sort_values(by= ['T Wins','Best Win', 'Differential'], ascending = (False, True, False), inplace = True)
df_team_scores.reset_index(drop = True, inplace = True)
df_team_scores

,Team,Tier,Wins List,T Wins List,Best Win,Number of Wins,Differential,Iterations,Wins,2nd Wins,T Wins,T Wins 2,Score
0,Oregon,1,"[Fresno State, Ohio State, Arizona]","[Fresno State, Ohio State, Arizona, UConn, UCL...",2,1,7,"[1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, ...",3,6,45,42,8.680664
1,Fresno State,2,"[UConn, UCLA, UNLV]","[UConn, UCLA, UNLV, Hawaii, LSU, Stanford, New...",3,1,3,"[1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, ...",3,3,36,33,6.861328
2,Michigan,2,"[Western Michigan, Washington, Northern Illino...","[Western Michigan, Washington, Northern Illino...",13,1,53,"[1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, ...",4,7,36,34,10.453125
3,UCLA,3,"[Hawaii, LSU, Stanford]","[Hawaii, LSU, Stanford, New Mexico State, Cent...",6,1,11,"[1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, ...",3,5,33,32,7.722656
4,Georgia,4,"[Clemson, UAB, South Carolina, Vanderbilt]","[Clemson, UAB, South Carolina, Vanderbilt, Geo...",13,1,7,"[1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, ...",4,5,26,22,8.031250
5,Oklahoma State,5,"[Tulsa, Boise State, Kansas State]","[Tulsa, Boise State, Kansas State, Arkansas St...",15,1,11,"[1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, ...",3,5,23,22,7.968750
6,UTSA,6,"[Illinois, Middle Tennessee, Memphis]","[Illinois, Middle Tennessee, Memphis, Nebraska...",7,1,3,"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 6, ...",3,3,22,24,5.891602
7,LSU,6,"[Central Michigan, Mississippi State]","[Central Michigan, Mississippi State, FIU, Lou...",9,1,3,"[1, 1, 2, 2, 2, 3, 3, 3, 4, 5, 6, 6, 7, 7, 8, ...",2,3,22,20,4.570312
8,Memphis,7,"[Arkansas State, Mississippi State]","[Arkansas State, Mississippi State, Louisiana ...",9,1,2,"[1, 1, 2, 2, 3, 3, 3, 4, 5, 6, 6, 7, 7, 8, 8, ...",2,2,21,19,4.070312
9,Notre Dame,8,"[Florida State, Toledo, Purdue, Wisconsin]","[Florida State, Toledo, Purdue, Wisconsin, Bal...",16,1,14,"[1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, ...",4,5,20,16,8.437500
10,Mississippi State,9,"[Louisiana Tech, North Carolina State]","[Louisiana Tech, North Carolina State, North T...",11,1,14,"[1, 1, 2, 2, 2, 3, 4, 5, 5, 6, 6, 7, 7, 7, 8, ...",2,3,19,17,4.140625
11,Wyoming,10,"[Northern Illinois, Ball State, UConn]","[Northern Illinois, Ball State, UConn, Georgia...",13,1,7,"[1, 1, 1, 2, 3, 4, 4, 5, 5, 6, 6, 6, 7, 7, 7, ...",3,1,17,14,4.281250
12,Maryland,11,"[West Virginia, Illinois, Kent State]","[West Virginia, Illinois, Kent State, Virginia...",13,1,6,"[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 6, 7, 7, 8]",3,2,16,17,5.257812
13,North Carolina State,11,"[South Florida, Clemson]","[South Florida, Clemson, Georgia Tech, North C...",13,1,6,"[1, 1, 2, 3, 4, 4, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8]",2,1,16,14,3.281250
14,Oklahoma,11,"[Tulane, Nebraska, West Virginia]","[Tulane, Nebraska, West Virginia, Buffalo, Vir...",13,1,3,"[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5, 5, 6, 7, 7, 8]",3,2,16,16,5.195312
15,Penn State,12,"[Wisconsin, Ball State, Auburn]","[Wisconsin, Ball State, Auburn, Eastern Michig...",19,1,8,"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 6]",3,3,15,12,5.781250
16,Alabama,12,"[Miami (FL), Florida, Southern Miss]","[Miami (FL), Florida, Southern Miss, Appalachi...",19,1,2,"[1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5]",3,4,15,12,6.375000
17,Clemson,13,[Georgia Tech],"[Georgia Tech, North Carolina, Georgia State, ...",14,1,6,"[1, 2, 3, 3, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7]",1,1,14,13,2.562500
18,West Virginia,13,[Virginia Tech],"[Virginia Tech, North Carolina, Middle Tenness...",14,1,6,"[1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6, 7, 7]",1,2,14,13,3.000000
19,Northern Illinois,13,[Georgia Tech],"[Georgia Tech, North Carolina, Georgia State, ...",14,1,1,"[1, 2, 3, 3, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7]",1,1,14,13,2.562500
20,Ole Miss,13,"[Louisville, Tulane]","[Louisville, Tulane, UCF, Florida State, Boise...",15,1,19,"[1, 1, 2, 2, 3, 4, 4, 5, 5, 5, 5, 6, 6, 7]",2,2,14,12,3.828125
21,Arkansas,13,"[Rice, Texas, Georgia Southern, Texas A&M]","[Rice, Texas, Georgia Southern, Texas A&M, Lou...",19,1,19,"[1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4]",4,6,14,12,7.625000
22,Georgia Tech,14,[North Carolina],"[North Carolina, Georgia State, Virginia, Char...",15,1,23,"[1, 2, 2, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6]",1,2,13,12,3.125000
23,Virginia Tech,14,"[North Carolina, Middle Tennessee]","[North Carolina, Middle Tennessee, Georgia Sta...",15,1,7,"[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 5, 6, 6]",2,2,13,12,4.000000
24,Louisville,15,"[UCF, Florida State]","[UCF, Florida State, Boise State, UTEP, Utah S...",17,1,7,"[1, 1, 2, 3, 3, 4, 4, 4, 4, 5, 5, 6]",2,1,12,10,3.656250
25,Kansas State,15,"[Stanford, Nevada]","[Stanford, Nevada, USC, Vanderbilt, California...",18,1,17,"[1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 5, 5]",2,3,12,10,4.625000
26,North Carolina,15,"[Georgia State, Virginia]","[Georgia State, Virginia, Charlotte, Illinois,...",21,1,42,"[1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5]",2,2,12,10,4.250000
27,Purdue,16,"[Oregon State, UConn, Illinois]","[Oregon State, UConn, Illinois, Hawaii, USC, N...",22,1,9,"[1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4]",3,3,11,8,5.625000
28,UCF,17,[Boise State],"[Boise State, UTEP, Utah State, New Mexico Sta...",18,1,5,"[1, 2, 2, 3, 3, 3, 3, 4, 4, 5]",1,2,10,9,3.312500
29,Army,17,"[Georgia State, Western Kentucky, UConn, Miami...","[Georgia State, Western Kentucky, UConn, Miami...",21,1,33,"[1, 1, 1, 1, 2, 3, 3, 4, 4, 5]",4,1,10,6,5.312500
30,Western Michigan,17,"[Pittsburgh, San Jose State]","[Pittsburgh, San Jose State, Massachusetts, Te...",21,1,3,"[1, 1, 2, 2, 2, 3, 3, 4, 5, 5]",2,3,10,8,4.250000
31,Michigan State,17,"[Northwestern, Miami (FL), Nebraska]","[Northwestern, Miami (FL), Nebraska, Ohio, App...",23,1,21,"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4]",3,3,10,7,5.375000
32,Kentucky,17,"[Louisiana–Monroe, Missouri, South Carolina]","[Louisiana–Monroe, Missouri, South Carolina, T...",24,1,6,"[1, 1, 1, 2, 2, 2, 3, 3, 3, 4]",3,3,10,7,5.375000
33,Boise State,18,"[UTEP, Utah State]","[UTEP, Utah State, New Mexico State, New Mexic...",22,1,24,"[1, 1, 2, 2, 2, 2, 3, 3, 4]",2,4,9,7,4.625000
34,Stanford,18,"[USC, Vanderbilt]","[USC, Vanderbilt, San Jose State, Washington S...",23,1,14,"[1, 1, 2, 2, 2, 3, 3, 4, 4]",2,3,9,7,4.250000
35,Auburn,19,"[Akron, Georgia State]","[Akron, Georgia State, Charlotte, Duke, Middle...",21,1,10,"[1, 1, 2, 3, 3, 4, 4, 5]",2,1,8,6,3.312500
36,Rutgers,19,"[Temple, Syracuse]","[Temple, Syracuse, Akron, Ohio, Liberty, Troy,...",22,1,10,"[1, 1, 2, 2, 2, 3, 3, 4]",2,3,8,6,4.125000
37,Texas,19,"[Louisiana, Rice, Texas Tech]","[Louisiana, Rice, Texas Tech, Ohio, Georgia So...",23,1,35,"[1, 1, 1, 2, 2, 2, 2, 3]",3,4,8,6,5.250000
38,Florida,19,"[Florida Atlantic, South Florida, Tennessee]","[Florida Atlantic, South Florida, Tennessee, G...",23,1,24,"[1, 1, 1, 2, 2, 3, 4, 4]",3,2,8,5,4.500000
39,Iowa,19,"[Indiana, Iowa State, Kent State, Colorado State]","[Indiana, Iowa State, Kent State, Colorado Sta...",25,1,10,"[1, 1, 1, 1, 2, 2, 2, 3]",4,3,8,4,5.750000
40,BYU,20,"[Arizona, Utah, Arizona State, South Florida]","[Arizona, Utah, Arizona State, South Florida, ...",25,1,10,"[1, 1, 1, 1, 2, 2, 2]",4,3,7,3,5.500000
41,Georgia State,21,[Charlotte],"[Charlotte, Duke, Middle Tennessee, Northweste...",22,1,11,"[1, 2, 2, 3, 3, 4]",1,2,6,5,2.625000
42,Wake Forest,21,"[Old Dominion, Florida State, Virginia]","[Old Dominion, Florida State, Virginia, Illino...",23,1,20,"[1, 1, 1, 2, 3, 4]",3,1,6,4,3.875000
43,Pittsburgh,21,"[Massachusetts, Tennessee]","[Massachusetts, Tennessee, Bowling Green, Minn...",23,1,7,"[1, 1, 2, 3, 4, 4]",2,1,6,4,3.000000
44,Ohio State,21,"[Minnesota, Tulsa, Akron]","[Minnesota, Tulsa, Akron, Miami (OH), Colorado...",25,1,14,"[1, 1, 1, 2, 2, 2]",3,3,6,3,4.500000
45,Boston College,21,"[Massachusetts, Temple, Missouri]","[Massachusetts, Temple, Missouri, Akron, Centr...",25,1,7,"[1, 1, 1, 2, 2, 3]",3,2,6,3,4.250000
46,Oregon State,22,"[Hawaii, USC]","[Hawaii, USC, New Mexico State, San Jose State...",23,1,18,"[1, 1, 2, 2, 2]",2,3,5,5,3.500000
47,Utah State,22,"[Washington State, Air Force]","[Washington State, Air Force, Navy, Florida At...",24,1,4,"[1, 1, 2, 2, 3]",2,2,5,3,3.250000
48,Charlotte,22,"[Duke, Middle Tennessee]","[Duke, Middle Tennessee, Northwestern, Kansas,...",24,1,3,"[1, 1, 2, 2, 3]",2,2,5,3,3.250000
49,South Alabama,22,"[Southern Miss, Bowling Green]","[Southern Miss, Bowling Green, Minnesota, Miam...",24,1,3,"[1, 1, 2, 3, 3]",2,1,5,3,3.000000
50,Syracuse,22,"[Ohio, Liberty]","[Ohio, Liberty, Troy, Old Dominion, Southern M...",24,1,3,"[1, 1, 2, 2, 3]",2,2,5,3,3.250000
51,Baylor,22,"[Texas State, Kansas, Iowa State]","[Texas State, Kansas, Iowa State, FIU, UNLV]",26,2,11,"[1, 1, 1, 2, 2]",3,2,5,2,4.000000
52,Tennessee,23,[Bowling Green],"[Bowling Green, Minnesota, Miami (OH), Colorado]",24,1,32,"[1, 2, 3, 3]",1,1,4,3,2.000000
53,Virginia,23,[Illinois],"[Illinois, Nebraska, Buffalo, Old Dominion]",24,1,28,"[1, 2, 3, 4]",1,1,4,3,1.875000
54,Wisconsin,23,[Eastern Michigan],"[Eastern Michigan, Massachusetts, Texas State,...",24,1,27,"[1, 2, 2, 3]",1,2,4,3,2.250000
55,Miami (FL),23,[Appalachian State],"[Appalachian State, East Carolina, Marshall, N...",24,1,2,"[1, 2, 2, 3]",1,2,4,3,2.250000
56,USC,23,"[San Jose State, Washington State]","[San Jose State, Washington State, Hawaii, New...",25,1,23,"[1, 1, 2, 3]",2,1,4,2,2.750000
57,Texas Tech,23,"[Houston, FIU]","[Houston, FIU, Rice, Navy]",25,1,17,"[1, 1, 2, 2]",2,2,4,2,3.000000
58,Texas A&M,23,"[Kent State, Colorado, New Mexico]","[Kent State, Colorado, New Mexico, New Mexico ...",26,1,34,"[1, 1, 1, 2]",3,1,4,1,3.500000
59,SMU,23,"[North Texas, Louisiana Tech, TCU]","[North Texas, Louisiana Tech, TCU, California]",26,2,10,"[1, 1, 1, 2]",3,2,4,2,3.500000
60,Coastal Carolina,23,"[Kansas, Buffalo, Massachusetts]","[Kansas, Buffalo, Massachusetts, Old Dominion]",26,1,3,"[1, 1, 1, 2]",3,1,4,1,3.500000
61,San Diego State,23,"[New Mexico State, Arizona, Utah]","[New Mexico State, Arizona, Utah, Washington S...",26,1,2,"[1, 1, 1, 2]",3,1,4,1,3.500000
62,Appalachian State,24,"[East Carolina, Marshall]","[East Carolina, Marshall, Navy]",25,1,14,"[1, 1, 2]",2,2,3,3,2.500000
63,Illinois,24,[Nebraska],"[Nebraska, Buffalo, Old Dominion]",25,1,8,"[1, 2, 3]",1,1,3,2,1.750000
64,Bowling Green,24,[Minnesota],"[Minnesota, Miami (OH), Colorado]",25,1,4,"[1, 2, 2]",1,2,3,2,2.000000
65,South Carolina,24,[East Carolina],"[East Carolina, Marshall, Navy]",25,1,3,"[1, 2, 3]",1,1,3,2,1.750000
66,Vanderbilt,24,[Colorado State],"[Colorado State, Toledo, Ball State]",25,1,3,"[1, 2, 3]",1,1,3,2,1.750000
67,Eastern Michigan,24,"[Massachusetts, Texas State]","[Massachusetts, Texas State, FIU]",26,1,38,"[1, 1, 2]",2,1,3,1,2.500000
68,Air Force,24,"[Navy, Florida Atlantic]","[Navy, Florida Atlantic, Georgia Southern]",26,1,24,"[1, 1, 2]",2,1,3,1,2.500000
69,Cincinnati,24,"[Miami (OH), Indiana]","[Miami (OH), Indiana, Western Kentucky]",26,1,14,"[1, 1, 2]",2,1,3,1,2.500000
70,Liberty,24,"[Troy, Old Dominion]","[Troy, Old Dominion, Southern Miss]",26,1,8,"[1, 1, 2]",2,1,3,1,2.500000
71,Duke,24,"[Northwestern, Kansas]","[Northwestern, Kansas, Ohio]",26,1,7,"[1, 1, 2]",2,1,3,1,2.500000
72,Nebraska,25,[Buffalo],"[Buffalo, Old Dominion]",26,1,25,"[1, 2]",1,1,2,1,1.500000
73,Colorado State,25,[Toledo],"[Toledo, Ball State]",26,1,16,"[1, 2]",1,1,2,1,1.500000
74,Louisiana–Monroe,25,[Troy],"[Troy, Southern Miss]",26,1,13,"[1, 2]",1,1,2,1,1.500000
75,Missouri,25,[Central Michigan],"[Central Michigan, FIU]",26,1,10,"[1, 2]",1,1,2,1,1.500000
76,UTEP,25,"[New Mexico State, New Mexico]","[New Mexico State, New Mexico]",26,1,7,"[1, 1]",2,1,2,1,2.000000
77,East Carolina,25,[Marshall],"[Marshall, Navy]",26,1,4,"[1, 2]",1,1,2,1,1.500000
78,San Jose State,25,[Hawaii],"[Hawaii, New Mexico State]",26,1,4,"[1, 2]",1,1,2,1,1.500000
79,Washington,25,"[Arkansas State, California]","[Arkansas State, California]",27,2,56,"[1, 1]",2,0,2,0,2.000000
80,Arizona State,25,"[UNLV, Colorado]","[UNLV, Colorado]",27,2,49,"[1, 1]",2,0,2,0,2.000000
81,Houston,25,"[Rice, Navy]","[Rice, Navy]",27,2,45,"[1, 1]",2,0,2,0,2.000000
82,Louisiana,25,"[Ohio, Georgia Southern]","[Ohio, Georgia Southern]",27,2,43,"[1, 1]",2,0,2,0,2.000000
83,UAB,25,"[North Texas, Tulane]","[North Texas, Tulane]",27,2,41,"[1, 1]",2,0,2,0,2.000000
84,Minnesota,25,"[Miami (OH), Colorado]","[Miami (OH), Colorado]",27,2,35,"[1, 1]",2,0,2,0,2.000000
85,Iowa State,26,[UNLV],[UNLV],27,1,45,[1],1,0,1,0,1.000000
86,Marshall,26,[Navy],[Navy],27,1,42,[1],1,0,1,0,1.000000
87,Florida Atlantic,26,[Georgia Southern],[Georgia Southern],27,1,32,[1],1,0,1,0,1.000000
88,Northwestern,26,[Ohio],[Ohio],27,1,29,[1],1,0,1,0,1.000000
89,Temple,26,[Akron],[Akron],27,1,21,[1],1,0,1,0,1.000000
90,Hawaii,26,[New Mexico State],[New Mexico State],27,1,20,[1],1,0,1,0,1.000000
91,Troy,26,[Southern Miss],[Southern Miss],27,1,12,[1],1,0,1,0,1.000000
92,Utah,26,[Washington State],[Washington State],27,1,11,[1],1,0,1,0,1.000000
93,Toledo,26,[Ball State],[Ball State],27,1,10,[1],1,0,1,0,1.000000
94,New Mexico,26,[New Mexico State],[New Mexico State],27,1,9,[1],1,0,1,0,1.000000
95,Louisiana Tech,26,[North Texas],[North Texas],27,1,7,[1],1,0,1,0,1.000000
96,Tulsa,26,[Arkansas State],[Arkansas State],27,1,7,[1],1,0,1,0,1.000000
97,Texas State,26,[FIU],[FIU],27,1,6,[1],1,0,1,0,1.000000
98,Nevada,26,[California],[California],27,1,5,[1],1,0,1,0,1.000000
99,Central Michigan,26,[FIU],[FIU],27,1,4,[1],1,0,1,0,1.000000
100,Indiana,26,[Western Kentucky],[Western Kentucky],27,1,2,[1],1,0,1,0,1.000000
101,TCU,26,[California],[California],27,1,2,[1],1,0,1,0,1.000000
102,Buffalo,26,[Old Dominion],[Old Dominion],27,1,1,[1],1,0,1,0,1.000000
103,Akron,27,[],[],99,0,0,[],0,0,0,0,0.000000
104,Arizona,27,[],[],99,0,0,[],0,0,0,0,0.000000
105,Arkansas State,27,[],[],99,0,0,[],0,0,0,0,0.000000
106,Ball State,27,[],[],99,0,0,[],0,0,0,0,0.000000
107,California,27,[],[],99,0,0,[],0,0,0,0,0.000000
108,Colorado,27,[],[],99,0,0,[],0,0,0,0,0.000000
109,FIU,27,[],[],99,0,0,[],0,0,0,0,0.000000
110,Florida State,27,[],[],99,0,0,[],0,0,0,0,0.000000
111,Georgia Southern,27,[],[],99,0,0,[],0,0,0,0,0.000000
112,Kansas,27,[],[],99,0,0,[],0,0,0,0,0.000000
113,Kent State,27,[],[],99,0,0,[],0,0,0,0,0.000000
114,Massachusetts,27,[],[],99,0,0,[],0,0,0,0,0.000000
115,Miami (OH),27,[],[],99,0,0,[],0,0,0,0,0.000000
116,Middle Tennessee,27,[],[],99,0,0,[],0,0,0,0,0.000000
117,Navy,27,[],[],99,0,0,[],0,0,0,0,0.000000
118,New Mexico State,27,[],[],99,0,0,[],0,0,0,0,0.000000
119,North Texas,27,[],[],99,0,0,[],0,0,0,0,0.000000
120,Ohio,27,[],[],99,0,0,[],0,0,0,0,0.000000
121,Old Dominion,27,[],[],99,0,0,[],0,0,0,0,0.000000
122,Rice,27,[],[],99,0,0,[],0,0,0,0,0.000000
123,South Florida,27,[],[],99,0,0,[],0,0,0,0,0.000000
124,Southern Miss,27,[],[],99,0,0,[],0,0,0,0,0.000000
125,Tulane,27,[],[],99,0,0,[],0,0,0,0,0.000000
126,UConn,27,[],[],99,0,0,[],0,0,0,0,0.000000
127,UNLV,27,[],[],99,0,0,[],0,0,0,0,0.000000
128,Washington State,27,[],[],99,0,0,[],0,0,0,0,0.000000
129,Western Kentucky,27,[],[],99,0,0,[],0,0,0,0,0.000000

In [ ]:
input_year = 2021
if 1941 <= input_year <= 1945:
    input_year = 1940
url="https://en.wikipedia.org/wiki/NCAA_Division_I_Football_Bowl_Subdivision_alignment_history"
# use urllib and BeautifulSoup in order to open and copy the html code of the webpage to another variable
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, 'lxml')
# use soup.find in order to pull out only the html code related to the data wanted
team_list = soup.findAll('div')
A = []
for row in soup.findAll('li'):
    strip = row.text.strip()
    A.append(strip)
team_list
A = A[26:-50]

B = []
C = []
D = []
stop = "1"
for s in A:
    index = s.find(" 1")
    index2 = s.find(" 2")
    if index2 == -1 or index < index2 and index != -1:
        B.append(s[:index])
    else:
        B.append(s[:index2])

df = pd.DataFrame(A,columns = ['Team1'])
df['Team'] = B

df.replace("as West Texas State","", inplace=True, regex = True)
df.replace(" \(\)","", inplace=True, regex = True)
df.replace("present","2021", inplace=True, regex = True) # update each year
df.replace("future","2024", inplace=True, regex = True) # update each year
df.replace("1981","AAAA", inplace = True, regex=True)
df.replace("81","1981", inplace = True, regex=True)
df.replace("AAAA","1981", inplace = True, regex=True)
df.replace("1940","AAAA", inplace = True, regex=True)
df.replace("40","1940", inplace = True, regex=True)
df.replace("AAAA","1940", inplace = True, regex=True)
df.replace("-40","-1981", inplace = True, regex=True)
df.replace("Southern California","USC", inplace = True, regex=True)


for s, s2 in zip(df['Team1'], df['Team']):
    s3 = s.replace(s2,"")
    C.append(s3)
print(C)
np.linspace(1940,1946,7)
for s in C:
    print(s)
    a = []
    length = len(s)
    char = 1
    while char < length:
        if length < 6:
            a.append(int(s[char:char+4]))
            break
        if s == " 2022–2021[a]":
            print('t')
            a.append(2022)
            break
        if s[char+4] == ',':
            a.append(int(s[char:char+4]))
            char = char + 6
        else:
            year1 = int(s[char:char+4])
            year2 = int(s[char+5:char+9])
            years = range(year1, year2+1)
            for year in years:
                a.append(year)
            char = char + 11
    D.append(a)
        
df['Years'] = D
df.drop(['Team1'], axis = 1, inplace = True)
df
Team_List = []
if input_year >= 1937:
    for team, years in zip(df['Team'], df['Years']):
        if input_year in years:
            Team_List.append(team)
if input_year < 1937:
    Team_List = df['Team'].to_list()
Team_List

['s', ' 1957–2021', ' 1987–2021', ' 1937–1940, 1946–2021', ' 1977', ' 1974–1981, 2014–2021', ' 1939–1940, 1946–2021', ' 1946–1948, 1950–1954, 1956–2021', ' 1937–1940, 1946–2021', ' 1975–1981, 1992–2021', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1975–1981, 1983–2021', ' 1937–1940, 1946–2021', ' 1996–2021', ' 1939–1940, 1946–2021', ' 1939–1940, 1947–1965', ' 1961–1981, 1983–2021', ' 1937–1940, 1946–1981', ' 1938–1940, 1946–1947', ' 1962–1970, 1999–2021', ' 1938–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1976–1992', ' 1937–1940', ' 1948', ' 1938–1947', ' 1975–2021', ' 2015–2021', ' 1946–1948, 1950, 1977–1981', ' 1937–1939', ' 1946, 1948–1981, 1983–2021', ' 1939, 1946–1952, 1959–1981', ' 1937–1940, 1946–2021', ' 2017–2021', ' 1937–1940, 1946–1981', ' 1937–1940, 1946–2021', ' 1946–1947', ' 1940, 1946–2021', ' 1938–1940, 1946–1981', ' 1937–1940, 1946–1981', ' 1939–1942', ' 1937–1940, 1946–1981', ' 1937–1940, 1946–1953, 1967–1976', ' 1956–1976', ' 1940–1960', ' 1939–1964', ' 1939–1940, 1946–1958, 1973–1980', ' 1937–1940, 1946–2021', ' 1937–1940, 1947–1950', ' 1966–2021', ' 1978–1981', ' 1976–1981, 1983–2021', ' 2006–2021', ' 1937–1940, 1946–2021', ' 2006–2021', ' 1955–2021', ' 1937–1940, 1946–1954', ' 1973–2021', ' 1946–1953, 1955–1957, 1965, 1973–1981', ' 1937–1940, 1946–1950', ' 1939–1966', ' 1937–1940, 1946–2021', ' 2014–2021', ' 2013–2021', ' 1937–1940, 1946–2021', ' 1938–1941', ' 1977', ' 1946–1948, 1950–1962', ' 1937–1940, 1946–1981', ' 1937–1938', ' 1974–2021', ' 1938–1940, 1946–1981', ' 1949–2021', ' 1938–1940, 1946–1967, 1969–1977, 1997–2017', ' 1937–1940, 1946–2021', ' 1976–1981', ' 1937–1940, 1946–2021', ' 1976–1981', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1977', ' 2023–2024', ' 2022–2021[a]', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1962–1981, 1983–2021', ' 1937, 1940–2021', ' 1938–1940, 1946–1950', ' 1974–1981', ' 1938–1940, 1946–1947', ' 2018–2021', ' 1973–1991', ' 1974–2021', ' 1975–1981, 1994–2021', ' 1975–1981, 1989–2021', ' 1951, 1962–2021', ' 1950–1951', ' 1940', ' 1937–1940, 1946–2021', ' 1937–1942', ' 1937–1960', ' 1962–1981, 1998–2021', ' 1937, 1940, 1946–2021', ' 2012–2021', ' 1975–1981', ' 1960–2021', ' 1946–1947', ' 1946–2021', ' 1948–1949, 1961–1981, 1983–2021', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1999–2021', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1939–1940, 1946–1962', ' 1946–1948', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1946–1950, 1992–2021', ' 1940', ' 1940, 1946–2021', ' 1946–1947, 1952–1953, 1959–2021', ' 1937–1940, 1946–2021', ' 1940, 1946–2021', ' 1957–1981, 1995–2021', ' 1946–1947', ' 1946–1947', ' 1969–1981, 1983–2021', ' 1937–1940, 1946–2021', ' 1976–1977', ' 1937–1940, 1946–2021', ' 1937–1948, 1951–1952', ' 1948, 1961–1981, 1983–2021', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1939–1940, 1946–2021', ' 2014–2021', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1950–1960, 1962–1963, 1966, 1969–1995', ' 1937–1940, 1946–1981', ' 1938–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1946–1948', ' 1937–1940, 1946–1981', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1940, 1946–1981', ' 1946–2021', ' 1940–1949', ' 1937–1940, 1946–1950', ' 2023–2024', ' 1969–2021', ' 1940–1951', ' 1939–1940, 1950–2021', ' 1937–1942, 1946–1952', ' 1937', ' 2012–2021', ' 1939–1940, 1946–2021', ' 2001–2021', ' 1937–1940, 1946–2021', ' 1973–1981', ' 1937–1940, 1946–1986, 1989–2021', ' 1960, 1963–2021', ' 1977', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1973–1974', ' 1937–1940, 1946–2021', ' 1938–1940, 1946–1953, 1971–2021', ' 1937–1940, 1946–2021', ' 1977–1980', ' 1937–1940, 1946–2021', ' 1972–1981', ' 1937–1940, 1946–2021', ' 1977', ' 2012–2021', ' 1937–1940, 1946–2021', ' 1962–2021', ' 1960', ' 2002–2021', ' 1937–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1996–2014, 2017–2021', ' 1996–2021', ' 1937–1940, 1946–2021', ' 2002–2021', ' 1978–2021', ' 1938–1940, 1946–2021', ' 1939–1940, 1946–2021', ' 1940, 1946–2021', ' 2012–2021', ' 1937–1940, 1946–2021', ' 1939–1940, 1946–1980', ' 1940, 1946–2021', ' 1940, 1946–2021', ' 1939–1940, 1946–1981', ' 1939–1940, 1946–2021', ' 1937–1940, 1946–2021', ' 1937–1940', ' 1940, 1946–1953', ' 1937–1940, 1946–2021', ' 1946–1947, 1951–1953, 1958–1980', ' 1939–1940, 1946–2021', ' 1977–1981', ' 2008–2021', ' 1962–2021', ' 1946–1986', ' 1940, 1946–1981', ' 1937–1940, 1946–2021', ' 1940, 1946–2021', ' 1960–1973', ' 1937–1940, 1946–1981', 'y']
s
 1957–2021
 1987–2021
 1937–1940, 1946–2021
 1977
 1974–1981, 2014–2021
 1939–1940, 1946–2021
 1946–1948, 1950–1954, 1956–2021
 1937–1940, 1946–2021
 1975–1981, 1992–2021
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1975–1981, 1983–2021
 1937–1940, 1946–2021
 1996–2021
 1939–1940, 1946–2021
 1939–1940, 1947–1965
 1961–1981, 1983–2021
 1937–1940, 1946–1981
 1938–1940, 1946–1947
 1962–1970, 1999–2021
 1938–1940, 1946–2021
 1937–1940, 1946–2021
 1976–1992
 1937–1940
 1948
 1938–1947
 1975–2021
 2015–2021
 1946–1948, 1950, 1977–1981
 1937–1939
 1946, 1948–1981, 1983–2021
 1939, 1946–1952, 1959–1981
 1937–1940, 1946–2021
 2017–2021
 1937–1940, 1946–1981
 1937–1940, 1946–2021
 1946–1947
 1940, 1946–2021
 1938–1940, 1946–1981
 1937–1940, 1946–1981
 1939–1942
 1937–1940, 1946–1981
 1937–1940, 1946–1953, 1967–1976
 1956–1976
 1940–1960
 1939–1964
 1939–1940, 1946–1958, 1973–1980
 1937–1940, 1946–2021
 1937–1940, 1947–1950
 1966–2021
 1978–1981
 1976–1981, 1983–2021
 2006–2021
 1937–1940, 1946–2021
 2006–2021
 1955–2021
 1937–1940, 1946–1954
 1973–2021
 1946–1953, 1955–1957, 1965, 1973–1981
 1937–1940, 1946–1950
 1939–1966
 1937–1940, 1946–2021
 2014–2021
 2013–2021
 1937–1940, 1946–2021
 1938–1941
 1977
 1946–1948, 1950–1962
 1937–1940, 1946–1981
 1937–1938
 1974–2021
 1938–1940, 1946–1981
 1949–2021
 1938–1940, 1946–1967, 1969–1977, 1997–2017
 1937–1940, 1946–2021
 1976–1981
 1937–1940, 1946–2021
 1976–1981
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1977
 2023–2024
 2022–2021[a]
t
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1962–1981, 1983–2021
 1937, 1940–2021
 1938–1940, 1946–1950
 1974–1981
 1938–1940, 1946–1947
 2018–2021
 1973–1991
 1974–2021
 1975–1981, 1994–2021
 1975–1981, 1989–2021
 1951, 1962–2021
 1950–1951
 1940
 1937–1940, 1946–2021
 1937–1942
 1937–1960
 1962–1981, 1998–2021
 1937, 1940, 1946–2021
 2012–2021
 1975–1981
 1960–2021
 1946–1947
 1946–2021
 1948–1949, 1961–1981, 1983–2021
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1999–2021
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1939–1940, 1946–1962
 1946–1948
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1946–1950, 1992–2021
 1940
 1940, 1946–2021
 1946–1947, 1952–1953, 1959–2021
 1937–1940, 1946–2021
 1940, 1946–2021
 1957–1981, 1995–2021
 1946–1947
 1946–1947
 1969–1981, 1983–2021
 1937–1940, 1946–2021
 1976–1977
 1937–1940, 1946–2021
 1937–1948, 1951–1952
 1948, 1961–1981, 1983–2021
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1939–1940, 1946–2021
 2014–2021
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1950–1960, 1962–1963, 1966, 1969–1995
 1937–1940, 1946–1981
 1938–1940, 1946–2021
 1937–1940, 1946–2021
 1946–1948
 1937–1940, 1946–1981
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1940, 1946–1981
 1946–2021
 1940–1949
 1937–1940, 1946–1950
 2023–2024
 1969–2021
 1940–1951
 1939–1940, 1950–2021
 1937–1942, 1946–1952
 1937
 2012–2021
 1939–1940, 1946–2021
 2001–2021
 1937–1940, 1946–2021
 1973–1981
 1937–1940, 1946–1986, 1989–2021
 1960, 1963–2021
 1977
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1973–1974
 1937–1940, 1946–2021
 1938–1940, 1946–1953, 1971–2021
 1937–1940, 1946–2021
 1977–1980
 1937–1940, 1946–2021
 1972–1981
 1937–1940, 1946–2021
 1977
 2012–2021
 1937–1940, 1946–2021
 1962–2021
 1960
 2002–2021
 1937–1940, 1946–2021
 1937–1940, 1946–2021
 1996–2014, 2017–2021
 1996–2021
 1937–1940, 1946–2021
 2002–2021
 1978–2021
 1938–1940, 1946–2021
 1939–1940, 1946–2021
 1940, 1946–2021
 2012–2021
 1937–1940, 1946–2021
 1939–1940, 1946–1980
 1940, 1946–2021
 1940, 1946–2021
 1939–1940, 1946–1981
 1939–1940, 1946–2021
 1937–1940, 1946–2021
 1937–1940
 1940, 1946–1953
 1937–1940, 1946–2021
 1946–1947, 1951–1953, 1958–1980
 1939–1940, 1946–2021
 1977–1981
 2008–2021
 1962–2021
 1946–1986
 1940, 1946–1981
 1937–1940, 1946–2021
 1940, 1946–2021
 1960–1973
 1937–1940, 1946–1981
y

['Air Force',
 'Akron',
 'Alabama',
 'Appalachian State',
 'Arizona',
 'Arizona State',
 'Arkansas',
 'Arkansas State',
 'Army',
 'Auburn',
 'Ball State',
 'Baylor',
 'Boise State',
 'Boston College',
 'Bowling Green',
 'Buffalo',
 'BYU',
 'California',
 'Central Michigan',
 'Charlotte',
 'Cincinnati',
 'Clemson',
 'Coastal Carolina',
 'Colorado',
 'Colorado State',
 'Duke',
 'East Carolina',
 'Eastern Michigan',
 'FIU',
 'Florida',
 'Florida Atlantic',
 'Florida State',
 'Fresno State',
 'Georgia',
 'Georgia Southern',
 'Georgia State',
 'Georgia Tech',
 'Hawaii',
 'Houston',
 'Illinois',
 'Indiana',
 'Iowa',
 'Iowa State',
 'Kansas',
 'Kansas State',
 'Kent State',
 'Kentucky',
 'Liberty',
 'Louisiana',
 'Louisiana–Monroe',
 'Louisiana Tech',
 'Louisville',
 'LSU',
 'Marshall',
 'Maryland',
 'Massachusetts',
 'Memphis',
 'Miami (FL)',
 'Miami (OH)',
 'Michigan',
 'Michigan State',
 'Middle Tennessee',
 'Minnesota',
 'Mississippi State',
 'Missouri',
 'Navy',
 'Nebraska',
 'Nevada',
 'New Mexico',
 'New Mexico State',
 'North Carolina',
 'North Carolina State',
 'North Texas',
 'Northern Illinois',
 'Northwestern',
 'Notre Dame',
 'Ohio',
 'Ohio State',
 'Oklahoma',
 'Oklahoma State',
 'Old Dominion',
 'Ole Miss',
 'Oregon',
 'Oregon State',
 'Penn State',
 'Pittsburgh',
 'Purdue',
 'Rice',
 'Rutgers',
 'San Diego State',
 'San Jose State',
 'South Alabama',
 'South Carolina',
 'South Florida',
 'USC',
 'SMU',
 'Southern Miss',
 'Stanford',
 'Syracuse',
 'TCU',
 'Temple',
 'Tennessee',
 'Texas',
 'Texas A&M',
 'Texas State',
 'Texas Tech',
 'Toledo',
 'Troy',
 'Tulane',
 'Tulsa',
 'UAB',
 'UCF',
 'UCLA',
 'UConn',
 'UNLV',
 'Utah',
 'Utah State',
 'UTEP',
 'UTSA',
 'Vanderbilt',
 'Virginia',
 'Virginia Tech',
 'Wake Forest',
 'Washington',
 'Washington State',
 'West Virginia',
 'Western Kentucky',
 'Western Michigan',
 'Wisconsin',
 'Wyoming']